<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="../../static/css/login/login.css">
</head>
<body>
   <section class="frame">

      <div class="signup-area">
      
    

            <!-- 아이디 -->
            <form class="login-id"> 
               <div class="input-id">     
                     <input type="text" placeholder="ID">

               </div>
            </form>


             <!-- 비밀번호 -->
             <div class="loing-pw"> 
               <div class="input-pw">
                  <input type="password" placeholder="PW">
               </div>
            </div>


          
            
            
         </div>
               
         <div class="loginNpw">
            <div class="checkout-area">
               
               <button type="submit" class="checkOut-btn">로그인</button>
               
               
            </div>
            
            <div class="find-pw" id="">
               <a href="">회원가입</a> <span> | </span> <a href="">비밀번호 찾기</a>
            </div>
            
            </div>
      
   </section>

</body>
</html>