<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>회원가입</title>
   <link rel="stylesheet" href="/css/login/sign-up.css">
      <link rel="stylesheet" href="/css/common/artistPageHeader.css">
</head>


<body>

   <th:block th:replace="~{common/artistPageHeader}"></th:block>

   <section class="frame">

      <div class="signup-area">
         <h1>회원가입</h1>
      </div>
      <div class="signup-page">

         <form action="/member/signup" method="post" id="signUpFrm">

            <!-- 이메일 -->
            <div class="email-form">
               <div class="input-email">

                  <input type="email" name="memberEmail" id="memberEmail" placeholder="이메일 입력">
                  <button class="auth-key-btn" id="sendAuthKeyBtn" type="button">인증 번호 전송</button>

               </div>

               <div class="not-null" id="emailMessage"> * 필수 작성 항목입니다. </div>
            </div>

            <!-- 인증 번호  -->
            <div class="authen-form">
               <div class="input-authen">

                  <input type="text" name="authKey" placeholder="인증번호 입력" id="authKey" class="input-auth-area">
                  <button id="checkAuthKeyBtn" type="button">인증 번호 확인</button>
                  <span class="timer" style="font-size: 14px;"> <span id="time-text">남은 시간 :</span> <span id="authKeyMessage"></span> </span>
               </div>
               <div class="not-null" id="authKeyMessage2"> * 필수 작성 항목입니다. </div>
            </div>

            <!-- 비밀번호 -->
            <div class="pw-form">
               <div class="input-pw">

                  <input type="password" name="memberPw" id="memberPw" placeholder="비밀번호 입력">

               </div>
               <div class="not-null" id="pwMessage"> * 필수 작성 항목입니다. </div>
            </div>

            <div class="pw-check-form">
               <div class="input-pw-check">

                  <input type="password" name="memberPwConfirm" id="memberPwConfirm" placeholder="비밀번호 확인">


               </div>

               <div class="not-null" id="pwConfirmMessage"> * 필수 작성 항목입니다. </div>
            </div>

            <div class="nickname-form">
               <div class="input-nickname">
                  <input type="text" name="memberNickname" id="memberNickname" placeholder="닉네임 입력">

               </div>
               <div class="not-null" id="nickMessage"> * 3 ~ 10자리로 입력해주세요. </div>
            </div>

            <div class="address-form">
               <div class="input-address">
                  <input type="text" name="memberAddress" id="memberAddress" class="member-address" placeholder="주소 입력">
                  <button class="address" type="button" onclick="selectAddress()">주소 찾기</button>
               </div>
               <div class="not-null" id="addrMessage"> * 필수 항목입니다. </div>
            </div>

            <div class="address-detail-form">
               <div class="input-address-detail">
                  <input type="text" name="memberAddressDetail" id="memberAddressDetail" class="member-address-detail" placeholder="상세 주소">

               </div>
               
               <div class="not-null"> * 필수 항목입니다. </div>
            </div>

            <div class="gender">
               성별 : 
               <select name="memberGender" id="gender-option">
                  <option value="M">남성</option>
                  <option value="F">여성</option>
               </select>
            </div>

            <div class="signUp-btn-wrapper">
               <button type="submit" class="checkOut-btn" >신청하기</button>
            </div>

         </form>

      </div>


      </div>


   </section>

   <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"> </script>
   <script src="/js/login/signup.js"></script>
</body>

</html>