<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/media/mediaInsert.css">
</head>
<body>
  <div class="frame">
    <div class="media-frame">
      <div class="media-edit">미디어 작성</div>

      <div class="media-insert">
        <div class="media-title-content">
          <div class="text-laber">제목(필수 항목)</div>
          <textarea class="media-title" placeholder="제목(필수 항목)"></textarea>
          <div class="text-laber">설명(선택 항목)</div>
          <textarea class="media-content" placeholder="설명(선택 항목)"></textarea>

        </div>
        <div style="height: 100%;">
          <div class="video-area">
            <textarea class="video-url" id="input-url" placeholder="동영상 URL을 입력하십시오"></textarea>

          </div>

          <div class="video-thumnail-box">
            <div class="video-thumnail">

              <!-- <img id="youtube-url" src="https://img.youtube.com/vi/D8VEhcPeSlc/0.jpg" alt=""> -->
              <iframe  id="youtube-url"
              src="https://img.youtube.com/vi/D8VEhcPeSlc/0.jpg" 
              title="YouTube video player" frameborder="0"></iframe>
            </div>
          </div>
        </div>
      </div>

      <div class="media-btn-area">
        <button class="media-btn">작성하기</button>
      </div>

    </div>
  </div>

  <script src="/js/media/mediaInsert.js"></script>
</body>
</html>