<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <link rel="stylesheet" href="/css/media/mediaList.css" />
    <link rel="stylesheet" href="/css/common/artristPageHeader.css">
    <link rel="stylesheet" href="/css/common/artistPageNavi.css">
  </head>
  <body>

    <th:block th:replace="~{common/atristPageHeader}"></th:block>
    <th:block th:replace="~{common/artistPageNavi}"></th:block>

    <div class="screen">
      <div class="frame">
        <div class="div">
          <div class="text-wrapper">미디어 목록</div>
          <div class="media-head">
            <form action="/media/list" method="get" style="display: flex; gap: 20px;">


              <div class="div-wrapper" >
                <div class="selectBox">
                  <select name="key" class="select">
                    <option value="1" th:selected = "${key} == 1">최신순</option>
                    <option value="2" th:selected = "${key} == 2">인기순</option>
                  </select>
                  <span class="icoArrow"><img  src="/img/line-347.svg" style="margin: auto;" alt=""></span>
                </div>
              </div>
              <div class="search-area">
                <img class="search-light" src="/img/search-light-1.svg" />
                <input class="search-input" name="mediaTitle" placeholder="제목을 입력해 주세요">
              </div>
              
              
            </form>
          </div>
        </div>
        <div class="media-list">
          
          <div class="component" th:each="media : ${mediaList}" th:object="${media}">
            <div class="frame-wrapper">
              <img id="youtube-url" th:src="|https://img.youtube.com/vi/*{mediaAddress}/mqdefault.jpg|"  style="width: 100%; height: 100%;" alt="">
              <div class="media-time-div"><div class="media-time" th:text="*{mediaTime}">05:20</div></div>
            </div>
            <div class="media-title-div"><div class="media-title" th:text="*{mediaTitle}">영상 제목</div></div>
            <div class="media-frame">
              <img class="vector" src="/img/vector.svg" />
              <div class="media-hits" th:text="*{mediaCount}">4k(조회수)</div>
            </div>
          </div>

        </div>

      </div>
    </div>

    <script th:inline="javascript">
      const mediaList = /*[[${mediaList}]]*/ "미디어리스트";
    </script>
    <script src="/js/media/mediaList.js"></script>
  </body>
</html>
