<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <link rel="stylesheet" href="/css/media/mediaList.css" />
    <link rel="stylesheet" href="/css/common/artistPageHeader.css">
    <link rel="stylesheet" href="/css/common/artistPageNavi.css">
  </head>
  <body>

    <th:block th:replace="~{common/artistPageHeader}"></th:block>
    <th:block th:replace="~{common/artistPageNavi}"></th:block>

    <main>

      <div class="screen">
        <div class="frame">
          <div class="div">
            <div class="text-wrapper">미디어 목록</div>
            <div class="media-head">
              <a th:href="insert" class="media-insert-wrapper" th:if="${session.loginMember.memberNo == artistAdminNo}">미디어 삽입하기</a>
              <form th:action="|/${artistGroupTitle}/media/list|" method="get" style="display: flex; gap: 20px;">
  
  
                <div class="div-wrapper" >
                  <div class="selectBox">
                    <select name="key" class="select">
                      <option value="1" th:selected = "${key} == 1">최신순</option>
                      <option value="2" th:selected = "${key} == 2">인기순</option>
                    </select>
                    <span class="icoArrow"><img  src="/img/line-347.svg" style="margin: auto;" alt=""></span>
                  </div>
                </div>
                <div class="search-area">
                  <img class="search-light" src="/img/search-light-1.svg" />
                  <input class="search-input" name="mediaTitle" placeholder="제목을 입력해 주세요">
                </div>
                
                
              </form>
            </div>
          </div>
          <div class="media-list">
            
            <div class="component" th:each="media : ${mediaList}" th:object="${media}">
              <div class="frame-wrapper">
                <a th:href="|/${artistGroupTitle}/media/*{mediaNo}/detail|">
                  <img id="youtube-url" th:src="|https://img.youtube.com/vi/*{mediaAddress}/mqdefault.jpg|"  style="width: 100%; height: 100%;" alt="">
                </a>
                <div class="media-time-div"><div class="media-time" th:text="*{mediaTime}">05:20</div></div>
              </div>
              <div class="media-title-div"><div class="media-title" th:text="*{mediaTitle}">영상 제목</div></div>
              <div class="media-frame">
                <img class="view-img" src="/img/view.svg" />
                <div class="media-hits" th:text="*{mediaCount}">4k(조회수)</div>
              </div>
            </div>
  
          </div>
  
        </div>
        
        <div class="pagination-area">
  
          <div class="pagination-area" th:if="${#lists.size(mediaList) > 0}">
  
            <ul class="pagination">
  
              <!-- 첫 페이지로 이동 -->
              <li><a th:href="@{/{artistGroupTitle}/media/list(artistGroupTitle=${artistGroupTitle}, cp=1, key=${key}, mediaTitle=${mediaTitle}  ) }">&lt;&lt;</a></li>
  
              <!-- 이전 목록 마지막 번호로 이동 -->
              <li><a th:href="@{/{artistGroupTitle}/media/list(artistGroupTitle=${artistGroupTitle}, cp=${pagination.prevPage }, key=${key}, mediaTitle=${mediaTitle}   )}">&lt;</a></li>
  
  
              <!-- 현재 보고있는 페이지 -->
              <!-- #numbers.sequence(1,10) 1~10증가하며 차례대로 추가한 리스트 -->
              <th:block th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage, 1)}">
                <li th:if="${i == pagination.currentPage}">
                  <a class="current active" th:text="${i}">1</a>
                </li>
  
                <!-- 보고있지 않은 페이지 -->
                <li th:unless="${i == pagination.currentPage}">
                  <a th:href="@{/{artistGroupTitle}/media/list(artistGroupTitle=${artistGroupTitle}, cp=${i}, key=${key}, mediaTitle=${mediaTitle}   )} " th:text="${i}">2</a>
                </li>
              </th:block>
  
  
  
              <!-- 다음 목록 시작 번호로 이동 -->
              <li><a th:href="@{/{artistGroupTitle}/media/list(artistGroupTitle=${artistGroupTitle}, cp=${pagination.nextPage }, key=${key}, mediaTitle=${mediaTitle}   )}">&gt;</a>
              </li>
  
              <!-- 끝 페이지로 이동 -->
              <li><a
                  th:href="@{/{artistGroupTitle}/media/list(artistGroupTitle=${artistGroupTitle}, cp=${pagination.maxPage }, key=${key}, mediaTitle=${mediaTitle}   )}">&gt;&gt;</a>
              </li>
            </ul>
          </div>
        </div>



      
    </main>

    <script th:inline="javascript">
      const mediaList = /*[[${mediaList}]]*/ "미디어리스트";
    </script>
    <script src="/js/media/mediaList.js"></script>
  </body>
</html>
