<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/media/mediaInsert.css">
</head>
<body>
  <div class="frame">
    
    <div class="media-frame">
      <form action="/media/insert" method="post" style="margin: auto;">
      <div class="media-edit">미디어 작성</div>
      
      <div class="media-insert">
        <div class="media-title-content">
            <div class="text-laber">제목(필수 항목)</div>
            <textarea class="media-title" name="mediaTitle" placeholder="제목(필수 항목)"></textarea>
            
            <div class="video-area">
              <textarea class="video-url" id="input-url" placeholder="동영상 URL을 입력하십시오"></textarea>
            </div>
            
            
            <div class="video-thumnail-box">
              <div class="video-thumnail">
                
                <!-- <img id="youtube-url" src="https://img.youtube.com/vi/D8VEhcPeSlc/0.jpg" alt=""> -->
                <iframe  id="youtube-url"
                src="" 
                title="YouTube video player" frameborder="0"></iframe>
                
              </div>
            </div>
            
            
            <div class="text-laber">설명(선택 항목)</div>
            <textarea class="media-content" name="mediaDescription" placeholder="설명(선택 항목)"></textarea>
            
          </div>
          
        </div>
        
        <div class="media-btn-area">
          <input type="hidden" value="" id="mediaAddress" name="mediaAddress">
          <input type="hidden" value="" id="mediaTime" name="mediaTime">
          <input type="hidden" value="1" name="artistGroupNo" id="artistGroupNo">
          <button class="media-btn" type="submit">작성하기</button>
        </div>
      </form>
        
      </div>
  </div>

  <script src="/js/media/mediaInsert.js"></script>
</body>
</html>