<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../static/css/myPage/dlatl.css">
</head>
<body>

  <div class="artist-list">
    <a href="#" class="artist-profile">
      <div class="artist-image-area"> 
        <img src="/images/newJeans.jpg">
      </div>
      <div class="artist-logo-wrap">
        <span class="artist-logo-area">
          <img src="/images/newJeans_logo.jpg" class="artist-main-logo">
        </span>
      </div>
      <div class="artist-text-area">
        <div class="artist-name"> NewJeans </div>
      </div>
    </a>  
</div>


  
</body>
</html>