<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/myPage/myPage-Purchase.css">
  <link rel="stylesheet" href="/css/myPage/myPage-navi.css">
  <link rel="stylesheet" href="/css/common/atristPageHeader.css">

  

</head>
<body>
  <th:block th:replace="~{common/atristPageHeader}"></th:block>

  <div class="all">
    <div class="BgImage">
      <img th:unless="${session.loginMember.memberBackImage == null}" th:src="${session.loginMember.memberBackImage}"
        width="100%" height="100%" id="memberBackImage">
      <img th:if="${session.loginMember.memberBackImage == null}" th:src="${session.loginMember.memberBackImage}"
        width="100%" height="100%" id="memberBackImage">
    </div>
    
    <div class="main">
      <th:block th:replace="~{myPage/myPage-navi2}"></th:block>

      <div class="main-2" th:object="${session.loginMember}">
        <div class="contentTitle">
          <h2>구매 내역</h2>
        </div>
        <div class="content">

          <div class="buyAll">
            <div class="buyDate">
              <li>[2023.11.23]</li>
            </div>
            <div class="deliver">
              <li>[배송중]</li>
            </div>
            <div class="buyContent">
              <div class="buy-img">
                <img src="/image/상품.png" width="100%" height="100%">
              </div>
              <div class="item">
                <div class="itemName">
                  <h3>LE SSERAFIM 2024 SEASON'S GREETINGS</h3>
                </div>
                <div class="itemCount">
                  <li>상품개수 : 3개</li>
                </div>
                <div class="itemprice">
                  <li>총 상품 금액 : 45,000원</li>
                </div>
              </div>
            </div>
            <hr class="myPageHr" width="750px">
          </div>
          


          <div class="buyAll">
            <div class="buyDate">
              <li>[2023.11.23]</li>
            </div>
            <div class="deliver">
              <li>[배송중]</li>
            </div>
            <div class="buyContent">
              <div class="buy-img">
                <img src="/image/상품.png" width="100%" height="100%">
              </div>
              <div class="item">
                <div class="itemName">
                  <li>LE SSERAFIM 2024 SEASON'S GREETINGS</li>
                </div>
                <div class="itemCount">
                  <li>상품개수 : 3개</li>
                </div>
                <div class="itemprice">
                  <li>총 상품 금액 : 45,000원</li>
                </div>
              </div>
            </div>
            <hr class="myPageHr" width="750px">
          </div>

          <div class="buyAll">
            <div class="buyDate">
              <li>[2023.11.23]</li>
            </div>
            <div class="deliver">
              <li>[배송중]</li>
            </div>
            <div class="buyContent">
              <div class="buy-img">
                <img src="/image/상품.png" width="100%" height="100%">
              </div>
              <div class="item">
                <div class="itemName">
                  <li>LE SSERAFIM 2024 SEASON'S GREETINGS</li>
                </div>
                <div class="itemCount">
                  <li>상품개수 : 3개</li>
                </div>
                <div class="itemprice">
                  <li>총 상품 금액 : 45,000원</li>
                </div>
              </div>
            </div>
            <hr class="myPageHr" width="750px">
          </div>

          <div class="buyAll">
            <div class="buyDate">
              <li>[2023.11.23]</li>
            </div>
            <div class="deliver">
              <li>[배송중]</li>
            </div>
            <div class="buyContent">
              <div class="buy-img">
                <img src="/image/상품.png" width="100%" height="100%">
              </div>
              <div class="item">
                <div class="itemName">
                  <li>LE SSERAFIM 2024 SEASON'S GREETINGS</li>
                </div>
                <div class="itemCount">
                  <li>상품개수 : 3개</li>
                </div>
                <div class="itemprice">
                  <li>총 상품 금액 : 45,000원</li>
                </div>
              </div>
            </div>
            <hr class="myPageHr" width="750px">
          </div>
        </div>
        
        <div class="pagination-area">
          <div class="pagination"><< < 1 2 3 4 5 6 7 8 9 10 > >></div>
        </div>
        
      </div>
    </div>
  
  </div>
</body>
</html>