<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../static/css/myPage/myPage-artist.css">
  

</head>
<body>

  <header>
    <div class="header">
      
      <div class="header-left-side">
        <a href="/" id="header-logo">
          <img src="../../static/images/logo.png" style="width:165px;"  />
        </a>
      </div>
      
      <div class="header-right-side">
        
        <form action="#" method="GET" style="display: inline-flex; border:none; ">
          <span class="search-area">
            <button id="searchBtn" class="fa-solid fa-magnifying-glass"> 
              <input type="search" name="query" id="search-input" placeholder="상품명 혹은 아티스트 검색" 
              autocomplete="off" > 
            </button>
          </span>
        </form>
      
        <a href="#"> 공지사항 </a>
        <span>|</span>
        <a href="/shop/home">샵 고객센터</a>
        <a href="#"><button id="loginPage"> 로그인</button></a>
        <a href="#"><button  id="signUp">회원가입</button></a>
      </div>    
          
    </div>

  </header>




  
  <div class="all">
    <div class="BgImage"><img src="../../static/image/아티스트 메인배경.jpg" width="100%" height="100%"></div>

    <div class="main">

      <div class="main-1">
        <div class="profile">
          <div class="profile-img">
            <img src="../../static/image/user.png" width="100%" height="100%">
          </div>
          <div class="profile-info">
            <div class="nickName"><h4>민둥민두</h4></div>
            <div class="email"><h4>javaman@gmail.com</h4></div>
            <div class="logout"><h4><a href="">로그아웃</a></h4></div>
          </div>
        </div>

        <hr class="myPageHr" width="280px" color="gray">

        <div class="sidebar">
          <div class="Bulletin">
            <div class="icon">
              <img src="../../static/image/게시글.png" width="100%" height="100%">
            </div>
            <div class="center">
              <a href="#">내가 작성한 게시글</a>
            </div>
            <div class="side">
              <img src="../../static/image/Vector 9.png" width="100%" height="100%">
            </div>
          </div>

          <div class="comment">
            <div class="icon">
              <img src="../../static/image/댓글.png" width="100%" height="100%">
            </div>
            <div class="center">
              <a href="#">내가 작성한 댓글</a>
            </div>
            <div class="side">
              <img src="../../static/image/Vector 9.png" width="100%" height="100%">
            </div>
          </div>

          <div class="artist">
            <div class="icon">
              <img src="../../static/image/아티스트.png" width="100%" height="100%">
            </div>
            <div class="center">
              <a href="#">구독한 아티스트</a>
            </div>
            <div class="side">
              <img src="../../static/image/Vector 9.png" width="100%" height="100%">
            </div>
          </div>

          <div class="Purchase">
            <div class="icon">
              <img src="../../static/image/구매내역.png" width="100%" height="100%">
            </div>
            <div class="center">
              <a href="#">구매내역</a>
            </div>
            <div class="side">
              <img src="../../static/image/Vector 9.png" width="100%" height="100%">
            </div>
          </div>

          <div class="Notice">
            <div class="icon"> 
              <img src="../../static/image/공지사항.png" width="100%" height="100%">
            </div>
            <div class="center">
              <a href="#">공지사항</a>
            </div>
            <div class="side">
              <img src="../../static/image/Vector 9.png" width="100%" height="100%">
            </div>
          </div>

        </div>
      </div>

      <div class="main-2">
        <div class="contentTitle">
          <h2>구독한 아티스트</h2>
        </div>
        <div class="content">


          <div class="artist-all">
            <ul>
              <li>
                <div class="artist-list">
                  <a href="#" class="artist-profile">
                    <div class="artist-image-area"> 
                      <img src="../../static/image/에스파.jpeg">
                    </div>
                    <div class="artist-logo-wrap">
                      <span class="artist-logo-area">
                        <img src="../../static/image/에스파로고.jpeg" class="artist-main-logo">
                      </span>
                    </div>
                    <div class="artist-text-area">
                      <div class="artist-name"> aespa </div>
                    </div>
                  </a>  
                </div>
              </li>
              <li>
                <div class="artist-list">
                  <a href="#" class="artist-profile">
                    <div class="artist-image-area"> 
                      <img src="../../static/image/에스파.jpeg">
                    </div>
                    <div class="artist-logo-wrap">
                      <span class="artist-logo-area">
                        <img src="../../static/image/에스파로고.jpeg" class="artist-main-logo">
                      </span>
                    </div>
                    <div class="artist-text-area">
                      <div class="artist-name"> aespa </div>
                    </div>
                  </a>  
                </div>
              </li>
              <li>
                <div class="artist-list">
                  <a href="#" class="artist-profile">
                    <div class="artist-image-area"> 
                      <img src="../../static/image/에스파.jpeg">
                    </div>
                    <div class="artist-logo-wrap">
                      <span class="artist-logo-area">
                        <img src="../../static/image/에스파로고.jpeg" class="artist-main-logo">
                      </span>
                    </div>
                    <div class="artist-text-area">
                      <div class="artist-name"> aespa </div>
                    </div>
                  </a>  
                </div>
              </li>
              <li>
                <div class="artist-list">
                  <a href="#" class="artist-profile">
                    <div class="artist-image-area"> 
                      <img src="../../static/image/에스파.jpeg">
                    </div>
                    <div class="artist-logo-wrap">
                      <span class="artist-logo-area">
                        <img src="../../static/image/에스파로고.jpeg" class="artist-main-logo">
                      </span>
                    </div>
                    <div class="artist-text-area">
                      <div class="artist-name"> aespa </div>
                    </div>
                  </a>  
                </div>
              </li>
              <li>
                <div class="artist-list">
                  <a href="#" class="artist-profile">
                    <div class="artist-image-area"> 
                      <img src="../../static/image/에스파.jpeg">
                    </div>
                    <div class="artist-logo-wrap">
                      <span class="artist-logo-area">
                        <img src="../../static/image/에스파로고.jpeg" class="artist-main-logo">
                      </span>
                    </div>
                    <div class="artist-text-area">
                      <div class="artist-name"> aespa </div>
                    </div>
                  </a>  
                </div>
              </li>
              <li>
                <div class="artist-list">
                  <a href="#" class="artist-profile">
                    <div class="artist-image-area"> 
                      <img src="../../static/image/에스파.jpeg">
                    </div>
                    <div class="artist-logo-wrap">
                      <span class="artist-logo-area">
                        <img src="../../static/image/에스파로고.jpeg" class="artist-main-logo">
                      </span>
                    </div>
                    <div class="artist-text-area">
                      <div class="artist-name"> aespa </div>
                    </div>
                  </a>  
                </div>
              </li>
              <li>
                <div class="artist-list">
                  <a href="#" class="artist-profile">
                    <div class="artist-image-area"> 
                      <img src="../../static/image/에스파.jpeg">
                    </div>
                    <div class="artist-logo-wrap">
                      <span class="artist-logo-area">
                        <img src="../../static/image/에스파로고.jpeg" class="artist-main-logo">
                      </span>
                    </div>
                    <div class="artist-text-area">
                      <div class="artist-name"> aespa </div>
                    </div>
                  </a>  
                </div>
              </li>
              <li>
                <div class="artist-list">
                  <a href="#" class="artist-profile">
                    <div class="artist-image-area"> 
                      <img src="../../static/image/에스파.jpeg">
                    </div>
                    <div class="artist-logo-wrap">
                      <span class="artist-logo-area">
                        <img src="../../static/image/에스파로고.jpeg" class="artist-main-logo">
                      </span>
                    </div>
                    <div class="artist-text-area">
                      <div class="artist-name"> aespa </div>
                    </div>
                  </a>  
                </div>
              </li>
              
            </ul>

          </div>
          
        </div>

        <div class="pagination-area">
          <div class="pagination"><< < 1 2 3 4 5 6 7 8 9 10 > >></div>
        </div>
        
      </div>
    </div>
  
  </div>
</body>
</html>