<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/myPage/myPage.css">
  <link rel="stylesheet" href="/css/common/atristPageHeader.css">
</head>
<body>

  <th:block th:replace="~{common/atristPageHeader}"></th:block>
  
  <div class="all">
    <div class="BgImage"><img src="/image/아티스트 메인배경.jpg" width="100%" height="100%"></div>

    <div class="main">

      <div class="main-1">
        <div class="profile">
          <div class="profile-img">
            <img src="/image/user.png" width="100%" height="100%">
          </div>
          <div class="profile-info">
            <div class="nickName"><h4>민둥민두</h4></div>
            <div class="email"><h4>javaman@gmail.com</h4></div>
            <div class="logout"><h4><a href="">로그아웃</a></h4></div>
          </div>
        </div>

        <hr class="myPageHr" width="280px" color="gray">

        <div class="sidebar">
          <div class="Bulletin">
            <div class="icon">
              <img src="/image/게시글.png" width="100%" height="100%">
            </div>
            <div class="center">
              <a href="/myPage/myPage">내가 작성한 게시글</a>
            </div>
            <div class="side">
              <img src="/image/Vector 9.png" width="100%" height="100%">
            </div>
          </div>

          <div class="comment">
            <div class="icon">
              <img src="/image/댓글.png" width="100%" height="100%">
            </div>
            <div class="center">
              <a href="/myPage/myPage-comment">내가 작성한 댓글</a>
            </div>
            <div class="side">
              <img src="/image/Vector 9.png" width="100%" height="100%">
            </div>
          </div>

          <div class="artist">
            <div class="icon">
              <img src="/image/아티스트.png" width="100%" height="100%">
            </div>
            <div class="center">
              <a href="/myPage/myPage-artist">구독한 아티스트</a>
            </div>
            <div class="side">
              <img src="/image/Vector 9.png" width="100%" height="100%">
            </div>
          </div>

          <div class="Purchase">
            <div class="icon">
              <img src="/image/구매내역.png" width="100%" height="100%">
            </div>
            <div class="center">
              <a href="/myPage/myPage-Purchase">구매내역</a>
            </div>
            <div class="side">
              <img src="/image/Vector 9.png" width="100%" height="100%">
            </div>
          </div>

          <div class="Notice">
            <div class="icon"> 
              <img src="/image/공지사항.png" width="100%" height="100%">
            </div>
            <div class="center">
              <a href="/myPage/myPage-Withdrawal">공지사항</a>
            </div>
            <div class="side">
              <img src="/image/Vector 9.png" width="100%" height="100%">
            </div>
          </div>

        
        </div>
      </div>

      <div class="main-2">
        <div class="contentTitle">
          <h2>내가 작성한 게시글</h2>
        </div>
        <div class="content">

          <div class="myBulletin">
            <div class="myProfile">
              <div class="profile-img-small">
                <img src="/image/user.png" width="100%">
              </div>
              <div class="profile-info-small">
                <div class="nickName-small"><h4>민둥민두</h4></div>
                <div class="date-small"><h6>2023-11-28</h6></div>
              </div>
            </div>
            <div class="myContent"><h3>지금 코노 가는중!!</h3></div>
            <div class="delete">
              <img src="/image/Heart.png">
              <img src="/image/Speech Bubble.png">
            </div>
          </div>
          <hr class="myPageHr" width="730px" color="gray"><br><br>

          <div class="myBulletin">
            <div class="myProfile">
              <div class="profile-img-small">
                <img src="/image/user.png" width="100%">
              </div>
              <div class="profile-info-small">
                <div class="nickName-small"><h3>민둥민두</h3></div>
                <div class="date-small"><h5>2023-11-28</h5></div>
              </div>
            </div>
            <div class="myContent"><h3>지금 코노 가는중!!!</h3></div>
            <div class="delete">
              <img src="/image/Heart.png">
              <img src="/image/Speech Bubble.png">
            </div>
          </div>

          <hr class="myPageHr" width="750px" color="gray"><br><br>

          <div class="myBulletin">
            <div class="myProfile">
              <div class="profile-img-small">
                <img src="/image/user.png" width="100%">
              </div>
              <div class="profile-info-small">
                <div class="nickName-small"><h3>민둥민두</h3></div>
                <div class="date-small"><h5>2023-11-28</h5></div>
              </div>
            </div>
            <div class="myContent"><h3>지금 코노 가는중!!!</h3></div>
            <div class="delete">
              <img src="/image/Heart.png">
              <img src="/image/Speech Bubble.png">
            </div>
          </div>

          <hr class="myPageHr" width="750px" color="gray"><br><br>

          <div class="myBulletin">
            <div class="myProfile">
              <div class="profile-img-small">
                <img src="/image/user.png" width="100%">
              </div>
              <div class="profile-info-small">
                <div class="nickName-small"><h3>민둥민두</h3></div>
                <div class="date-small"><h5>2023-11-28</h5></div>
              </div>
            </div>
            <div class="myContent"><h3>지금 코노 가는중!!!</h3></div>
            <div class="delete">
              <img src="/image/Heart.png">
              <img src="/image/Speech Bubble.png">
            </div>
          </div>

          <hr class="myPageHr" width="750px" color="gray"><br><br>

        </div>

        <div class="pagination-area" >
          <ul class="pagination">

            <!-- 첫 페이지로 이동 -->
            <li>
              <a >&lt;&lt;</a>
            </li>

            <!-- 이전 목록 마지막 번호로 이동 -->
            <li>
              <a >&lt;</a>
            </li>

            <th:block >

              <!-- 현재 보고있는 페이지 -->
              <li >
                <a class="current">1</a>
              </li>

              <!-- 보고있지 않은 페이지 -->
              <li >
                <a>2</a>
              </li>
            </th:block>

            <!-- 다음 목록 시작 번호로 이동 -->
            <li><a>&gt;</a></li>

            <!-- 끝 페이지로 이동 -->
            <li><a>&gt;&gt;</a></li>
          </ul>
        </div>

        
      </div>
    </div>
  
  </div>
</body>
</html>




