<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>myPage-Purchase</title>
  <link rel="stylesheet" href="/css/myPage/myPage-Purchase.css">
  <link rel="stylesheet" href="/css/myPage/myPage-navi.css">
  <link rel="stylesheet" href="/css/common/artistPageHeader.css">
  <link rel="stylesheet" href="/css/common/footer.css" />
</head>

<body>
  <th:block th:replace="~{common/artistPageHeader}"></th:block>

  <div class="orderModal">
    <div id="orderModal" class="modal-body">
      <button class="modalCloseButton">X</button>
      <div class="modal-orderDetail">
        <h3>주문 상세 조회</h3>
        <div class="order-info">
          <table class="order-info-table">

            <tr>
              <th class="order-nickname">이름</th>
              <td class="order-nickname-info">test</td>
            </tr>
            <tr>
              <th class="order-address">주소</th>
              <td class="order-address-info">test2</td>
            </tr>
            <tr>
              <th class="order-price">주문 가격</th>
              <td class="order-price-info">100000</td>
            </tr>
            <tr>
              <th class="order-status">주문 상태</th>
              <td class="order-status-info">주문 완료</td>
            </tr>
            
          </table>
        </div>
        <div class="product-info">


          <div>
            <div class="buyContent">
              <div class="buy-img">
                <img width="100%" height="100%">
              </div>
              <div class="item">
                <div class="itemName">
                  <h3>상품명</h3>
                </div>
                <div class="itemCount">
                  <h1></h1>
                  <li>상품개수: 0개</li>
                </div>
                <div class="itemprice">
                  <li>총 상품 금액: 0원</li>
                </div>
              </div>
            </div>
          </div>
          <hr class="myPageHr" width="750px">


        </div>
      </div>
    </div>
  </div>


  <div class="all">
    <div class="BgImage">
      <img th:unless="${session.loginMember.memberBackImage == null}" th:src="${session.loginMember.memberBackImage}"
        width="100%" height="100%" id="memberBackImage">
      <img th:if="${session.loginMember.memberBackImage == null}" th:src="#{user.default.backImg}" width="100%"
        height="100%" id="memberBackImage" style="object-fit:cover">
    </div>

    <div class="main" th:with="purchaseList=${map.purchaseList}, pagination=${map.pagination}">
      <th:block th:replace="~{myPage/myPage-navi2}"></th:block>

      <div class="main-2">
        <div class="contentTitle">
          <h2>구매 내역</h2>
        </div>
        <div class="content">

          <div class="buyAll" th:if="${#lists.size(purchaseList) == 0}">
            <div class="ment"><h3 id="no">구매 내역이 없습니다.</h3></div>
          </div>

          <div  th:unless="${#lists.size(purchaseList) == 0}">
            <div class="buyAll" th:each="purchase : ${purchaseList}" th:object="${purchase}">

              <div th:onclick="|selectPurchaseDetail(*{purchaseNo})|">
                <div class="buyDate">
                  <li th:text="*{purchaseDate}">[2023.11.23]</li>
                </div>
                <div class="deliver">
                  <li th:text="*{purchaseStatus}">[배송중]</li>
                </div>
                <div class="buyContent">
                  <div class="buy-img">
                    <img th:src="|*{productImageThumbnail}*{productImageThumbnailRename}|" width="100%" height="100%">
                  </div>
                  <div class="item">
                    <div class="itemName">
                      <h3 th:text="*{productName}">LE SSERAFIM 2024 SEASON'S GREETINGS</h3>
                    </div>
                    <div class="itemCount" >
                      <li th:text="|상품 개수: *{purcharseQuantity}개|">상품개수 : 3개</li>
          
                    </div>
                    <div class="itemprice">
                      <li th:value="|총 상품 금액 : ${purchasePrice}원|">총 상품 금액 : 45,000원</li>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="myPageHr" width="750px">
            </div>
          </div>

          <div class="pagination-area" th:if="${#lists.size(purchaseList) > 0}">
            <ul class="pagination">

              <!-- 첫 페이지로 이동 -->
              <li>
                <a th:href="@{/myPage/myPage-Purchase(cp=1)}">&lt;&lt;</a>
              </li>

              <!-- 이전 목록 마지막 번호로 이동 -->
              <li>
                <a th:href="@{/myPage/myPage-Purchase(cp=${pagination.prevPage})}">&lt;</a>
              </li>

              <th:block th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage, 1)}">

                <!-- 현재 보고있는 페이지 -->
                <li th:if="${i == pagination.currentPage}"><a class="current" th:text="${i}">1</a></li>

                <!-- 보고있지 않은 페이지 -->
                <li th:unless="${i == pagination.currentPage}"><a th:href="@{/myPage/myPage-Purchase(cp=${i})}"
                    th:text="${i}">2</a>
                </li>
              </th:block>

              <!-- 다음 목록 시작 번호로 이동 -->
              <li><a th:href="@{/myPage/myPage-Purchase(cp=${pagination.nextPage})}">&gt;</a></li>

              <!-- 끝 페이지로 이동 -->
              <li><a th:href="@{/myPage/myPage-Purchase(cp=${pagination.maxPage})}">&gt;&gt;</a></li>
            </ul>
          </div>

        </div>
      </div>

    </div>

    <th:block th:replace="~{common/footer}"></th:block>

    <script src="/js/admin/artistOrder.js"></script>
</body>

</html>