<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/myPage/myPage-Modify.css">
  <link rel="stylesheet" href="/css/myPage/myPage-navi.css">
  <link rel="stylesheet" href="/css/common/artistPageHeader.css">
  <link rel="stylesheet" href="/css/common/footer.css" />
</head>

<body>
  <th:block th:replace="~{common/artistPageHeader}"></th:block>

  <div class="all" th:object="${session.loginMember}">
    <div class="BgImage">
      <img th:if="${session.loginMember.memberBackImage == null}" th:src="#{user.default.backImg}" width="100%"
        height="100%" id="memberBackImage" style="object-fit:cover">
      <img th:unless="${session.loginMember.memberBackImage == null}" th:src="${session.loginMember.memberBackImage}"
        width="100%" height="100%" id="memberBackImage" style="object-fit:cover">
    </div>

    <div class="main">
      <th:block th:replace="~{myPage/myPage-navi2}"></th:block>

      <div class="main-2">
        <div class="contentTitle">
          <h2>회원 정보 수정</h2>
        </div>
        <div class="content">

          <div class="ModifyAll">
            <form action="profile" method="POST" name="myPageFrm" id="profileFrm" enctype="multipart/form-data">
              <div class="profileTxt">
                <h3>프로필 이미지</h3>
              </div>
              <div class="profileImgModify">
                <div class="profile-img-modify">
                  <label for="imageInput">
                    <!-- 프로필 이미지 없음 -->
                    <div class="userImg"><img th:if="${session.loginMember.memberProfile == null}"
                        th:src="#{user.default.imagCHATe}" width="100%" height="100%" id="memberProfile">
                    </div>
                    <!-- 프로필 이미지 있음 -->
                    <div class="userImg">
                      <img th:unless="${session.loginMember.memberProfile == null}"
                        th:src="${session.loginMember.memberProfile}" width="100%" height="100%" id="memberProfile"
                        style="width: 80px; height: 80px; border-radius: 100%; object-fit:cover">
                    </div>
                  </label>
                  <input type="file" name="memberProfile" id="imageInput" accept="image/*">
                </div>
                <div class="profileImgModifyBtn"><button>수정완료</button></div>
            </form>
          </div>

          <div class="bgTxt">
            <h3>배경화면</h3>
          </div>
          <form action="info" method="POST" name="infoForm" id="updateInfo" enctype="multipart/form-data">
            <div class="chooseBgImage">
              <div class="mainImg">
                <label for="inputBackImg">
                  <div class="btn-upload1">
                    <h1>+</h1>
                  </div>
                </label>
                <input type="file" name="backImage" id="inputBackImg">
              </div>
            </div>

            <div class="emailModify">
              <div class="modifySection1">
                <h3>이메일</h3>
              </div>
              <div class="modifySection2">
                <h3 th:text="*{memberEmail}">javaman@gmail.com</h3>
              </div>
            </div>

            <div class="nickNameModify">
              <div class="modifySection1">
                <h3>닉네임</h3>
              </div>
              <div class="modifySection2"><input type="text" th:value="*{memberNickname}" name="memberNickname"
                  id="memberNickname"></div>
            </div>

            <div class="pwModify">
              <div class="modifySection1">
                <h3>비밀번호</h3>
              </div>
              <div class="modifySection2"><input type="password" name="memberPw" id="memberPw"></div>
            </div>

            <div class="profileTxt">
              <h3>주소</h3>
            </div>

            <div class="address">

              <div class="signUp-input-area">
                <input type="text" name="address" placeholder="우편번호" maxlength="6" id="postcode">

                <button type="button" onclick="sample6_execDaumPostcode()">검색</button>
              </div>

              <div class="signUp-input-area">
                <input type="text" name="address" placeholder="도로명/지번 주소" id="address">
              </div>

              <div class="signUp-input-area">
                <input type="text" name="address" placeholder="상세 주소" id="detailAddress">
              </div>
            </div>


            <div class="ModifyBtn">
              <button>수정완료</button>
            </div>
          </form>



          <div class="WithdrawalBtn">
            <a href="/myPage/myPage-Withdrawal">
              <p>피에스타 회원 탈퇴하기</p>
            </a>
          </div>

        </div>

      </div>
    </div>
  </div>
  </div>

  <th:block th:replace="~{common/footer}"></th:block>

  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script src="/js/myPage/myPage.js"></script>

  <script th:inline="javascript">
    const memberAddress = /*[[${session.loginMember.memberAddress}]]*/ "회원 주소";
    const loginMembermemberProfile = /*[[${session.loginMember.memberProfile}]]*/ "회원 배경이미지";
    const loginMembermemberBackImage = /*[[${session.loginMember.memberBackImage}]]*/ "회원 배경이미지";


    if (memberAddress != null) {

      const arr = memberAddress.split("^^^");

      const inputs = document.querySelectorAll("[name='address']");

      inputs.forEach((item, index) => {
        item.value = arr[index];
      });
    }

  </script>




</body>

</html>