<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/myPage/myPage-artist.css">
  <link rel="stylesheet" href="/css/myPage/myPage-navi.css">
  <link rel="stylesheet" href="/css/common/artistPageHeader.css">
  <link rel="stylesheet" href="/css/common/footer.css" />


</head>

<body>
  <th:block th:replace="~{common/artistPageHeader}"></th:block>


  <div class="all" th:with="artistList=${map.artistList}, pagination=${map.pagination}">
    <div class="BgImage">
      <img th:unless="${session.loginMember.memberBackImage == null}" th:src="${session.loginMember.memberBackImage}"
        width="100%" height="100%" id="memberBackImage">
      <img th:if="${session.loginMember.memberBackImage == null}" th:src="#{user.default.backImg}" width="100%"
        height="100%" id="memberBackImage">
    </div>

    <div class="main">
      <th:block th:replace="~{myPage/myPage-navi2}"></th:block>

      <div class="main-2">
        <div class="contentTitle">
          <h2>구독한 아티스트</h2>
        </div>
        <div class="content">

          <div class="no-content" th:if="${#lists.size(artistList) == 0}">
            게시글이 없음!
          </div>


          <th:block th:unless="${#lists.size(artistList) == 0}">
            <div class="artist-all" th:each="ArtistSubscribe : ${artistList}" th:object="${ArtistSubscribe}">
              <div>
                <ul>
                  <li>
                    <div class="artist-list">
                      <a href="#" class="artist-profile">
                        <div class="artist-image-area">
                          <img src="./image/에스파.jpeg">
                        </div>
                        <div class="artist-logo-wrap">
                          <span class="artist-logo-area">
                            <img th:src="*{artistProfile}" class="artist-main-logo">
                          </span>
                        </div>
                        <div class="artist-text-area">
                          <div class="artist-name" th:text="*{artistGroupTitle}"> aespa </div>
                        </div>
                      </a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </th:block>
        </div>
      </div>
    </div>
  </div>
    
  <div class="pagination-area">
    <ul class="pagination">

      <!-- 첫 페이지로 이동 -->
      <li>
        <a th:href="@{/myPage/myPage-artist(cp=1)}">&lt;&lt;</a>
      </li>

      <!-- 이전 목록 마지막 번호로 이동 -->
      <li>
        <a th:href="@{/myPage/myPage-artist(cp=${pagination.prevPage})}">&lt;</a>
      </li>

      <th:block th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage, 1)}">

        <!-- 현재 보고있는 페이지 -->
        <li th:if="${i == pagination.currentPage}"><a class="current" th:text="${i}">1</a></li>

        <!-- 보고있지 않은 페이지 -->
        <li th:unless="${i == pagination.currentPage}"><a th:href="@{/myPage/myPage-artist(cp=${i})}"
            th:text="${i}">2</a>
        </li>
      </th:block>

      <!-- 다음 목록 시작 번호로 이동 -->
      <li><a th:href="@{/myPage/myPage-artist(cp=${pagination.nextPage})}">&gt;</a></li>

      <!-- 끝 페이지로 이동 -->
      <li><a th:href="@{/myPage/myPage-artist(cp=${pagination.maxPage})}">&gt;&gt;</a></li>
    </ul>
  </div>


  <th:block th:replace="~{common/footer}"></th:block>

  <script src="https://kit.fontawesome.com/2434a52ecc.js" crossorigin="anonymous"></script>

</body>

</html>