<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/myPage/myPage-artist.css">
  <link rel="stylesheet" href="/css/myPage/myPage-navi.css">
  <link rel="stylesheet" href="/css/common/atristPageHeader.css">



</head>

<body>
  <th:block th:replace="~{common/atristPageHeader}"></th:block>


  <div class="all">
    <div class="BgImage">
      <img th:unless="${session.loginMember.memberBackImage == null}" th:src="${session.loginMember.memberBackImage}"
        width="100%" height="100%" id="memberBackImage">
      <img th:if="${session.loginMember.memberBackImage == null}" th:src="${session.loginMember.memberBackImage}"
        width="100%" height="100%" id="memberBackImage">
    </div>
    
    <div class="main">
      <th:block th:replace="~{myPage/myPage-navi2}"></th:block>

      <div class="main-2">
        <div class="contentTitle">
          <h2>구독한 아티스트</h2>
        </div>
        <div class="content">


          <div class="artist-all">
            <ul>
              <li>
                <div class="artist-list">
                  <a href="#" class="artist-profile">
                    <div class="artist-image-area">
                      <img src="../../static/image/에스파.jpeg">
                    </div>
                    <div class="artist-logo-wrap">
                      <span class="artist-logo-area">
                        <img src="../../static/image/에스파로고.jpeg" class="artist-main-logo">
                      </span>
                    </div>
                    <div class="artist-text-area">
                      <div class="artist-name"> aespa </div>
                    </div>
                  </a>
                </div>
              </li>
              <li>
                <div class="artist-list">
                  <a href="#" class="artist-profile">
                    <div class="artist-image-area">
                      <img src="../../static/image/에스파.jpeg">
                    </div>
                    <div class="artist-logo-wrap">
                      <span class="artist-logo-area">
                        <img src="../../static/image/에스파로고.jpeg" class="artist-main-logo">
                      </span>
                    </div>
                    <div class="artist-text-area">
                      <div class="artist-name"> aespa </div>
                    </div>
                  </a>
                </div>
              </li>
              <li>
                <div class="artist-list">
                  <a href="#" class="artist-profile">
                    <div class="artist-image-area">
                      <img src="../../static/image/에스파.jpeg">
                    </div>
                    <div class="artist-logo-wrap">
                      <span class="artist-logo-area">
                        <img src="../../static/image/에스파로고.jpeg" class="artist-main-logo">
                      </span>
                    </div>
                    <div class="artist-text-area">
                      <div class="artist-name"> aespa </div>
                    </div>
                  </a>
                </div>
              </li>
              <li>
                <div class="artist-list">
                  <a href="#" class="artist-profile">
                    <div class="artist-image-area">
                      <img src="../../static/image/에스파.jpeg">
                    </div>
                    <div class="artist-logo-wrap">
                      <span class="artist-logo-area">
                        <img src="../../static/image/에스파로고.jpeg" class="artist-main-logo">
                      </span>
                    </div>
                    <div class="artist-text-area">
                      <div class="artist-name"> aespa </div>
                    </div>
                  </a>
                </div>
              </li>
              <li>
                <div class="artist-list">
                  <a href="#" class="artist-profile">
                    <div class="artist-image-area">
                      <img src="../../static/image/에스파.jpeg">
                    </div>
                    <div class="artist-logo-wrap">
                      <span class="artist-logo-area">
                        <img src="../../static/image/에스파로고.jpeg" class="artist-main-logo">
                      </span>
                    </div>
                    <div class="artist-text-area">
                      <div class="artist-name"> aespa </div>
                    </div>
                  </a>
                </div>
              </li>
              <li>
                <div class="artist-list">
                  <a href="#" class="artist-profile">
                    <div class="artist-image-area">
                      <img src="../../static/image/에스파.jpeg">
                    </div>
                    <div class="artist-logo-wrap">
                      <span class="artist-logo-area">
                        <img src="../../static/image/에스파로고.jpeg" class="artist-main-logo">
                      </span>
                    </div>
                    <div class="artist-text-area">
                      <div class="artist-name"> aespa </div>
                    </div>
                  </a>
                </div>
              </li>
              <li>
                <div class="artist-list">
                  <a href="#" class="artist-profile">
                    <div class="artist-image-area">
                      <img src="../../static/image/에스파.jpeg">
                    </div>
                    <div class="artist-logo-wrap">
                      <span class="artist-logo-area">
                        <img src="../../static/image/에스파로고.jpeg" class="artist-main-logo">
                      </span>
                    </div>
                    <div class="artist-text-area">
                      <div class="artist-name"> aespa </div>
                    </div>
                  </a>
                </div>
              </li>
              <li>
                <div class="artist-list">
                  <a href="#" class="artist-profile">
                    <div class="artist-image-area">
                      <img src="../../static/image/에스파.jpeg">
                    </div>
                    <div class="artist-logo-wrap">
                      <span class="artist-logo-area">
                        <img src="../../static/image/에스파로고.jpeg" class="artist-main-logo">
                      </span>
                    </div>
                    <div class="artist-text-area">
                      <div class="artist-name"> aespa </div>
                    </div>
                  </a>
                </div>
              </li>

            </ul>

          </div>

        </div>

        <div class="pagination-area">
          <div class="pagination">
            << < 1 2 3 4 5 6 7 8 9 10> >>
          </div>
        </div>

      </div>
    </div>
    
    <th:block th:replace="~{common/footer}"></th:block>

  </div>
  <script src="https://kit.fontawesome.com/2434a52ecc.js" crossorigin="anonymous"></script>

</body>

</html>