<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>공지사항 목록</title>
    <link rel="stylesheet" href="/css/admin/artistNotice.css" />
  </head>
  <body>
    <header>헤더+nav</header>


    <div class="noticeModal">
      <div id="noticeModal" class="modal-body">
        <button class="modalCloseButton">X</button>
        <div class="modal-noticeDetail">
          <h4>NewJeans</h4>
          <h1>공지사항</h1>
          <br />
          <div class="modal-noticeTitle">[공지] 안드로이드 OS 6.0 이하 버전 업데이트 지원중단 안내</div>
          <div class="modal-noticeContent">
            안녕하세요. 공식 상품 스토어, 위버스샵입니다. NewJeans collaboration 상품을 12월 1일 (금) 부터 판매합니다.
          </div>
          <div class="modal-noticeUpdate">
            <button value="0" id="updateBtn">수정</button>
            <button value="0" id="deleteBtn">삭제</button>
          </div>
        </div>
      </div>
    </div>


    <div class="updateModal">
      <div id="updateModal" class="modal-body">
        <button class="modalCloseButton" id="update-close">X</button>
        <div class="modal-noticeDetail">
          <div class="notice-add">
            <h4>NewJeans</h4>
            <h1>아티스트 공지사항 수정</h1>
            <br />
            <!-- <form th:action="|/artistAdmin/${artistGroupTitle}/noticeAdd|" method="post"> -->
              <div class="notice-title">
                공지사항 제목
                <br />
                <input name="artistGroupNoticeTitle" type="text" id="input-noticeTitle" />
              </div>
              <div class="notice-content">
                공지사항 내용
                <br />
                <textarea name="artistGroupNoticeContent" id="input-noticeContent"></textarea>
              </div>
              <div class="notice-btn">
                <button id="update-notice-btn">수정</button>
              </div>
            <!-- </form> -->
          </div>
        </div>
      </div>
    </div>



    <main>
      <!-- th:replace -->
      <th:block th:replace="~{common/adminArtist}"></th:block>
      <div class="noticeSelect">
        <h4>NewJeans</h4>
        <h1>아티스트 공지사항 목록</h1>
        <br />
        <table border="1" style="border-collapse: collapse" class="notice-table">
          <thead>
            <tr class="notice-tr-th">
              <th>공지사항 번호</th>
              <th>제목</th>
              <th>날짜</th>
            </tr>
          </thead>
          <tbody id="noticeBody">
            <tr class="notice-tr-td" th:each="notice : ${noticeList}" th:object="${notice}">
              <td th:text="*{artistGroupNoticeNo}">1</td>
              <td th:onclick="|selectArtistNotice(*{artistGroupNoticeNo}, this)|" class="notice-title">
                <span class="btn-open-popup" th:text="*{artistGroupNoticeTitle}">[공지] 안드로이드 OS 6.0 이하 버전 업데이트 지원중단 안내</span>
              </td>
              <td th:text="*{artistGroupNoticeEnrollDate}">2023/11/21</td>
            </tr>
          </tbody>
        </table>
        <div class="pagination-area">
          <div class="pagination"><< < 1 2 3 4 5 6 7 8 9 10 > >></div>
          <form th:action="|/artistAdmin/${artistGroupTitle}/notice|" method="get">
            <select id="select" name="key">
              <option value="1" th:selected="${key == 1}">공지 제목</option>
              <option value="2" th:selected="${key == 2}">공지 내용</option>
            </select>
            <input type="text" th:value="${noticeSearch}" id="inputSearch" name="noticeSearch" />
            <button id="pagination-button">검색</button>
          </form>
        </div>
      </div>
    </main>

    <script src="/js/admin/artistAdminNotice.js"></script>
    <script th:inline="javascript">
      const artistGroupTitle = /*[[${artistGroupTitle}]]*/ "artistGroupTitle";
    </script>
  </body>
</html>
