<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>신고 관리</title>
    <link rel="stylesheet" href="/css/artistHomepage/feedDetail.css">
    <link rel="stylesheet" href="/css/common/artistPageHeader.css" />
    <link rel="stylesheet" href="/css/admin/artistReport.css" />
  </head>
  <body>
    <th:block th:replace="~{common/artistPageHeader}">헤더</th:block>
    <button id="reportBtn" style="display: none;"></button>



    <div class="reportModal">
      <div id="reportModal" class="modal-body">
        
        
        <div class="modal-reportDetail">
          <button id="modalCloseButton">X</button>
          <h2>신고내용</h2>
          <div class="modal-reportContent">
            

            <div class="comment-area">
              <!-- th:classappend="${comment.boardParentCommentNo} != 0 ? child-comment" -->
              <div class="comment-area-in">

                <img class="profile-img" src="/img/male-user.png" />

                <div class="comment-writer-area">
                  <div class="comment-writer" >댓글 작성자</div>
                  <div class="comment-date" >11.21. 02:43</div>
                </div>


              </div>

              <div class="comment-content-area">
                <div class="comment-content" >
                  와 재밌다!sdjksljlkdfdfdfadfanjf l;kdaj fldksjfasdjflkd ajsjlfkaaaaaa aaaaaaaaaaaaaaaaaa aajkj
                </div>
              </div>

            </div>


          </div>
          
          <div class="delete-report-wrapper">
            <button class="delete-report" id="delete-report-btn">삭제처리</button>
            <button class="delete-report" id="proceed-report-btn">완료처리</button>
          </div>
        </div>


      </div>
    </div>


    <th:block th:replace="~{admin/adminFeedDetail}"></th:block>



    <main th:with="reportList = ${map.reportList}, pagination = ${map.pagination}">
      <!-- th:replace -->
      <th:block th:replace="~{common/adminArtist}"></th:block>
      <div class="report-main">
        <h4 th:text="${artistGroupTitle}">NewJeans</h4>
        <h1>신고 조회</h1>
        <br />
        <table class="report-table" border="1" style="border-collapse: collapse">
          <tr class="report-tr-th">
            <th>신고 번호</th>
            <th>신고자</th>
            <th>신고자 이메일</th>
            <th>신고대상자</th>
            <th>신고대상자 이메일</th>
            <th>상세 조회</th>
            <th>처리 여부</th>
          </tr>

          <tbody>

            <tr class="report-tr-td" th:each="report : ${reportList}" th:object="${report}">
              <td th:text="*{reportNo}">1</td>
              <td th:text="*{reporterNickname}">신고신고</td>
              <td th:text="*{reporterEmail}">singo123@gmail.com</td>
              <td th:text="*{reportTargetNickname}">닉네임11</td>
              <td th:text="*{reportTargetEmail}">nickname123123@naver.com</td>
              <td>
                <button class="btn-open-popup" th:value="*{reportType}" th:onclick="|selectReport( *{reportNo}, *{reportContentNo}, this )|">이동</button>
              </td>
              <td>
                <button th:text="*{reportProceed}">N</button>
              </td>
            </tr>

          </tbody>

        </table>
        <div class="pagination-area">

          <div class="pagination-area" th:if="${#lists.size(reportList) > 0}">

            <ul class="pagination">
  
              <!-- 첫 페이지로 이동 -->
              <li><a th:href="@{/artistAdmin/{artistGroupTitle}/report(artistGroupTitle=${artistGroupTitle}, cp=1, key=${key}, reportSearch=${reportSearch}  ) }">&lt;&lt;</a></li>
  
              <!-- 이전 목록 마지막 번호로 이동 -->
              <li><a th:href="@{/artistAdmin/{artistGroupTitle}/report(artistGroupTitle=${artistGroupTitle}, cp=${pagination.prevPage }, key=${key}, reportSearch=${reportSearch}   )}">&lt;</a></li>
  
  
              <!-- 현재 보고있는 페이지 -->
              <!-- #numbers.sequence(1,10) 1~10증가하며 차례대로 추가한 리스트 -->
              <th:block th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage, 1)}">
                <li th:if="${i == pagination.currentPage}">
                  <a class="current active" th:text="${i}">1</a>
                </li>
  
                <!-- 보고있지 않은 페이지 -->
                <li th:unless="${i == pagination.currentPage}">
                  <a th:href="@{/artistAdmin/{artistGroupTitle}/report(artistGroupTitle=${artistGroupTitle}, cp=${i}, key=${key}, reportSearch=${reportSearch}   )} " th:text="${i}">2</a>
                </li>
              </th:block>
  
  
  
              <!-- 다음 목록 시작 번호로 이동 -->
              <li><a th:href="@{/artistAdmin/{artistGroupTitle}/report(artistGroupTitle=${artistGroupTitle}, cp=${pagination.nextPage }, key=${key}, reportSearch=${reportSearch}   )}">&gt;</a>
              </li>
  
              <!-- 끝 페이지로 이동 -->
              <li><a
                  th:href="@{/artistAdmin/{artistGroupTitle}/report(artistGroupTitle=${artistGroupTitle}, cp=${pagination.maxPage }, key=${key}, reportSearch=${reportSearch}   )}">&gt;&gt;</a>
              </li>
            </ul>
          </div>

          
          
          <form th:action="|/artistAdmin/${artistGroupTitle}/report|" method="get">
            
            <select id="select" name="key">
              <option value="1" th:selected="${key == 1}">신고자 닉네임</option>
              <option value="2" th:selected="${key == 2}">신고자 이메일</option>
              <option value="3" th:selected="${key == 3}">대상자 닉네임</option>
              <option value="4" th:selected="${key == 4}">대상자 이메일</option>
              <option value="5" th:selected="${key == 5}">신고 내용</option>
            </select>
            <input th:value="${reportSearch}" type="text" id="inputSearch" name="reportSearch"/>
            <button id="pagination-button">검색</button>
            
          </form>
          
        </div>
        </div>
      </div>
    </main>

    <script src="/js/admin/adminFeed.js"></script>
    <script src="/js/admin/artistReport.js"></script>
  </body>
</html>
