<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>아티스트 공지사항 등록</title>
    <link rel="stylesheet" href="../../static/css/admin/artistNoticeAdd.css" />
  </head>
  <body>
    <header>헤더+nav</header>
    <main>
      <div>
        <div class="sidebar">
          <aside>
            <nav>
              <ul>
                <ul class="sidebar-list" id="member-search">
                  <li>
                    회원 관리
                    <ul>
                      <li>
                        <a href="subscribeMember.html" id="a">구독 회원 조회</a>
                      </li>
                    </ul>
                  </li>
                </ul>

                <ul class="sidebar-list" id="member-search">
                  <li>
                    주문 배송 관리
                    <ul>
                      <li><a href="artistOrder.html" id="a">배송 조회</a></li>
                    </ul>
                  </li>
                </ul>
                <ul class="sidebar-list" id="member-search">
                  <li>
                    굿즈 관리
                    <ul>
                      <li><a href="goods.html" id="a">굿즈 등록</a></li>
                    </ul>
                  </li>
                </ul>
                <ul class="sidebar-list" id="member-search">
                  <li>
                    신고 관리
                    <ul>
                      <li>
                        <a href="artistReport.html" id="a">게시글 신고</a>
                      </li>
                    </ul>
                  </li>
                </ul>
                <ul class="sidebar-list" id="member-search">
                  <li>
                    아티스트 공지사항
                    <ul id="sidebar-sublist">
                      <li>
                        <a href="artistnotice.html" id="a">아티스트 공지사항 목록</a>
                      </li>
                      <li>
                        <a href="artistNoticeAdd.html" id="a">아티스트 공지사항 등록</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </ul>
            </nav>
          </aside>
        </div>
      </div>
      <div class="notice-add">
        <h4>NewJeans</h4>
        <h1>아티스트 공지사항 등록</h1>
        <br />
        <form action="#">
          <div class="notice-title">
            공지사항 제목
            <br />
            <input type="text" id="input-noticeTitle" />
          </div>
          <div class="notice-content">
            공지사항 내용
            <br />
            <textarea name="" id="input-noticeContent"></textarea>
          </div>
          <div class="notice-btn">
            <button id="btn-notice">등록</button>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
