<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>신고 관리</title>
    <link rel="stylesheet" href="/css/admin/artistReport.css" />
  </head>
  <body>
    <header>헤더+nav</header>
    <div class="reportModal">
      <div id="reportModal" class="modal-body">
        <button id="modalCloseButton">X</button>
        <div class="modal-noticeDetail">
          <h1>신고내용</h1>
          <br />
          <div class="modal-noticeContent">ㅅxxxx</div>
        </div>
      </div>
    </div>
    <main th:with="reportList = ${map.reportList}">
      <!-- th:replace -->
      <th:block th:replace="~{common/adminArtist}"></th:block>
      <div class="report-main">
        <h4>NewJeans</h4>
        <h1>신고 조회</h1>
        <br />
        <table class="report-table" border="1" style="border-collapse: collapse">
          <tr class="report-tr-th">
            <th>신고 번호</th>
            <th>신고자 닉네임</th>
            <th>신고자 이메일</th>
            <th>신고대상자 닉네임</th>
            <th>신고대상자 이메일</th>
            <th>신고 내용</th>
            <th>처리</th>
            <th>처리 여부</th>
          </tr>

          <tbody>

            <tr class="report-tr-td" th:each="report : ${reportList}" th:object="${report}">
              <td th:text="*{reportNo}">1</td>
              <td th:text="*{reporterNickname}">신고신고</td>
              <td th:text="*{reporterEmail}">singo123@gmail.com</td>
              <td th:text="*{reportTargetNickname}">닉네임11</td>
              <td th:text="*{reportTargetEmail}">nickname123123@naver.com</td>
              <td th:text="*{reportContent}"> 욕설 사용</td>
              <td>
                <button class="btn-open-popup">이동</button>
              </td>
              <td>
                <button>N</button>
              </td>
            </tr>

          </tbody>

        </table>
        <div class="pagination-area">
          <div class="pagination"><< < 1 2 3 4 5 6 7 8 9 10 > >></div>

          <form th:action="|/artistAdmin/${artistGroupTitle}/report|" method="get">

            <select id="select" name="key">
              <option value="1" th:selected="${key == 1}">신고자 닉네임</option>
              <option value="2" th:selected="${key == 2}">신고자 이메일</option>
              <option value="3" th:selected="${key == 3}">대상자 닉네임</option>
              <option value="4" th:selected="${key == 4}">대상자 이메일</option>
              <option value="5" th:selected="${key == 5}">신고 내용</option>
            </select>
            <input th:value="${reportSearch}" type="text" id="inputSearch" name="reportSearch"/>
            <button id="pagination-button">검색</button>

          </form>

        </div>
      </div>
    </main>

    <script src="/js/admin/artistReport.js"></script>
  </body>
</html>
