<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>신고 관리</title>
    <link rel="stylesheet" href="../../static/css/admin/artistReport.css" />
  </head>
  <body>
    <header>헤더+nav</header>
    <div class="reportModal">
      <div id="reportModal" class="modal-body">
        <button id="modalCloseButton">X</button>
        <div class="modal-noticeDetail">
          <h1>신고내용</h1>
          <br />
          <div class="modal-noticeContent">ㅅxxxx</div>
        </div>
      </div>
    </div>
    <main>
      <div>
        <div class="sidebar">
          <aside>
            <nav>
              <ul>
                <ul class="sidebar-list" id="member-search">
                  <li>
                    회원 관리
                    <ul>
                      <li>
                        <a href="subscribeMember.html" id="a">구독 회원 조회</a>
                      </li>
                    </ul>
                  </li>
                </ul>

                <ul class="sidebar-list" id="member-search">
                  <li>
                    주문 배송 관리
                    <ul>
                      <li><a href="artistOrder.html" id="a">배송 조회</a></li>
                    </ul>
                  </li>
                </ul>
                <ul class="sidebar-list" id="member-search">
                  <li>
                    굿즈 관리
                    <ul>
                      <li><a href="goods.html" id="a">굿즈 등록</a></li>
                    </ul>
                  </li>
                </ul>
                <ul class="sidebar-list" id="member-search">
                  <li>
                    신고 관리
                    <ul>
                      <li>
                        <a href="artistReport.html" id="a">게시글 신고</a>
                      </li>
                    </ul>
                  </li>
                </ul>
                <ul class="sidebar-list" id="member-search">
                  <li>
                    아티스트 공지사항
                    <ul id="sidebar-sublist">
                      <li>
                        <a href="artistnotice.html" id="a">아티스트 공지사항 목록</a>
                      </li>
                      <li>
                        <a href="artistNoticeAdd.html" id="a">아티스트 공지사항 등록</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </ul>
            </nav>
          </aside>
        </div>
      </div>
      <div class="report-main">
        <h4>NewJeans</h4>
        <h1>신고 조회</h1>
        <br />
        <table class="report-table" border="1" style="border-collapse: collapse">
          <tr class="report-tr-th">
            <th>신고 번호</th>
            <th>신고자 닉네임</th>
            <th>신고자 이메일</th>
            <th>신고대상자 닉네임</th>
            <th>신고대상자 이메일</th>
            <th>신고 내용</th>
            <th>처리</th>
            <th>처리 여부</th>
          </tr>
          <tr class="report-tr-td">
            <td>1</td>
            <td>신고신고</td>
            <td>singo123@gmail.com</td>
            <td>닉네임11</td>
            <td>nickname123123@naver.com</td>
            <td>욕설 사용</td>
            <td>
              <button class="btn-open-popup">이동</button>
            </td>
            <td>
              <button>N</button>
            </td>
          </tr>
          <tr class="report-tr-td">
            <td>2</td>
            <td>신고신고</td>
            <td>singo123@gmail.com</td>
            <td>닉네임11</td>
            <td>nickname123123@naver.com</td>
            <td>불법 광고</td>
            <td>
              <form>
                <button>이동</button>
              </form>
            </td>
          </tr>
        </table>
        <div class="pagination-area">
          <div class="pagination"><< < 1 2 3 4 5 6 7 8 9 10 > >></div>
          <form>
            <select id="select">
              <option value="memberNo">신고자 닉네임</option>
              <option value="memberNickname">신고자 이메일</option>
              <option value="memberEmail">대상자 닉네임</option>
              <option value="memberEmail">대상자 이메일</option>
              <option value="memberEmail">신고 내용</option>
            </select>
            <input type="text" id="inputSearch" />
            <button id="pagination-button">검색</button>
          </form>
        </div>
      </div>
    </main>
    <script>
      const modal = document.querySelector(".reportModal");
      const btnOpenPopup = document.querySelector(".btn-open-popup");
      const modalCloseButton = document.getElementById("modalCloseButton");
      const modal_background = document.querySelector(".reportModal");

      btnOpenPopup.addEventListener("click", () => {
        open();
      });

      //Hide modal
      modalCloseButton.addEventListener("click", () => {
        close();
      });

      window.addEventListener("click", (e) => {
        e.target === modal_background ? close() : false;
      });
      function close() {
        modal.classList.remove("show");
        modal_background.classList.remove("show");
      }
      function open() {
        modal.classList.add("show");
        modal_background.classList.add("show");
      }
    </script>
  </body>
</html>
