<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>아티스트 담당 배송조회</title>
    <link rel="stylesheet" href="/css/admin/artistOrder.css" />
  </head>
  <body>
    <header>헤더+nav</header>
    <main>
      <!-- th:replace -->
      <th:block th:replace="~{common/adminArtist}"></th:block>
      <div class="main">
        <h4>NewJeans</h4>
        <h1>배송 조회</h1>
        <br />
        <div class="orderSelect">
          <button class="price">높은가격순</button>
          <button class="price">낮은가격순</button>
        </div>
        <table class="main-table" border="1" style="border-collapse: collapse">
          <tr class="main-th-tr">
            <th>주문 번호</th>
            <th>닉네임</th>
            <th>주소</th>
            <th>상품 명</th>
            <th>수량</th>
            <th>가격</th>
            <th>주문 날짜</th>
            <th>배송 상태</th>
          </tr>
          <tr class="main-tr-tr">
            <td>1</td>
            <td>닉네임닉네임</td>
            <td>서울특별시 중구 남대문로 120 대일빌딩 2층, 3층 11-123</td>
            <td>10주년 앨범</td>
            <td>2</td>
            <td>50,000</td>
            <td>2023/11/29</td>
            <td>
              <form>
                <select id="order-select">
                  <option value="1">주문 완료</option>
                  <option value="2">배송 준비</option>
                  <option value="3">배송 중</option>
                </select>
              </form>
            </td>
          </tr>
          <tr class="main-tr-tr">
            <td>2</td>
            <td>10주년 앨범</td>
            <td>1</td>
            <td>25,000</td>
            <td>2023/11/27</td>
            <td>
              <form>
                <select id="order-select">
                  <option value="1">주문 완료</option>
                  <option value="2">배송 준비</option>
                  <option value="3">배송 중</option>
                </select>
              </form>
            </td>
          </tr>
          <tr class="main-tr-tr">
            <td>2</td>
            <td>10주년 앨범</td>
            <td>1</td>
            <td>25,000</td>
            <td>2023/11/27</td>
            <td>
              <form>
                <select id="order-select">
                  <option value="1">주문 완료</option>
                  <option value="2">배송 준비</option>
                  <option value="3">배송 중</option>
                </select>
              </form>
            </td>
          </tr>
          <tr class="main-tr-tr">
            <td>2</td>
            <td>10주년 앨범</td>
            <td>1</td>
            <td>25,000</td>
            <td>2023/11/27</td>
            <td>
              <form>
                <select id="order-select">
                  <option value="1">주문 완료</option>
                  <option value="2">배송 준비</option>
                  <option value="3">배송 중</option>
                </select>
              </form>
            </td>
          </tr>
        </table>
        <div class="pagination-area">
          <div class="pagination"><< < 1 2 3 4 5 6 7 8 9 10 > >></div>
          <form>
            <select id="select">
              <option value="memberNo">회원번호</option>
              <option value="memberNickname">회원 닉네임</option>
              <option value="memberEmail">회원 이메일</option>
            </select>
            <input type="text" id="inputSearch" />
            <button id="pagination-button">검색</button>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
