<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>아티스트 공지사항 등록</title>
    <link rel="stylesheet" href="/css/admin/artistNoticeAdd.css" />
  </head>
  <body>
    <header>헤더+nav</header>
    <main>
      <!-- th:replace -->
      <th:block th:replace="~{common/adminArtist}"></th:block>
      <div class="notice-add">
        <h4>NewJeans</h4>
        <h1>아티스트 공지사항 등록</h1>
        <br />
        <form th:action="|/artistAdmin/${artistGroupTitle}/noticeAdd|" method="post">
          <div class="notice-title">
            공지사항 제목
            <br />
            <input name="artistGroupNoticeTitle" type="text" id="input-noticeTitle" />
          </div>
          <div class="notice-content">
            공지사항 내용
            <br />
            <textarea name="artistGroupNoticeContent" id="input-noticeContent"></textarea>
          </div>
          <div class="notice-btn">
            <button id="btn-notice">등록</button>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
