<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>굿즈 등록</title>
    <link rel="stylesheet" href="../../static/css/admin/goods.css" />
  </head>
  <body>
    <header>헤더+nav</header>
    <main>
      <div>
        <div class="sidebar">
          <aside>
            <nav>
              <ul>
                <ul class="sidebar-list" id="member-search">
                  <li>
                    회원 관리
                    <ul>
                      <li>
                        <a href="subscribeMember.html" id="a">구독 회원 조회</a>
                      </li>
                    </ul>
                  </li>
                </ul>

                <ul class="sidebar-list" id="member-search">
                  <li>
                    주문 배송 관리
                    <ul>
                      <li><a href="artistOrder.html" id="a">배송 조회</a></li>
                    </ul>
                  </li>
                </ul>
                <ul class="sidebar-list" id="member-search">
                  <li>
                    굿즈 관리
                    <ul>
                      <li><a href="goods.html" id="a">굿즈 등록</a></li>
                    </ul>
                  </li>
                </ul>
                <ul class="sidebar-list" id="member-search">
                  <li>
                    신고 관리
                    <ul>
                      <li>
                        <a href="artistReport.html" id="a">게시글 신고</a>
                      </li>
                    </ul>
                  </li>
                </ul>
                <ul class="sidebar-list" id="member-search">
                  <li>
                    아티스트 공지사항
                    <ul id="sidebar-sublist">
                      <li>
                        <a href="artistnotice.html" id="a">아티스트 공지사항 목록</a>
                      </li>
                      <li>
                        <a href="artistNoticeAdd.html" id="a">아티스트 공지사항 등록</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </ul>
            </nav>
          </aside>
        </div>
      </div>
      <div class="goods-add">
        <h1>굿즈 등록</h1>
        <br />
        <form action="#">
          <div class="goods-title">
            상품명
            <input type="text" id="input-goodsTitle" />
          </div>
          <div class="goods-option">
            상품 옵션
            <br />
            <div id="option-area">
              <!-- <img src="../../static/img/다운로드.png" class="input-goodsPlus" onclick="optionPlus(this)" /> -->
              <span onclick="optionPlus(this)">추가</span>
              <div id="input-area">
                <!-- <input type="text" class="input-goodsOption" /> -->
              </div>
            </div>
          </div>
          <div class="goods-content">
            상품 설명
            <br />
            <textarea name="" class="input-goodsContent"></textarea>
            <div class="goodsImg">
              <label for="img1">
                <img src="#" class="goods-contentImg" />
              </label>
              <input type="file" name="contentImg" id="img1" accept="image/*" class="input-goodsImg" />
              <span class="delete-image">&times;</span>
            </div>
          </div>
          <div class="goods-thumnail">
            굿즈 썸네일
            <br />
            <div class="goodsImg">
              <label for="img2">
                <img src="#" class="thumnail" />
              </label>
              <input type="file" name="thumnail" id="img2" accept="image/*" class="input-goodsImg" />
              <span class="delete-image">&times;</span>
            </div>
          </div>
          <div class="goods-btn-area">
            <button class="goodsBtn">등록</button>
          </div>
        </form>
      </div>
    </main>
    <script src="../../static/js/admin/goods.js"></script>
  </body>
</html>
