<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>굿즈 등록</title>
    <link rel="stylesheet" href="../../static/css/admin/goods.css" />
  </head>
  <body>
    <header>헤더+nav</header>
    <main>
      <div>
        <div class="sidebar">
          <aside>
            <nav>
              <ul>
                <ul class="sidebar-list" id="member-search">
                  <li>
                    회원 관리
                    <ul id="sidebar-sublist">
                      <li><a href="selectMember.html" id="a">일반 회원 조회</a></li>
                      <li><a href="deleteMember.html" id="a">탈퇴 회원 조회</a></li>
                    </ul>
                  </li>
                </ul>
                <ul class="sidebar-list" id="member-search">
                  <li>
                    주문 배송 관리
                    <ul id="sidebar-sublist">
                      <li><a href="order.html" id="a">주문 배송 조회</a></li>
                    </ul>
                  </li>
                </ul>
                <ul class="sidebar-list" id="member-search">
                  <li>
                    신고 관리
                    <ul id="sidebar-sublist">
                      <li><a href="report.html" id="a">게시글 신고</a></li>
                    </ul>
                  </li>
                </ul>
                <ul class="sidebar-list" id="member-search">
                  <li>
                    메인 공지사항
                    <ul id="sidebar-sublist">
                      <li><a href="notice.html" id="a">공지사항 목록</a></li>
                      <li><a href="noticeAdd.html" id="a">공지사항 등록</a></li>
                    </ul>
                  </li>
                </ul>
              </ul>
            </nav>
          </aside>
        </div>
      </div>
      <div class="goods-add">
        <h1>굿즈 등록</h1>
        <br />
        <form action="#">
          <div class="goods-title">
            상품명
            <input type="text" id="input-goodsTitle" />
          </div>
          <div class="goods-content">
            상품 설명
            <br />
            <textarea name="" id="input-goodsContent"></textarea>
            <div class="goodsImg">
              <label for="img1">
                <img src="#" class="thumnail" />
              </label>
              <input type="file" name="thumnail" id="img1" accept="image/*" class="input-goodsImg" />
              <span class="delete-image">&times;</span>
            </div>
          </div>
          <div class="goods-thumnail">
            굿즈 썸네일
            <br />
            <div class="goodsImg">
              <label for="img2">
                <img src="#" class="goods-contentImg" />
              </label>
              <input type="file" name="contentImg" id="img2" accept="image/*" class="input-goodsImg" />
              <span class="delete-image">&times;</span>
            </div>
          </div>
          <div class="goods-btn-area">
            <button class="goodsBtn">등록</button>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
