<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>공지사항 목록</title>
    <link rel="stylesheet" href="/css/admin/artistNotice.css" />
    <link rel="stylesheet" href="/css/common/artistPageHeader.css" />
  </head>
  <body>
    <th:block th:replace="~{common/artistPageHeader}">헤더</th:block>


    <div class="noticeModal">
      <div id="noticeModal" class="modal-body">
        <button class="modalCloseButton">X</button>
        <div class="modal-noticeDetail">
          <h1>공지사항</h1>
          <br />
          <div class="modal-noticeTitle">[공지] 안드로이드 OS 6.0 이하 버전 업데이트 지원중단 안내</div>
          <div class="modal-noticeContent">
            안녕하세요. 공식 상품 스토어, 위버스샵입니다. NewJeans collaboration 상품을 12월 1일 (금) 부터 판매합니다.
          </div>
          <div class="modal-noticeUpdate">
            <button value="0" id="updateBtn">수정</button>
            <button value="0" id="deleteBtn">삭제</button>
          </div>
        </div>
      </div>
    </div>


    <div class="updateModal">
      <div id="updateModal" class="modal-body">
        <button class="modalCloseButton" id="update-close">X</button>
        <div class="modal-noticeDetail">
          <div class="notice-add">
            <h1>공지사항 수정</h1>
            <br />
            <!-- <form th:action="|/artistAdmin/${artistGroupTitle}/noticeAdd|" method="post"> -->
              <div class="notice-title">
                공지사항 제목
                <br />
                <input name="siteNoticeTitle" type="text" id="input-noticeTitle" />
              </div>
              <div class="notice-content">
                공지사항 내용
                <br />
                <textarea name="siteNoticeContent" id="input-noticeContent"></textarea>
              </div>
              <div class="notice-btn">
                <button id="update-notice-btn">수정</button>
              </div>
            <!-- </form> -->
          </div>
        </div>
      </div>
    </div>



    <main th:with="noticeList = ${map.noticeList}, pagination = ${map.pagination}">
      <!-- th:replace -->
      <th:block th:replace="~{common/admin}"></th:block>
      <div class="noticeSelect">
        <h1>사이트 공지사항 목록</h1>
        <br />
        <table border="1" style="border-collapse: collapse" class="notice-table">
          <thead>
            <tr class="notice-tr-th">
              <th>공지사항 번호</th>
              <th>제목</th>
              <th>날짜</th>
            </tr>
          </thead>

          <tbody id="noticeBody">
            <tr class="notice-tr-td" th:each="notice : ${noticeList}" th:object="${notice}">
              <td th:text="*{siteNoticeNo}">1</td>
              <td th:onclick="|selectSiteNotice(*{siteNoticeNo}, this)|" class="notice-title">
                <span class="btn-open-popup" th:text="*{siteNoticeTitle}">[공지] 안드로이드 OS 6.0 이하 버전 업데이트 지원중단 안내</span>
              </td>
              <td th:text="*{siteNoticeEnrollDate}">2023/11/21</td>
            </tr>
          </tbody>

        </table>
        <div class="pagination-area">


          <div class="pagination-area" th:if="${#lists.size(noticeList) > 0}">

            <ul class="pagination">
  
              <!-- 첫 페이지로 이동 -->
              <li><a th:href="@{/admin/notice( cp=1, key=${key}, noticeSearch=${noticeSearch}  ) }">&lt;&lt;</a></li>
  
              <!-- 이전 목록 마지막 번호로 이동 -->
              <li><a th:href="@{/admin/notice( cp=${pagination.prevPage }, key=${key}, noticeSearch=${noticeSearch}   )}">&lt;</a>
              <li><a th:href="@{/admin/notice( cp=${pagination.prevPage }, key=${key}, noticeSearch=${noticeSearch}   )}">&lt;</a>
              </li>
  
  
              <!-- 현재 보고있는 페이지 -->
              <!-- #numbers.sequence(1,10) 1~10증가하며 차례대로 추가한 리스트 -->
              <th:block th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage, 1)}">
                <li th:if="${i == pagination.currentPage}">
                  <a class="current active" th:text="${i}">1</a>
                </li>
  
                <!-- 보고있지 않은 페이지 -->
                <li th:unless="${i == pagination.currentPage}">
                  <a th:href="@{/admin/notice( cp=${i}, key=${key}, noticeSearch=${noticeSearch}   )} " th:text="${i}">2</a>
                </li>
              </th:block>
  
  
  
              <!-- 다음 목록 시작 번호로 이동 -->
              <li><a th:href="@{/admin/notice( cp=${pagination.nextPage }, key=${key}, noticeSearch=${noticeSearch}   )}">&gt;</a>
              </li>
  
              <!-- 끝 페이지로 이동 -->
              <li><a
                  th:href="@{/admin/notice( cp=${pagination.maxPage }, key=${key}, noticeSearch=${noticeSearch}   )}">&gt;&gt;</a>
              </li>
            </ul>
          </div>

          <form th:action="|/admin/notice|" method="get">
            <select id="select" name="key">
              <option value="1" th:selected="${key == 1}">공지 제목</option>
              <option value="2" th:selected="${key == 2}">공지 내용</option>
            </select>
            <input type="text" th:value="${noticeSearch}" id="inputSearch" name="noticeSearch" />
            <button id="pagination-button">검색</button>
          </form>
        </div>
      </div>
      
    </main>

    <script src="/js/admin/adminNotice.js"></script>
    <script th:inline="javascript">
      const artistGroupTitle = /*[[${artistGroupTitle}]]*/ "artistGroupTitle";
    </script>
  </body>
</html>
