<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>신고 관리</title>
    <link rel="stylesheet" href="/css/admin/artistReport.css" />
    <link rel="stylesheet" href="/css/common/artistPageHeader.css" />
  </head>
  <body>
    <th:block th:replace="~{common/artistPageHeader}">헤더</th:block>
    <div class="reportModal">
      <div id="reportModal" class="modal-body">
        <button id="modalCloseButton">X</button>
        <div class="modal-reportDetail">
          <h1>신고내용</h1>
          <br />
          <div class="modal-reportContent">ㅅxxxx</div>
        </div>
      </div>
    </div>
    <main th:with="reportList = ${map.reportList}, pagination = ${map.pagination}">
      <!-- th:replace -->
      <th:block th:replace="~{common/admin}"></th:block>
      <div class="report-main">
        <h4>NewJeans</h4>
        <h1>신고 조회</h1>
        <br />
        <table class="report-table" border="1" style="border-collapse: collapse">
          <tr class="report-tr-th">
            <th>신고 번호</th>
            <th>신고자 닉네임</th>
            <th>신고자 이메일</th>
            <th>신고대상자 닉네임</th>
            <th>신고대상자 이메일</th>
            <th>신고 내용</th>
            <th>처리</th>
            <th>처리 여부</th>
          </tr>

          <tbody>

            <tr class="report-tr-td" th:each="report : ${reportList}" th:object="${report}">
              <td th:text="*{reportNo}">1</td>
              <td th:text="*{reporterNickname}">신고신고</td>
              <td th:text="*{reporterEmail}">singo123@gmail.com</td>
              <td th:text="*{reportTargetNickname}">닉네임11</td>
              <td th:text="*{reportTargetEmail}">nickname123123@naver.com</td>
              <td th:text="*{reportContent}"> 욕설 사용</td>
              <td>
                <button class="btn-open-popup">이동</button>
              </td>
              <td>
                <button>N</button>
              </td>
            </tr>

          </tbody>

        </table>
        <div class="pagination-area">

          <div class="pagination-area" th:if="${#lists.size(reportList) > 0}">

            <ul class="pagination">
  
              <!-- 첫 페이지로 이동 -->
              <li><a th:href="@{/admin/report( cp=1, key=${key}, reportSearch=${reportSearch}  ) }">&lt;&lt;</a></li>
  
              <!-- 이전 목록 마지막 번호로 이동 -->
              <li><a th:href="@{/admin/report( cp=${pagination.prevPage }, key=${key}, reportSearch=${reportSearch}   )}">&lt;</a></li>
  
  
              <!-- 현재 보고있는 페이지 -->
              <!-- #numbers.sequence(1,10) 1~10증가하며 차례대로 추가한 리스트 -->
              <th:block th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage, 1)}">
                <li th:if="${i == pagination.currentPage}">
                  <a class="current active" th:text="${i}">1</a>
                </li>
  
                <!-- 보고있지 않은 페이지 -->
                <li th:unless="${i == pagination.currentPage}">
                  <a th:href="@{/admin/report( cp=${i}, key=${key}, reportSearch=${reportSearch}   )} " th:text="${i}">2</a>
                </li>
              </th:block>
  
  
  
              <!-- 다음 목록 시작 번호로 이동 -->
              <li><a th:href="@{/admin/report( cp=${pagination.nextPage }, key=${key}, reportSearch=${reportSearch}   )}">&gt;</a>
              </li>
  
              <!-- 끝 페이지로 이동 -->
              <li><a
                  th:href="@{/admin/report( cp=${pagination.maxPage }, key=${key}, reportSearch=${reportSearch}   )}">&gt;&gt;</a>
              </li>
            </ul>
          </div>

          
          
          <form th:action="|/artistAdmin/${artistGroupTitle}/report|" method="get">
            
            <select id="select" name="key">
              <option value="1" th:selected="${key == 1}">신고자 닉네임</option>
              <option value="2" th:selected="${key == 2}">신고자 이메일</option>
              <option value="3" th:selected="${key == 3}">대상자 닉네임</option>
              <option value="4" th:selected="${key == 4}">대상자 이메일</option>
              <option value="5" th:selected="${key == 5}">신고 내용</option>
            </select>
            <input th:value="${reportSearch}" type="text" id="inputSearch" name="reportSearch"/>
            <button id="pagination-button">검색</button>
            
          </form>
          
        </div>
        </div>
      </div>
    </main>

    <script src="/js/admin/artistReport.js"></script>
  </body>
</html>
