<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>일반 회원 조회</title>
    <link rel="stylesheet" href="../../static/css/admin/selectMember.css" />
  </head>
  <body>
    <header>
      <section>
        <a href="/"><img src="logo.png" alt="로고이미지" width="150px" /></a>
      </section>

      <header>
        <section>
          <a href="/" src="" alt="로고이미지"></a>
        </section>

        <section>
          <article id="search-container">
            <input type="text" />
            <a href=""><i class="fa-solid fa-magnifying-glass fa-xl" style="color: #7743db"></i></a>
          </article>
          <article>
            <a href="">로그아웃</a>
          </article>
          <article>
            <a href="">마이페이지</a>
          </article>
          <article>
            <a href=""><i class="fa-solid fa-store fa-xl" style="color: #7743db"></i></a>
          </article>
        </section>
      </header>
    </header>
    <div class="modal">
      <div id="modal" class="modal-body">
        <button id="modalCloseButton">X</button>
        <h1>닉네임회원이 작성한 글 및 댓글</h1>
        <table border="1" style="border-collapse: collapse" class="modal-table">
          <tbody>
            <tr class="th">
              <th>번호</th>
              <th>게시글 내용</th>
              <th>종류</th>
              <th>게시글 아티스트</th>
            </tr>
            <tr class="tr">
              <td>1</td>
              <td>
                와~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~!!!!!!!!!!!!!!!!~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
              </td>
              <td>댓글</td>
              <td>뉴진스</td>
            </tr>
            <tr class="tr">
              <td>2</td>
              <td>와~~~~~~~~~~~~~~~~~~~~~~~~~~~~</td>
              <td>댓글</td>
              <td>아이브</td>
            </tr>
            <tr class="tr">
              <td>3</td>
              <td>와~~~~~~~~~~~~~~~~~~~~~~~~~~~~</td>
              <td>댓글</td>
              <td>르세라핌</td>
            </tr>
            <tr class="tr">
              <td>4</td>
              <td>와~~~~~~~~~~~~~~~~~~~~~~~~~~~~</td>
              <td>댓글</td>
              <td>박보영</td>
            </tr>
            <tr class="tr">
              <td>5</td>
              <td>와~~~~~~~~~~~~~~~~~~~~~~~~~~~~</td>
              <td>댓글</td>
              <td>라이즈</td>
            </tr>
            <tr class="tr">
              <td>6</td>
              <td>와~~~~~~~~~~~~~~~~~~~~~~~~~~~~</td>
              <td>댓글</td>
              <td>손흥민</td>
            </tr>
            <tr class="tr">
              <td>5</td>
              <td>와~~~~~~~~~~~~~~~~~~~~~~~~~~~~</td>
              <td>댓글</td>
              <td>라이즈</td>
            </tr>
            <tr class="tr">
              <td>6</td>
              <td>와~~~~~~~~~~~~~~~~~~~~~~~~~~~~</td>
              <td>댓글</td>
              <td>손흥민</td>
            </tr>
            <tr class="tr">
              <td>5</td>
              <td>와~~~~~~~~~~~~~~~~~~~~~~~~~~~~</td>
              <td>댓글</td>
              <td>라이즈</td>
            </tr>
            <tr class="tr">
              <td>6</td>
              <td>와~~~~~~~~~~~~~~~~~~~~~~~~~~~~</td>
              <td>댓글</td>
              <td>손흥민</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <main>
      <th:block th:replace="~{common/admin}"></th:block>
      <div class="main">
        <h1>일반 회원 조회</h1>
        <br />
        <table border="1" style="border-collapse: collapse" class="main-table">
          <tr class="tr-head">
            <th>회원 번호</th>
            <th>닉네임</th>
            <th>아이디(이메일)</th>
            <th>주소</th>
            <th>권한</th>
            <th>신고 누적 횟수</th>
            <th>강제 탈퇴</th>
          </tr>
          <tr class="tr-body">
            <td>1</td>
            <td>ㅇㅇㅇ</td>
            <td class="btn-open-popup">qwerqwer1234@gmail.com</td>
            <td>서울특별시 종로구 종로 33 그랑서울 타워[1] 3층 롤파크</td>
            <td>일반</td>
            <td>3</td>
            <td><button>탈퇴</button></td>
          </tr>
          <tr class="tr-body">
            <td>1</td>
            <td>ㅇㅇㅇ</td>
            <td>qwerqwer1234@gmail.com</td>
            <td>서울특별시 종로구 종로 33 그랑서울 타워[1] 3층 롤파크</td>
            <td>일반</td>
            <td>3</td>
            <td><button>탈퇴</button></td>
          </tr>
          <tr class="tr-body">
            <td>1</td>
            <td>ㅇㅇㅇ</td>
            <td>qwerqwer1234@gmail.com</td>
            <td>서울특별시 종로구 종로 33 그랑서울 타워[1] 3층 롤파크</td>
            <td>일반</td>
            <td>3</td>
            <td><button>탈퇴</button></td>
          </tr>
          <tr class="tr-body">
            <td>1</td>
            <td>ㅇㅇㅇ</td>
            <td>qwerqwer1234@gmail.com</td>
            <td>서울특별시 종로구 종로 33 그랑서울 타워[1] 3층 롤파크</td>
            <td>일반</td>
            <td>3</td>
            <td><button>탈퇴</button></td>
          </tr>
        </table>
        <div class="pagination-area">
          <div class="pagination"><< < 1 2 3 4 5 6 7 8 9 10 > >></div>
          <form>
            <select id="select">
              <option value="memberNo">회원번호</option>
              <option value="memberNickname">회원 닉네임</option>
              <option value="memberEmail">회원 이메일</option>
            </select>
            <input type="text" id="inputSearch" />
            <button id="pagination-button">검색</button>
          </form>
        </div>
      </div>
    </main>
    <script>
      const modal = document.querySelector(".modal");
      const btnOpenPopup = document.querySelector(".btn-open-popup");
      const modalCloseButton = document.getElementById("modalCloseButton");
      const modal_background = document.querySelector(".modal");

      btnOpenPopup.addEventListener("click", () => {
        open();
      });

      //Hide modal
      modalCloseButton.addEventListener("click", () => {
        close();
      });

      window.addEventListener("click", (e) => {
        e.target === modal_background ? close() : false;
      });
      function close() {
        modal.classList.remove("show");
        modal_background.classList.remove("show");
      }
      function open() {
        modal.classList.add("show");
        modal_background.classList.add("show");
      }
    </script>
  </body>
</html>
