<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>구독 회원 조회</title>
    <link rel="stylesheet" href="/css/common/artistPageHeader.css" />
    <link rel="stylesheet" href="/css/common/artistAdmin.css" />
    <link rel="stylesheet" href="/css/admin/subscribeMember.css" />
  </head>
  <body>
    <th:block th:replace="~{common/artistPageHeader}">헤더</th:block>
    <div class="modal">
      <div id="modal" class="modal-body">
        <!-- <button id="modalCloseButton">X</button> -->
        <span class="close" onclick="closeModal()">&times;</span>
        <h1 class="h1">본인이 작성한 글</h1>
        <table border="1" style="border-collapse: collapse" class="modal-table">
          <tbody class="tbody">
            <!-- <tr class="th">
              <th>번호</th>
              <th>게시글 내용</th>
              <th>종류</th>
            </tr>
            <tr class="tr">
              <td>1</td>
              <td>
                와~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~!!!!!!!!!!!!!!!!~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
              </td>
              <td>댓글</td>
            </tr> -->
          </tbody>
        </table>
      </div>
    </div>
    <main
      th:with="subscribeList=${map.subscribeList}, pagination=${map.pagination}, artistGroupTitle=${map.artistGroupTitle}"
    >
      <!-- th:replace -->
      <th:block th:replace="~{common/adminArtist}"></th:block>
      <div class="main">
        <h4 th:text="${artistGroupTitle}">아티스트</h4>
        <h1>구독 회원 조회</h1>
        <br />
        <table border="1" style="border-collapse: collapse" class="main-table">
          <thead>
            <tr class="tr-head">
              <th>회원 번호</th>
              <th>닉네임</th>
              <th>아이디(이메일)</th>
              <th>주소</th>
              <th>권한</th>
              <th>신고 누적 횟수</th>
              <th>강제 탈퇴</th>
            </tr>
          </thead>
          <tr
            class="tr-body"
            th:each="member : ${subscribeList}"
            th:object="${member}"
          >
            <td th:text="*{memberNo}">회원번호</td>
            <td th:text="*{memberNickname}">회원 닉네임</td>
            <td
              class="btn-open-popup"
              th:text="*{memberEmail}"
              th:onclick="|openModal(*{memberNo})|"
            >
              회원 이메일
            </td>
            <td th:text="*{memberAddress}">회원 주소</td>
            <!-- <th:block th:if="*{memberAuthority == 1}"
              ><td th:text="일반">권한</td>
            </th:block>
            <th:block th:if="*{memberAuthority == 2}"
              ><td th:text="아티스트">권한</td>
            </th:block>
            <th:block th:if="*{memberAuthority == 3}"
              ><td th:text="일반 관리자">권한</td>
            </th:block> -->
            <!-- <th:block th:if="*{memberAuthority == 4}"><td th:text="아티스트 관리자">권한</td> </th:block> -->
            <td>
              <th:block th:if="*{memberAuthority == 1}"> 일반 </th:block>
              <th:block th:if="*{memberAuthority == 2}"> 아티스트 </th:block>
              <th:block th:if="*{memberAuthority == 3}"> 일반 관리자 </th:block>
              <th:block th:if="*{memberAuthority == 4}">
                아티스트 관리자
              </th:block>
            </td>
            <td th:text="*{countReport}">신고 누적 횟수</td>
            <td><button onclick="withDraw(this)">탈퇴</button></td>
          </tr>
        </table>
        <div class="pagination-area" th:if="${#lists.size(subscribeList) > 0}">
          <ul class="pagination" th:if="${param.key == null}">
            <li>
              <a
                th:href="@{/admin/subscribeMember/{artistGroupNo}(artistGroupNo=${artistGroupNo})(cp=1)}"
                >&lt;&lt;</a
              >
            </li>
            <li>
              <a
                th:href="@{/admin/subscribeMember/{artistGroupNo}(artistGroupNo=${artistGroupNo})(cp=${pagination.prevPage})}"
                >&lt;</a
              >
            </li>
            <th:block
              th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage, 1)}"
            >
              <li th:if="${i == pagination.currentPage}">
                <a th:text="${i}">currentPage</a>
              </li>
              <li th:unless="${i == pagination.currentPage}">
                <a
                  th:href="@{/admin/subscribeMember/{artistGroupNo}(artistGroupNo=${artistGroupNo})(cp=${i})}"
                  th:text="${i}"
                  >cp</a
                >
              </li>
            </th:block>
            <li>
              <a
                th:href="@{/admin/subscribeMember/{artistGroupNo}(artistGroupNo=${artistGroupNo})(cp=${pagination.nextPage})}"
                >&gt;</a
              >
            </li>
            <li>
              <a
                th:href="@{/admin/subscribeMember/{artistGroupNo}(artistGroupNo=${artistGroupNo})(cp=${pagination.maxPage})}"
                >&gt;&gt;</a
              >
            </li>
          </ul>
          <!-- 검색 -->
          <ul class="pagination" th:unless="${param.key == null}">
            <li>
              <a
                th:href="@{/admin/subscribeMember/{artistGroupNo}(artistGroupNo=${artistGroupNo})(cp=1, key=${param.key}, query=${param.query})}"
                >&lt;&lt;</a
              >
            </li>
            <li>
              <a
                th:href="@{/admin/subscribeMember/{artistGroupNo}(artistGroupNo=${artistGroupNo})(cp=${pagination.prevPage}, key=${param.key}, query=${param.query})}"
                >&lt;</a
              >
            </li>
            <th:block
              th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage, 1)}"
            >
              <li th:if="${i == pagination.currentPage}">
                <a th:text="${i}">currentPage</a>
              </li>
              <li th:unless="${i == pagination.currentPage}">
                <a
                  th:href="@{/admin/subscribeMember/{artistGroupNo}(artistGroupNo=${artistGroupNo})(cp=${i}, key=${param.key}, query=${param.query})}"
                  th:text="${i}"
                  >cp</a
                >
              </li>
            </th:block>
            <li>
              <a
                th:href="@{/admin/subscribeMember/{artistGroupNo}(artistGroupNo=${artistGroupNo})(cp=${pagination.nextPage}, key=${param.key}, query=${param.query})}"
                >&gt;</a
              >
            </li>
            <li>
              <a
                th:href="@{/admin/subscribeMember/{artistGroupNo}(artistGroupNo=${artistGroupNo})(cp=${pagination.maxPage}, key=${param.key}, query=${param.query})}"
                >&gt;&gt;</a
              >
            </li>
          </ul>
          <form
            th:action="@{{artistGroupNo}(artistGroupNo=${artistGroupNo})}"
            method="get"
          >
            <select id="select" name="key">
              <option value="memberNo">회원번호</option>
              <option value="memberNickname">회원 닉네임</option>
              <option value="memberEmail">회원 이메일</option>
            </select>
            <input type="text" id="inputSearch" name="query" />
            <button id="pagination-button">검색</button>
          </form>
        </div>
      </div>
    </main>
    <!-- <script>
      const modal = document.querySelector(".modal");
      const btnOpenPopup = document.querySelector(".btn-open-popup");
      const modalCloseButton = document.getElementById("modalCloseButton");
      const modal_background = document.querySelector(".modal");

      btnOpenPopup.addEventListener("click", () => {
        open();
      });

      //Hide modal
      modalCloseButton.addEventListener("click", () => {
        close();
      });

      window.addEventListener("click", (e) => {
        e.target === modal_background ? close() : false;
      });
      function close() {
        modal.classList.remove("show");
        modal_background.classList.remove("show");
      }
      function open() {
        modal.classList.add("show");
        modal_background.classList.add("show");
      }
    </script> -->
    <script th:inline="javascript">
      const artistGroupTitle = /*[[${map.artistGroupTitle}]]*/ "아티스트번호";
    </script>
    <script src="/js/admin/subscribeMember.js"></script>
  </body>
</html>
