<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>noticeDetail</title>

    <link rel="stylesheet" href="/css/artistHomepage/noticeList.css" />
    <link rel="stylesheet" href="/css/common/artistPageHeader.css" />
    <link rel="stylesheet" href="/css/common/artistPageNavi.css" />
  </head>
  <body>
    <th:block th:replace="~{common/artistPageHeader}"></th:block>
    <th:block th:replace="~{common/artistPageNavi}"></th:block>
    <main th:with="artistGroupNoticeList=${map.artistGroupNoticeList}, pagination=${map.pagination}">
      <div class="screen">
        <div class="frame">
          <div class="div-wrapper">
            <div class="text-wrapper">공지사항</div>
          </div>

          <div
            class="notice-area"
            th:each="artistGroupNotice : ${artistGroupNoticeList}"
            th:object="${artistGroupNotice}"
          >
            <div class="artist-group-name" th:text="*{artistGroupTitle}">아티스트 그룹 명</div>
            <div class="group">
              <div class="overlap-group">
                <img class="line" src="/img/line-347.svg" alt="line" />
                <a th:href="|/${artistGroupTitle}/notice/*{artistGroupNoticeNo}|">
                  <p class="notice-title-area">
                    <span class="notice-title" th:text="*{artistGroupNoticeTitle}">공지 제목<br /></span>
                    <span class="notice-upload-time" th:text="*{artistGroupNoticeEnrollDate}">2023. 08. 11</span>
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="pagination-area div-2" th:if="${#lists.size(artistGroupNoticeList) > 0}">
            <ul class="pagination">
              <li>
                <a th:href="|/${artistGroupTitle}/notice?cp=1|" class="text-wrapper-4">&lt;&lt;</a>
              </li>
              <li>
                <a th:href="|/${artistGroupTitle}/notice?cp=${pagination.prevPage}|" class="text-wrapper-4">&lt;</a>
              </li>
              <th:block th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage, 1)}">
                <li th:if="${i == pagination.currentPage}">
                  <a th:text="${i}" class="text-wrapper-4">currentPage</a>
                </li>
                <li th:unless="${i == pagination.currentPage}">
                  <a th:href="|/${artistGroupTitle}/notice?cp=${i}|" th:text="${i}" class="text-wrapper-4">cp</a>
                </li>
              </th:block>
              <li>
                <a th:href="|/${artistGroupTitle}/notice?cp=${pagination.nextPage}|" class="text-wrapper-4">&gt;</a>
              </li>
              <li>
                <a th:href="|/${artistGroupTitle}/notice?cp=${pagination.maxPage}|" class="text-wrapper-4">&gt;&gt;</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </main>
    <!-- <script src="/js/artistHomepage/artistNotice.js"></script> -->
    <script src="https://kit.fontawesome.com/2434a52ecc.js" crossorigin="anonymous"></script>
  </body>


</html>


