<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="/css/artistHomepage/artist.css">
  <link rel="stylesheet" href="/css/artistHomepage/feedDetail.css">
  <link rel="stylesheet" href="/css/artistHomepage/feedUpdate.css">
  <link rel="stylesheet" href="/css/common/artistPageHeader.css">
  <link rel="stylesheet" href="/css/common/artistPageNavi.css">
  <title>artist</title>
</head>


<body>
  <th:block th:replace="~{common/artistPageHeader}"></th:block>
  <th:block th:replace="~{common/artistPageNavi}"></th:block>
  <th:block th:replace="~{artistHomepage/feedDetail}"></th:block>
  <th:block th:replace="~{artistHomepage/feedUpdate}"></th:block>
  <th:block th:replace="~{artistHomepage/report}"></th:block>
  
    
<div th:with="boardList=${map.boardList}">
  <div th:if="${#lists.size(boardList)==0}" style="display: flex; margin-top: 100px; justify-content: center; color:#7743DB; font-size: 28px;">
    현재 아티스트가 게시한 글이 존재하지 않습니다. 
  </div>

  <th:block th:unless="${#lists.size(boardList)==0}">
  <!-- 아티스트 별 최신 글 -->
  <section class="board"  style="display: relative; z-index:1">
    <div class="swiper-container" >
      <div class="swiper-wrapper" >
        <div class="swiper-slide" data-target="feedDetail" th:each="board : ${map.boardList}" th:object="${board}" th:onclick="|openModal(*{boardNo})|" >
  
          <div style="margin-left: 6px; display: flex;">
            <img th:unless="*{memberProfile}" th:src="#{user.default.image}" style="width:35px; height:35px; border-radius:50%;"> 
            <img th:if="*{memberProfile}" th:src="*{memberProfile}"style="width:35px; height:35px; border-radius:50%;">
            <div style="margin: 9px; ">
              <strong th:text="*{memberNickname}">카즈하</strong> <i class="fa-solid fa-circle-check" style="color: #7743DB"></i>
            </div>
          </div>
          <div style="margin-left: 6px; margin-top:15px;">
            
            <span class="newContent" th:text="*{boardContent}" >오늘 온라인으로 보고 계셨던 피어나도 공연 재밌었나요??</span>
          </div>
        </div>
      </div>

      <!-- 방향 버튼 상황에 따라 추가 삭제가능 -->

    </div>

    
      <div th:if="${#lists.size(boardList)==0}" style="display: flex; margin-top: 100px; justify-content: center; color:#7743DB; font-size: 28px;">
             현재 게시글이 존재하지 않습니다. 
          아티스트에게 해주고 싶은 말을 작성해주세요.
      </div>


    <!-- 날짜별 게시글 목록 -->
    <section class="published-container" th:each="board : ${map.boardList}" th:object="${board}"  th:onclick="|openModal(*{boardNo})|">

      <!-- 작성자 프로필 -->
      <section class="publishedText-container">

        <section class="dateProfile">
          <div><strong th:text="*{boardEnrollDateDd}">27</strong></div>
          <div>
            <p th:text="*{boardEnrollDateMon}">Nov</p>
          </div>
        </section>  
       
        <section id="publishedImage" >
          <section class="profile">
            <div>
              <img th:unless="*{memberProfile}" th:src="#{user.default.image}" style="width:40px;"> 
              <img th:if="*{memberProfile}" th:src="*{memberProfile}"style="width:40px; height:40px; border-radius:50%;">
            
            </div>
            <div>
              <strong th:text="*{memberNickname}" style="font-size: 17px;">닉네임</strong>
              <i th:if="*{memberAuthority} == 2" class="fa-solid fa-circle-check" style="color: #7743DB"></i>
              <p th:text="*{boardEnrollDate}" style="font-size: 14px; margin-top:5px; color:rgba(196, 196, 196, 1);">1시간 전</p>
            </div>
          </section>
          
          <section class="image-container" th:if="${board.imageList != null and board.imageList.size != 0}"  >
            <div class="img-container" data-target="feedDetail">
              <div class="slideshow-container" style="display: flex;">
                <th:block th:if="${#lists.size(board.imageList) &lt; 2}">
                  <div class="slide" style="padding: 15px;" 
                    th:each="i : ${#numbers.sequence(0, #lists.size(board.imageList)-1, 1)}" 
                    th:with="path=|${board.imageList[i].boardImagePath}${board.imageList[i].boardImageRename}|">
                    <img th:src="${path}"  style="border-radius: 10px; ">
                  </div>
                </th:block>

              <th:block th:unless="${#lists.size(board.imageList) &lt; 2}">
                    
                <div class="slide" style="padding: 15px;" 
                  th:each="i : ${#numbers.sequence(0, 1, 1)}" 
                  th:with="path=|${board.imageList[i].boardImagePath}${board.imageList[i].boardImageRename}|">
                  <img th:src="${path}"  style="border-radius: 10px; ">
                </div>
               </th:block>
              </div>
            </div>
          </section>

          <section class="textbox" data-target="feedDetail" style="font-size: 18px; height: 45px; margin-top: 5px;"   th:text="*{boardContent}" >
            LE SSERAFIM (르세라핌)은 대한민국의 걸그룹이다. 
            
          </section>

          <!-- 댓글 좋아요 -->
          <section class="reaction" style="display: flex; justify-content:end; align-items: center;">
            <i class="fa-solid fa-heart fa-xl" style="color: #7743DB; margin-top: 2px; font-size: 20px;" ></i> <span th:text="*{likeCount}" style="margin-left:7px;" >234</span>
            <a href="#"  data-target="feedDetail" ><i
                    class="fa-regular fa-comment fa-xl" style="color: #7743DB; margin-left: 20px; font-size: 20px;"></i> 
                    <span th:text="*{commentCount}" style="margin-left:5px;" >234</span></a>
          </section>

          <div style="border: 0.5px dashed rgba(164, 164, 164, 0.3); width:1010px;">

          </div>
        </section>
      </section>
    </section>


    </section>
  </th:block> 
</div>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/2434a52ecc.js" crossorigin="anonymous"></script>
    <script src="/js/artistHomepage/artist.js"></script>
    <script th:inline="javascript">


      // messages.properties의 값을 얻어와 전역 변수로 선언
      const defaultImage = /*[[#{user.default.image}]]*/ "기본 이미지";
      const boardDetail = /*[[${boardDetail}]]*/ "dadasas";
      const artistGroupTitle = /*[[${artistGroupTitle}]]*/ "dadasas";
      const loginCheck = /*[[${session.loginMember != null ? true : false}]]*/ "로그인 여부";
      const loginMemberNo = /*[[${session.loginMember.memberNo}]]*/ "멤버넘버";  
      const boardD = /*[[${board}]]*/ "보드";
        const boardNo = /*[[${boardNo}]]*/ "보드 넘버";
        const message = /*[[${message}]]*/ "전달 받은 message";
        // message가 없다면 null
        
        if(message != null) alert(message);
        
        if(boardNo != null && boardD != null){
            openModal(boardD.boardNo);
        }
 </script>

</body>

</html>