<!-- 게시글 작성 modal -->

  <div class="feedWriteModal" id="feedWrite">
    
        <div id="feedWriteModal" class="modal-body">
            <button class="modalCloseButton" data-target="feedWrite" onclick="wcloseModal()">X</button>
            <form th:action="|/${artistGroupTitle}/insert|" method="POST" enctype="multipart/form-data">
            <div class="modal-write">
                <h1>게시글 작성</h1>
                <p>LE SSERAFIM</p>

                <div class="modal-feedWrite">
                    <textarea name="feedWrite2" id="feedWrite2" placeholder="피에스타에 게시글을 작성해보세요!!"></textarea>
                </div>

                <div class="boardImg-container">
                    <h4>이미지 추가하기</h4>
                    <div class="img-box">

                        <div class="boardImg">
                            <label for="img1">
                                <img class="preview" src="">
                            </label>
                            <input type="file" name="images" class="inputImage" id="img1" accept="image/*">
                            <span class="delete-image">&times;</span>
                        </div>

                        <div class="boardImg">
                            <label for="img2">
                                <img class="preview" src="">
                            </label>
                            <input type="file" name="images" class="inputImage" id="img2" accept="image/*">
                            <span class="delete-image">&times;</span>
                        </div>

                        <div class="boardImg">
                            <label for="img3">
                                <img class="preview" src="">
                            </label>
                            <input type="file" name="images" class="inputImage" id="img3" accept="image/*">
                            <span class="delete-image">&times;</span>
                        </div>

                        <div class="boardImg">
                            <label for="img4">
                                <img class="preview" src="">
                            </label>
                            <input type="file" name="images" class="inputImage" id="img4" accept="image/*">
                            <span class="delete-image">&times;</span>
                        </div>
                        <div class="boardImg">
                            <label for="img5">
                                <img class="preview" src="">
                            </label>
                            <input type="file" name="images" class="inputImage" id="img5" accept="image/*">
                            <span class="delete-image">&times;</span>
                        </div>
                        <div class="boardImg">
                            <label for="img6">
                                <img class="preview" src="">
                            </label>
                            <input type="file" name="images" class="inputImage" id="img6" accept="image/*">
                            <span class="delete-image">&times;</span>
                        </div>
                        <div class="boardImg">
                            <label for="img7">
                                <img class="preview" src="">
                            </label>
                            <input type="file" name="images" class="inputImage" id="img7" accept="image/*">
                            <span class="delete-image">&times;</span>
                        </div>
                        <div class="boardImg">
                            <label for="img8">
                                <img class="preview" src="">
                            </label>
                            <input type="file" name="images" class="inputImage" id="img8" accept="image/*">
                            <span class="delete-image">&times;</span>
                        </div>
                    </div>
                </div>

                <div class="modal-btn">
                    <button>등록하기</button>
                </div>

            </div>
        </form>
        </div>
    </div>
    