   <!-- 게시글 상세보기 modal -->
   <div class="feedDetailModal" id="feedDetail" style="display:relative; z-index:3;">
    <div id="dmodal-body">
        <div>
            <button class="closeModal" data-target="feedDetail" onclick="closeModal()">X</button>
        </div>
        <div class="feedContent">
            <div class="profile" style="display:flex;">
                <span>
                    <img id="profileImage" style="width:40px; height:40px; border-radius:50%;">
                </span>        
                <span class="profile-upper">
                    <span>
                        <Strong id="boardNickname">카즈하</Strong>
                        <!-- 아티스트인 경우에만 보임 -->
                        <i id="indicator"></i>
                        <p id="boardDate">1시간 전</p>
                    </span>
                    <span class="element">
                        
                            <input id="check-btn" type="checkbox" />
                            <label for="check-btn"><i class="fa-solid fa-ellipsis-vertical fa-2x"></i></label>
                            <ul class="menubars">
                                <a href="#">
                                    <li>신고하기</li>
                                </a>
                                <a href="#">
                                    <li>수정하기</li>
                                </a>
                                <a href="#">
                                    <li>삭제하기</li>
                                </a>
                            </ul>
                        
                    </span>
                </span>
               
            </div>

            <!-- 이미지 없음 -->
            <div class="content">
                <div class="feedMain">
                    비동기로 내용
                </div>
                <!-- 이미지가 있을 경우 -->
                <div class="feedImg" style="padding-top: 15px;">
                    <img src="/artistHomepageImg/lesserafim.jpg" alt="아티스트프로필이미지" id="artistImg">
                    <img src="/artistHomepageImg/lesserafim.jpg" alt="아티스트프로필이미지" id="artistImg">
             
                </div>
                
            </div>
        </div>

        <div class="comment-container">
            <div class="comment-list-area">
                <div class="comment-count">
                  <div class="text-wrapper" >1개의 댓글</div>
                </div>
                <div class="comment-list">
  
                   <!-- 댓글 -->
                  <div class="comment-area" >
                    <!-- th:each="comment : ${mediaDetail.mediaCommentList}" th:object="${comment}" -->
                    <div class="comment-area-in" style="display: flex;">
  
                      <img class="profile-img" src="/img/male-user.png" width="40px"/>
  
                      <div class="comment-writer-area">
                        <div class="comment-writer" >댓글 작성자</div>
                        <div class="comment-date" >11.21. 02:43</div>
                      </div>
  
                      <div class="comment-profile">
                        <img class="delete-cross" src="/img/close_ring.png" />
                        <img class="report-img" src="/img/report-img.svg" onclick="modalOpen()"/>
                      </div>
  
                    </div>
  
                    <div class="comment-content-area">
                      <div class="comment-content" >
                        와 재밌다!sdjksljlkdfdfdfadfanjf l;kdaj fldksjfasdjflkd ajsjlfkaaaaaa aaaaaaaaaaaaaaaaaa aajkj
                      </div>
                    </div>
  
                    <div class="speech-bubble-wrapper">
                      <img class="speech-bubble" src="/img/speech-bubble.png" />
                      <img  class="like-heart red" src="/img/like_heart_r.svg" >
                      <img   class="like-heart gray" src="/img/like_heart_w.svg" >
                      <span  ></span>
                    </div>
  
                  </div>
                  <div class="comment-area" >
                    <!-- th:each="comment : ${mediaDetail.mediaCommentList}" th:object="${comment}" -->
                    <div class="comment-area-in" style="display: flex;">
  
                      <img class="profile-img" src="/img/male-user.png" width="40px"/>
  
                      <div class="comment-writer-area">
                        <div class="comment-writer" >댓글 작성자</div>
                        <div class="comment-date" >11.21. 02:43</div>
                      </div>
  
                      <div class="comment-profile">
                        <img class="delete-cross" src="/img/close_ring.png" />
                        <img class="report-img" src="/img/report-img.svg" onclick="modalOpen()"/>
                      </div>
  
                    </div>
  
                    <div class="comment-content-area">
                      <div class="comment-content" >
                        와 재밌다!sdjksljlkdfdfdfadfanjf l;kdaj fldksjfasdjflkd ajsjlfkaaaaaa aaaaaaaaaaaaaaaaaa aajkj
                      </div>
                    </div>
  
                    <div class="speech-bubble-wrapper">
                      <img class="speech-bubble" src="/img/speech-bubble.png" />
                      <img  class="like-heart red" src="/img/like_heart_r.svg" >
                      <img   class="like-heart gray" src="/img/like_heart_w.svg" >
                      <span  ></span>
                    </div>
  
                  </div>
                  <div class="comment-area" >
                    <!-- th:each="comment : ${mediaDetail.mediaCommentList}" th:object="${comment}" -->
                    <div class="comment-area-in" style="display: flex;">
  
                      <img class="profile-img" src="/img/male-user.png" width="40px"/>
  
                      <div class="comment-writer-area">
                        <div class="comment-writer" >댓글 작성자</div>
                        <div class="comment-date" >11.21. 02:43</div>
                      </div>
  
                      <div class="comment-profile">
                        <img class="delete-cross" src="/img/close_ring.png" />
                        <img class="report-img" src="/img/report-img.svg" onclick="modalOpen()"/>
                      </div>
  
                    </div>
  
                    <div class="comment-content-area">
                      <div class="comment-content" >
                        와 재밌다!sdjksljlkdfdfdfadfanjf l;kdaj fldksjfasdjflkd ajsjlfkaaaaaa aaaaaaaaaaaaaaaaaa aajkj
                      </div>
                    </div>
  
                    <div class="speech-bubble-wrapper">
                      <img class="speech-bubble" src="/img/speech-bubble.png" />
                      <img  class="like-heart red" src="/img/like_heart_r.svg" >
                      <img   class="like-heart gray" src="/img/like_heart_w.svg" >
                      <span  ></span>
                    </div>
  
                  </div>
  
                  <div class="new-comment-list">
  
                    <div class="new-comment-area hide">
                      <!-- 여기에 나타날 새로운 댓글 창 -->
                      <div class="comment-area-in">
                        <img class="img" src="/img/male-user.png" />
    
                        <div class="comment-writer-area">
                          <div class="comment-writer">답글 작성자</div>
                          <div class="comment-date">11.21. 02:43</div>
                        </div>
    
                        <img class="comment-profile" src="/img/frame-11979.png" />
                      </div>
    
                      <div class="comment-content-area">
                        <div class="comment-content">와 르세라핌!</div>
                      </div>
    
                      <div class="speech-bubble-wrapper">
                        <img class="speech-bubble" src="/img/speech-bubble.png" />
                      </div>
                    </div>
                    
                  </div>
  
                </div>
                <div class="comment-input-area">
                  <input type="hidden" value="0" id="parent-comment-no">
                  <input type="text" class="comment-input" id="comment-input" placeholder="댓글을 입력하세요" style="color:#7743DB"></input>
                  <div class="comment-input-btn">
                   <img class="up-arrow" id="up-arrow" src="/img/male-user.png" onclick="submitComment()">
                  </div>
                </div>
              </div>
           
        </div>
    </div>
</div>