   <!-- 게시글 상세보기 modal -->
   <div class="feedDetailModal" id="feedDetail">
    <div id="dmodal-body">
        <div>
            <button class="closeModal" data-target="feedDetail" onclick="closeModal()">X</button>
        </div>
        <div class="feedContent">
            <div class="profile">
                <div><a href="#"><i class="fa-regular fa-circle-user fa-2xl" style="color: #7743DB"></i></a></i>
                </div>
                <div>
                    <Strong>카즈하</Strong>
                    <!-- 아티스트인 경우에만 보임 -->
                    <i class="fa-solid fa-circle-check" style="color: #7743DB"></i>
                    <p>1시간 전</p>
                </div>
                <div class="element">
                    <input id="check-btn" type="checkbox" />
                    <label for="check-btn"><i class="fa-solid fa-ellipsis-vertical fa-2x"></i></label>
                    <ul class="menubars">
                        <a href="#">
                            <li>신고하기</li>
                        </a>
                        <a href="#">
                            <li>수정하기</li>
                        </a>
                        <a href="#">
                            <li>삭제하기</li>
                        </a>
                    </ul>
                </div>
            </div>

            <!-- 이미지 없음 -->
            <div class="content">

                <!-- 이미지가 있을 경우 -->
                <div class="feedImg">
                    <img src="/artistHomepageImg/1.jpg" width="500px">
                </div>
                <div class="feedContent">
                    LE SSERAFIM (르세라핌)은 대한민국의 걸그룹이다. 세상의 시선에 흔들리지 않고 두려움 없이
                    앞으로 나아가겠다는 자기 확신과 강한 의지를 바탕으로 비상할 준비를 마친 그룹은 2022년 5월, 대망의 첫 미니 앨범 [FEARLESS]를 공개하며 가요계에 출사표를
                    던졌다.
                    방시혁 총괄 프로듀서의 진두지휘 아래 얼터너티브 팝, 디스코-펑크, R&B 등 다양한 장르의 음악이 그룹만의 스타일로 탄생했고 멤버 김채원과 허윤진은 수록곡 'Blue
                    Flame'의 작사에 참여하는 등 앨범에 각별한 애정을 내비치며 새로운 여정의 설렘과 각오를 담았다.
                    데뷔와 동시에 각종 신기록을 쏟아낸 그룹은 같은 해 10월 두 번째 EP [ANTIFRAGILE]로 성공 가도를 이어가며 강력한 팬덤을 구축해 나갔다. 2023년 5월에는
                    첫 번째
                    정규 앨범 [UNFORGIVEN]을 발매, 타인의 평가에 개의치 않고 르세라핌 만의 길을 개척하겠다는 각오를 주제로 삼았고 월드 클래스 뮤지션들이 참여해 그룹의 위상을
                    입증했다.
                </div>
            </div>
        </div>

        <div class="comment-container">
            <div class="profile">
                <div><a href="#"><i class="fa-regular fa-circle-user fa-2xl" style="color: #7743DB"></i></a></i>
                </div>
                <div>
                    <Strong>카즈하</Strong>
                    <!-- 아티스트인 경우에만 보임 -->
                    <i class="fa-solid fa-circle-check" style="color: #7743DB"></i>
                    <p>1시간 전</p>
                </div>
            </div>

            <div class="textbox">
                저도요!!!!!!!!!
            </div>

            <form action="">
                <div class="comment-write">
                    <textarea class="comment-input" placeholder="댓글을 입력하세요"></textarea>
                    <button class="submitBtn"><i class="fa-solid fa-arrow-up"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>