   <!-- 게시글 상세보기 modal -->
   <div class="feedDetailModal" id="feedDetail" style="display:relative; z-index:3;">
    <div id="dmodal-body">
        <div>
            <button class="closeModal" data-target="feedDetail" onclick="closeModal()">X</button>
        </div>
        <div class="feedContent">
            <div class="profileDetail" style="display:flex;">
                <span>
                    <img id="profileImage" style="width:40px; height:40px; border-radius:50%;">
                </span>        
                <span class="profile-upper">
                    <span>
                        <Strong id="boardNickname">카즈하</Strong>
                        <!-- 아티스트인 경우에만 보임 -->
                        <i id="indicator"></i>
                        <p id="boardDate">1시간 전</p>
                    </span>
                    <span class="element">
                        
                            <input id="check-btn" type="checkbox" />
                            <label for="check-btn"><i class="fa-solid fa-ellipsis-vertical fa-2x" style="color:gray; font-size:26px;"></i></label>
                            <div class="menubars">
                                <a href="#">
                                    <button>신고하기</button>
                                </a>
                                <!-- <th:block th:if="${session.loginMember != null and session.loginMember.memberNo == Board.memberNo}"> -->
                                  <!-- <th:block th:if="${session.loginMember != null and session.loginMember.memberNo == board.memberNo}"> -->
                                  <a href="#">
                                      <button id="updateBtn">수정하기</button>
                                  </a>
                                  <a>
                                    <form action="" id="modal-form" method="post">
                                      <button id="feedDeleteBtn">삭제하기</button>
                                    </form>
                                  </a>
                                </th:block>
                                <!-- </th:block> -->
                            </div>
                        
                    </span>
                </span>
               
            </div>

            <!-- 이미지 없음 -->
            <div class="contentArea">
                <div class="feedMain">
                    비동기로 내용
                </div>
                <!-- 이미지가 있을 경우 -->
                <div class="feedImg" style="padding-top: 15px;">
                    <!-- <img src="/artistHomepageImg/lesserafim.jpg" alt="아티스트프로필이미지" id="artistImg"> --> 
                </div>
            </div>

            <div class="likeArea">
              <i class="fa-heart" th:classappend="${likeCheck} ? fa-solid : fa-regular" id="likeImg" style="color: #7743DB; margin-top: 10px; font-size: 20px;" ></i> <span id="feedLikeCount" style="margin-left:3px; font-size: 17px;" >234</span>

            </div>


        </div>

        <div class="comment-container">
            <div class="comment-list-area">
                <div class="comment-count">
                  <div class="text-wrapper" >1개의 댓글</div>
                </div>
                <div class="comment-list">
  
                   <!-- 댓글 -->
                  <div class="comment-area">
                    <!-- th:classappend="${comment.boardParentCommentNo} != 0 ? child-comment" -->
                    <div class="comment-area-in">
  
                      <img class="profile-img" src="/img/male-user.png" />
  
                      <div class="comment-writer-area">
                        <div class="comment-writer" >댓글 작성자</div>
                        <div class="comment-date" >11.21. 02:43</div>
                      </div>
  
                      <div class="comment-profile">
                        <button class="delete-cross">X</button>
                        <img class="report-img" src="/img/report-img.svg" onclick="reportOpen()"/>
                      </div>
  
                    </div>
  
                    <div class="comment-content-area">
                      <div class="comment-content" >
                        와 재밌다!sdjksljlkdfdfdfadfanjf l;kdaj fldksjfasdjflkd ajsjlfkaaaaaa aaaaaaaaaaaaaaaaaa aajkj
                      </div>
                    </div>
  
                    <div class="comment-like-area">

                      <i class="fa-heart" th:classappend="${likeComment} ? fa-solid : fa-regular" id="likeImg" style="color: #7743DB; margin-top: 10px; font-size: 20px;" ></i> <span id="commentLikeCount" style="margin-left:3px; font-size: 17px;" >234</span>
                      <i class="fa-regular fa-comment fa-xl" style="color: #7743DB; margin-left: 20px; font-size: 20px;"></i>
                    </div>
  
                  </div>
  
                </div>
                <div class="comment-input-area">
                  <input type="hidden" value="0" id="parent-comment-no">
                  <input type="text" class="comment-input" id="comment-input" placeholder="댓글을 입력하세요" style="color:#7743DB"></input>
                  <div class="comment-input-btn">
                   <img class="up-arrow" id="up-arrow" src="/img/cButton.png" onclick="submitComment()">
                  </div>
                </div>
              </div>
           
        </div>
    </div>
</div>