<meta charset="UTF-8">
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/artistHomepage/memberFeed.css">
  <link rel="stylesheet" href="/css/common/atristPageHeader.css">
  <link rel="stylesheet" href="/css/common/artistPageNavi.css">
  <title>memberFeed</title>
</head>

<body>
  <th:block th:replace="~{common/atristPageHeader}"></th:block>
  <th:block th:replace="~{common/artistPageNavi}"></th:block>

  <section class="board">
    <!-- 멤버별 피드 게시글 조회 -->
    <section class="memberProfile">
      <div><img src="image1.jpg" alt="프로필 이미지"></div>
      <div class="progfile-content">
        <div><strong>김채원</strong> <i class="fa-solid fa-circle-check" style="color: #7743DB"></i></div>
        <div>
          <p>2000.08.01</p>
        </div>
        <div>
          <p>너 내 도도도도독</p>
        </div>
      </div>
    </section>

  </section>

  <section id="board">
    <!-- 게시글 목록(사진 X) -->
    <section class="publishedText">

      <!-- 작성자 프로필 -->
      <section class="profile">
        <div><i class="fa-regular fa-circle-user fa-2xl" style="color: #7743DB"></i></div>
        <div>
          <strong>닉네임</strong>
          <p>1시간 전</p>
        </div>
      </section>
      <section class="textbox">
        르세라핌 응원합니다!! <br>
        하ㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏ
      </section>
      <!-- 댓글 좋아요 -->
      <section class="reaction">
        <i class="fa-regular fa-heart fa-xl"></i> <span>234</span>
        <i class="fa-regular fa-comment fa-xl"></i> <span>234</span>
      </section>
    </section>

    <!-- 게시글 목록(사진 + 글) -->
    <section id="publishedImage">

      <!-- 작성자 프로필 -->
      <section class="profile">
        <div><i class="fa-regular fa-circle-user fa-2xl" style="color: #7743DB"></i></div>
        <div>
          <Strong>카즈하</Strong>
          <!-- 아티스트인 경우에만 보임 -->
          <i class="fa-solid fa-circle-check" style="color: #7743DB"></i>
          <p>1시간 전</p>
        </div>
      </section>
      <section class="imgage-container">
        <div class="img-container">
          <div><a class="prev" onclick="plusSlides(-1)"><i class="fa-solid fa-chevron-left fa-2xl"
                style="color: #7743DB"></i></a></div>
          <div class="slideshow-container">
            <div class="slide">
              <img src="1.jpg" width="100%">
            </div>
            <div class="slide">
              <img src="3.jpg" width="100%">
            </div>
            <div class="slide">
              <img src="4.jpg" width="100%">
            </div>
            <div class="slide">
              <img src="5.jpg" width="100%">
            </div>
            <div class="slide">
              <img src="logo.png" width="100%">
            </div>
          </div>
          <div><a class="next" onclick="plusSlides(1)"><i class="fa-solid fa-angle-right fa-2xl"
                style="color: #7743DB"></i></a></div>
        </div>

        <div style="text-align:center" class="dot-container">
          <span class="dot" onclick="currentSlide(1)"></span>
          <span class="dot" onclick="currentSlide(2)"></span>
          <span class="dot" onclick="currentSlide(3)"></span>
          <span class="dot" onclick="currentSlide(4)"></span>
          <span class="dot" onclick="currentSlide(5)"></span>
        </div>
      </section>

      <section class="textbox">
        LE SSERAFIM (르세라핌)은 대한민국의 걸그룹이다. 세상의 시선에 흔들리지 않고 두려움 없이
        앞으로 나아가겠다는 자기 확신과 강한 의지를 바탕으로 비상할 준비를 마친 그룹은 2022년 5월, 대망의 첫 미니 앨범 [FEARLESS]를 공개하며 가요계에 출사표를 던졌다.
        방시혁 총괄 프로듀서의 진두지휘 아래 얼터너티브 팝, 디스코-펑크, R&B 등 다양한 장르의 음악이 그룹만의 스타일로 탄생했고 멤버 김채원과 허윤진은 수록곡 'Blue
        Flame'의 작사에 참여하는 등 앨범에 각별한 애정을 내비치며 새로운 여정의 설렘과 각오를 담았다.
        데뷔와 동시에 각종 신기록을 쏟아낸 그룹은 같은 해 10월 두 번째 EP [ANTIFRAGILE]로 성공 가도를 이어가며 강력한 팬덤을 구축해 나갔다. 2023년 5월에는 첫 번째
        정규 앨범 [UNFORGIVEN]을 발매, 타인의 평가에 개의치 않고 르세라핌 만의 길을 개척하겠다는 각오를 주제로 삼았고 월드 클래스 뮤지션들이 참여해 그룹의 위상을 입증했다.
      </section>

      <!-- 댓글 좋아요 -->
      <section class="reaction">
        <i class="fa-solid fa-heart fa-xl" style="color: #7743DB"></i> <span>234</span>
        <i class="fa-regular fa-comment fa-xl" style="color: #7743DB"></i> <span>234</span>
      </section>
    </section>
  </section>

  </section>



  <script src="memberFeed.js"></script>
  <script src="https://kit.fontawesome.com/2434a52ecc.js" crossorigin="anonymous"></script>
</body>

</html>