body {
  margin: 0px;
  height: 100%;
  
}


main {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F7F7FA;
  min-height: 800px;
  margin-bottom: 50px;

}

a {
  text-decoration: none;
}



/* 아티스트 별 최신 글 */

.swiper-container {
  width: 1100px;
  background: linear-gradient(0deg, #ffffff -5%, #936bdb 100%);
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 40px;
  overflow: hidden;
  padding: 0px 20px;
}


.swiper-slide {
  background: #fff;
  height: 120px;
  /* Center slide text vertically */
  margin-top: 50px;
  width: 345px;
  border-radius: 10px;
  font-size: 15px;
  margin-right: 15px;
  padding: 15px;
}

.newContent {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}


.swiper-container-vertical>.swiper-pagination-bullets {
  top: unset !important;
  bottom: 10px;
  left: 0;
  width: 100%;
}

.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
  display: inline-block !important;
  margin: 6px 2px !important;
}


/* 프로필 사진이 없는 경우 */




.published-container {
  flex-direction: row;
  width: 1100px;
}


/* 게시글 목록 (사진 X) */
.publishedText-container {
  margin-top: 30px;
  display: flex;
}

.dateProfile{
  margin-right: 50px;
}


.dateProfile > div:nth-of-type(1){
  font-size: 30px;
}


.publishedText {
  background-color: #ffffff;
  width: 1100px;
  align-items: flex-start;
  border-bottom: 2.5px solid #dbdbdb;

}

.profile {
  height: 48px;
  align-items: center;
  display: flex;
  min-width: 0;
  margin-bottom: 20px;
}

.profile>div {
  padding-right: 15px;
}

#imgprofile{
  height: 70px;
  width: 70px;
  border-radius: 100;
}

#profileImg{
  height: 100%;
  width: 100%;
}


.textbox {
  display: block;
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: row;
  max-width: 1000px;
 
}

.reaction {
  margin: 20px 0px;
}

.reaction>i {
  padding: 5px;
}



/* 이미지 슬라이드 */
.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1000px;
  margin-top: 30px;
}

.img-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.prev,
.next {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  cursor: pointer;
}

.prev {
  margin-right: 10px;
  /* 오른쪽 마진 추가 */
}

.next {
  margin-left: 10px;
  /* 왼쪽 마진 추가 */
}


.slide>img {
  width: 500px;
  height: 500px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #7743DB;
}

.dot-container {
  margin-top: -30px;
  margin-bottom: 30px;
}




.closeModal {
  display: flex;
  background-color: white;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: x-large;
}


#modalContainer {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.modalContent {
  position: absolute;
  background-color: #ffffff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 150px;
    padding: 31px 24px 24px;
    text-align: center;
    border-radius: 15px;
}



#modalContainer.hidden{
  display: none;
}

.modal-btn-area{
  display: flex;
  justify-content: center;
  padding-top: 20px;
  gap: 20px;
}


.modal-btn{
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  line-height: 19px;
  width: 170px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  
}


.modal-btn-close{
  background-color: #ff627d;
  border-radius: 10px;
}


.modal-btn-confirm{
  background-color: #58a6ff;
  border-radius: 10px;
}