
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F7F7FA;
  
  
}

main {
  min-height: 1500px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}



/* 아티스트 프로필 */
#teamProfile {
  width: 1100px;
  height: 400px;
  margin-bottom: 50px;
}

#artistImg {
  width: 100%;
  height: 100%;
}


#teamProfile>a:last-child {
  margin-top: -40px;
  text-decoration: none;
  color: black;
  font-size: 60px;
  font-weight: 1000;
  display: flex;
  align-items: center;
}

#artistName {
  text-shadow: -1px 0 rgb(255, 255, 255), 0 1px rgb(255, 255, 255), 1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);
}

/* 글쓰기 */
#postingSection {
  display: flex;
  align-items: center;
  margin-top: 70px;
  width: 1100px;
  background-color: #ffffff;
  height: 90px;
  border-radius: 100px;
  box-shadow: 0 1px 12px #3e3f4e05, 0 5px 24px #3e3f4e1a;
}


#postingSection>img:first-child {
  margin-left: 30px;

}

.btn-open-popup {
  width: 80%;
  font-size: 24px;
}

#postingSection>i {
 
  display:flex;
  justify-content: end;
  font-size: 25px;
  width: 74%;

}



/* 게시글(사진+글) */
#boardListArea {
  margin-top: 50px;
  padding: 20px;
  background-color: #ffffff;
  width: 1100px;
  align-items: flex-start;
  border-bottom: 2.5px solid #dbdbdb;
  border-radius: 10px;
}

.list-area {
  width: 100%;
  
}


.board-area {
  height: auto;
  align-items: center;
  display: flex;
  min-width: 0;
  margin-bottom: 20px;
}

.board-area>div {
  padding-right: 10px;
}

#imgprofile{
  height: 70px;
  width: 70px;
  border-radius: 100;
}

#profileImg{
  height: 100%;
  width: 100%;
}



/* 이미지 슬라이드 */
.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1000px;
  margin-top: 30px;
}


.img-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}

.slideshow-container {
  display: flex;
}

.prev,
.next {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  cursor: pointer;
}

.prev {
  margin-right: 10px;
  /* 오른쪽 마진 추가 */
}

.next {
  margin-left: 10px;
  /* 왼쪽 마진 추가 */
}


.slide>img {
  width: 500px;
  height: 500px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #7743DB;
}

.dot-container {
  margin-top: -30px;
  margin-bottom: 30px;
}

.textbox{
  margin-top: 20px;
}

/* 게시판 작성 modal */
.feedWriteModal {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  display: none;

  background-color: rgba(0, 0, 0, 0.4);
}

.feedWriteModal.show {
  display: block;
}

.feedWriteModal.hidden {
  display: hidden;
}

.modal-body {
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 40px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

  transform: translateX(-50%) translateY(-50%);
  justify-content: end;
  align-items: center;
  overflow: auto;
  height: 800px;
  flex-direction: row;
}

.modalCloseButton {
  display: flex;
  background-color: white;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: x-large;
}

.modal-write h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.modal-write {
  width: 800px;
  margin-top: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal-write>h1 {
  font-size: 30px;
}

.modal-write>p {
  font-size: 20px;
  color: #848484;
}

.btn-open-popup>a {
  text-decoration: none;
  color: #848484;
  width: 75%;
}

.modal-feedWrite {
  margin-top: 20px;
  height: 100%;
  padding-top: 10px 0px;
}

#feedWrite2 {
  resize: none;
  width: 800px;
  height: 300px;
  font-size: 20px;
  padding: 20px;
  margin-bottom: 10px;
}

#feedWrite2:focus {
  outline: none;

}

.modal-elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  width: 100%;
  padding: 0px 30px;
}

.fa-image {
  color: #7743DB;
}

.modal-btn button {
  padding: 10px 20px;
  background-color: #7743DB;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: large;
  margin-top: 20px;
}

.boardImg-container > h4{
  margin: 20px 0px;
}

.img-box {
  display: flex;
  flex-wrap: wrap;
}


/* 이미지를 감싸는 div */
.boardImg {
  width: 200px;
  height: 200px;
}

.boardImg>label {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  cursor: pointer;
}

.inputImage {
  display: none;
}


/* 이미지 */
.boardImg img {
  max-width: 100%;
  max-height: 100%;
}

.delete-image {
  position: absolute;
  font-size: 20px;
  cursor: pointer;
  margin-top: -200px;
  margin-left: 180px;
}

#check-btn { display: none; }
#check-btn:checked ~ .menubars { display: block; } 
.menubars { 
  display: none; 
  list-style: none;
  color: black;
}



/* 게시판 상세페이지 modal */
.feedDetailModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
}

.feedDetailModal.show {
  display: block;
}

.feedDetailModal.hidden {
  display: hidden;
}

#dmodal-body{
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translateX(-50%) translateY(-50%);
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  justify-content: end;
  overflow: auto;
  height: 800px;
  flex-direction: row;
  display: flex;
}

.feedImg{
  width: 1100px;
}


.feedContent{
background-color: #ffffff;
padding: 20px 0px;
width: 800px;
}

.comment-container{
  width: 300px;
  padding: 20px;
}

.comment-write >textarea{
  margin-top: 50px;
}

.feedContent{
  width: 500px;
  font-size: 15px;
}

.element{
  margin-left: 300px;
}


.closeModal {
  display: flex;
  background-color: white;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: x-large;
}

dialog{
  width: 1100PX;
  height: AUTO;
}