* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Pretendard-Regular';
}

@font-face { font-family: 'Pretendard-Regular'; 
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') 
  format('woff'); font-weight: 100; font-style: normal; }


  header {
    width: 1100px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
  /* 로고 */
  header>section:nth-of-type(1) {
    width: 30%;
    display: flex;
    justify-content: start;
  }
  
  #logoImg{
    width: 150px;
  }
  
  /* 메뉴 */
  header>section:nth-of-type(2) {
    width: 70%;
    height: 80px;
    display: flex;
    justify-content: end;
  }
  
  /* 마이페이지/ 관리자 페이지 드롭다운 */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #D0A2F7;
    width: 150px;
    ;
    text-align: center;
    top: calc(100% + 11px);
    left: 50%;
    transform: translateX(-50%);
  }
  
  .dropdown-content a {
    display: block;
    padding: 10px;
    color: white;
  
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .search {
    width: 300px;
    flex-direction: row;
    border-radius: 8px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
  }
  
  input {
    width: 90%;
    padding: 10px 12px;
    font-size: 14px;
    border: none;
    border-radius: 8px;
  }
  
  input:focus {
    outline: none;
  }
  
  
  /* 메뉴들 */
  header article {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }