/* footer */
footer {
  width: 1096px;
  flex-direction: column;
  margin-top: 100px;
  margin: auto;
}

.footer1 {
  display: flex;
  flex-direction: row;
  margin-top : 50px;
}

.footer2 {
  display: flex;
  flex-direction: row;
  margin-top: 30px;

}

hr {
  margin-top: 100px;
  color : rgba(173, 177, 184, 1);
}

.footer1>article>* {
  font-size: 15px;
}

footer a {
  text-decoration: none;
  color : rgba(173, 177, 184, 1);
}

.footer1 >article > span {
 font-size: 20px;
}

.footer2 > pre {
  font-size: 15px;
  color : rgba(173, 177, 184, 1);
}

footer span {
  padding: 0 10px;
}
