:root {
  font-size: 62.5%;
  min-height: 1800px;
  
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Pretendard';
  background-color: rgba(244, 246, 248, 0.922);
}

@font-face { font-family: 'Pretendard'; 
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard.woff') 
  format('woff'); font-weight: 700; font-style: normal; }

main {
  display: block; 
}

.home-title {
  display: block;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.wallpaper {
  width: 100%;
}
.wallpaper > img {
  width: 100%;
  height: 300px;

}

.homeMain {
  width: 1096px;
  margin: auto;

}

.myArtist-area {
  padding-top: 70px;
}

.myArtist-area-detail {
  margin-top: 26px;
  display: flex;
  flex-wrap: wrap;
  gap: 23px 14px;
}

.artist-list {
  width: 208px;
  height: 300px;
  border : 0.01px solid rgb(225, 225, 225);
  border-radius: 14px;
  
}

.artist-list:hover {
  box-shadow: 2px 2px 2px 2px rgba(189, 83, 255, 0.153);
  border: 1px solid rgba(189, 83, 255, 0.153);
}

.artist-profile {
  background-color: rgba(244, 246, 248, 1);
  border-radius: 14px;

  display: block;
  height: 100%;
  overflow: hidden;
  position: relative;
}


.artist-image-area {
  width: 100%;
  height: 208px;
  overflow: hidden;
}

.artist-image-area:hover {
  transform:scale(1.05);
  transition: transform .2s ease-in-out;
}

.artist-image-area img {
  height: 100%;
  object-fit: cover;
 
  width: 100%;
}

.artist-logo-wrap {
  background-color: #fff;
  border-radius: 50%;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 185px;
  width: 44px;
  height: 44px;
  border: 3px solid white;
  overflow: hidden;

}


.artist-main-logo {
  height: 100%;
  object-fit: cover;
  width: 100%;
  border-radius: 50%;
 
}

.artist-text-area {
  box-sizing: border-box;
  padding-top: 26px;
  text-align: center;
  background-color: white;

}

.artist-name {
  display: inline-block;
  position: relative;
  vertical-align: top;
  font-size: 19px;
  font-weight: bold;
  color: black;
  background-color: white;
}

.newArtist-area {
  padding-top: 70px;
}

.artist-community {
  display: inline-flex;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  align-items: center;
  margin: 6px;
  margin-top: 8px;
}

.artist-community:hover {
  transform:scale(1.2);

}



.artist-shop {
  display: inline-flex;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  align-items: center;
  margin: 6px;
  margin-top: 8px;

}

.artist-shop:hover {
  transform:scale(1.2);
}



