<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <script src="https://kit.fontawesome.com/d6c32512de.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="../../static/css/cart/cart2.css">
   <link rel="stylesheet" href="../../static/css/common/shopHeader.css">

</head>
<body>

   <!-- 헤더 -->

   <header>
      <div class="header">
        
          <div class="header-left-side">
            <a href="/" id="header-logo">
              <!-- <img src="/images/logo.png" style="width:165px;"  /> -->
            </a>
          </div>
        
          <div class="header-right-side">
            <!-- <th:block th:if="${session.loginMember == null}"> -->
              <form action="#" method="GET" style="display: inline-flex; border:none; ">
                    <span class="search-area">
                    <!--  autocomplete="off" : 브라우저 제공 자동완성 off -->
                    <button id="searchBtn" class="fa-solid fa-magnifying-glass"> 
                      <input type="search" name="query" id="search-input" placeholder="상품명 혹은 아티스트 검색" 
                      autocomplete="off" > 
                    </button>
    
                    </span>
    
          </form>
          
            <a href="#"> 공지사항 </a>
            <span>|</span>
            <a href="/shop/home">샵 고객센터</a>
    
            <a href="#"><button id="loginPage"> 로그인</button></a>
            <a href="#"><button  id="signUp">회원가입</button></a>
          
          <!-- </th:block> -->
      
              <!-- <th:block th:unless="${session.loginMember == null}">
    
                 <input type="text" id="search-area" placeholder="상품명 혹은 아티스트 검색"></input>
                  <a href="#"> 카트 <th:block th:text="{카트에 담긴 갯수}"></th:block>  </a>
                  <a href="#"> 주문/배송 </a>
                  <a href="#"> 공지사항 </a>
                  <span>|</span>
                  <a href="#">샵 고객센터</a>
                              
                      <img th:if="${session.loginMember.profileImg == null}" th:src="#{user.default.image}" id="memberHeaderProfile">
                                        
                    
                      <img th:unless="${session.loginMember.profileImg == null}" th:src="${session.loginMember.profileImg}" id="memberHeaderProfile">
                  </a>    
                    
                    <div class="header-menu">
                      <a href="/myPage/myPage-home">마이페이지</a>
                      <a href="/member/logout" id="logoutBtn">로그아웃</a>
                    </div>
      
                  </div>
                </th:block>
              -->
              </div>    
            
          </div>
    
      </div>
    </header>

    <!-- 헤더 -->

   <section class="frame">

      <div class="content">

         <div class="cart-area">
            <h1 class="cart">CART</h1>
         </div>

         <!-- <div class="cart-list"> -->

            <div class="select-all">


               <i class="fa-regular fa-circle-check" style="color: rgb(0, 229, 255); font-size: 22px;"></i>
               <span>해당 상품 전체 선택</span>
            </div>

            <div class="item-list">

               <!-- 개별 상품 체크 -->
               <div class="select-item">
                  <i class="fa-regular fa-circle-check" style="color: rgb(0, 229, 255); font-size: 22px;"></i>
               </div>

               <!-- 이미지 영역 -->


                  <img src="../../static/images/keyring.png" alt="">



                  <!-- <div class="item-name"> -->
                     <a href="" class="keyring">뉴진스 키링</a>
                  <!-- </div> -->
   
                  <div>
                     <span class="item-option" style="font-size: 12px;">옵션 : BLACK</span>
                  </div>
               
               <!-- 상품 수량 + & -  -->
             

               <!-- 개별 상품 가격 -->
               

               <!-- 개별 상품 취소 -->
               <!-- <i class="fa-solid fa-xmark" style="color: rgb(199, 199, 199);"></i>
            
               
               <div item-info>
                  <i class="fa-solid fa-minus"></i>
                  <span>3</span>
                  <i class="fa-solid fa-plus"></i>
                  
                  <span style="font-weight: bold;">$132</span>
               </div> -->
            </div>

            <div class="item-amount">
                  
                     <i class="fa-solid fa-xmark" style="color: rgb(199, 199, 199); font-size: 22px;"></i>
                  
            
                  <div item-info>

                     <div class="amount">
                        <i class="fa-solid fa-minus"></i>
                        <span class="item-count">3</span>
                        <i class="fa-solid fa-plus"></i>
                     </div>
                     
                     <span class="amount-price" style="font-weight: bold;">$132</span>
                  </div>

            </div>
            
            <div class="item-list">

               <!-- 개별 상품 체크 -->
               <div class="select-item">
                  <i class="fa-regular fa-circle-check" style="color: rgb(0, 229, 255); font-size: 22px;"></i>
               </div>

               <!-- 이미지 영역 -->

                  <img src="../../static/images/photobook.png" alt="">


               

               
                  <a href="" class="keyring">LE SSERAFIM</a>

                  <span class="item-option" style="font-size: 12px;">옵션 : BLACK</span>

                  <!-- <select name="option" id="option-btn"></select>
                   -->
               
            
            </div>

            <div class="item-amount">
               <i class="fa-solid fa-xmark" style="color: rgb(199, 199, 199); font-size: 22px;"></i>
         
               <div item-info>

                  <div class="amount">
                     <i class="fa-solid fa-minus"></i>
                     <span class="item-count">10000</span>
                     <i class="fa-solid fa-plus"></i>
                  </div>
                  
                  <span class="amount-price" style="font-weight: bold;">$100</span>
               </div>

         </div>


            

                     
            <div class="total">
               <span>총 결제 금액</span>

               <div class="sc-e98633bc-7 iUJKwp">$15.58</div>

               <button type="submit" class="checkOut-btn">결제하기</button>

            </div>
            
                  </div>
            
         
   </section>
</body>
</html>
