<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <script src="/js/d6c32512de.js" crossorigin="anonymous"></script>
   <script src="https://kit.fontawesome.com/d6c32512de.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="/css/cart/cart2.css">
   <link rel="stylesheet" href="/css/common/shopHeader.css">
   <!-- <link rel="stylesheet" href="../../static/css/common/shopHeader.css"> -->
   <th:block th:replace="~{common/shopHeader}"></th:block>
</head>


<body>



   <section class="frame"> 

      

      <form action="checkout" method="post" id="checkoutFrm">

         <div class="cart-area">
            <h1 class="cart">CART</h1>
         </div>

         <!-- <div class="cart-list"> -->
         
            <div th:if="${cartList == null or cartList.empty}" class="empty-cart-message">
               <h2 class="ifEmpty">장바구니가 비었습니다.</h2> 
             </div>   


         </div>

         <div th:unless="${cartList == null or cartList.empty}">
         
         <div class="select-all">


            <!-- selectAll 버튼 클릭하면 모든 fa-regular circle check 색상 -> black으로 변경
                                                            -->
            
                              
                                             
            <label class="cart-check">
               <input type='checkbox' id="selectAll" name="selectAll" checked>
               <i class="fa-regular fa-circle-check"></i>
            </label>

            <span>해당 상품 전체 선택</span>
         </div>

        
   
         <!-- 장바구니 목록이 있을 때만 목록 표시 -->
         <!-- <div th:unless="${cartList == null or cartList.empty}"> -->
            <!-- 장바구니 목록을 표시하는 코드 -->
            <div th:each="cart : ${cartList}" class="item-list1">


         <!-- <div class="item-list1" th:each="cart : ${cartList}">  -->
         
            <div class="item-list">
   
               <!-- 개별 상품 체크 -->
               <div class="select-item">
                  <label class="cart-check">
                                                                                 <!-- 체크된 장바구니 번호 -->
                                                                                 <!-- 폼 태그에 체크된 카트 넘버를 담아 넘긴다. checked th:value="${cart.cartNo}" -->
                     <input type='checkbox' class="selectEach" name="selectEach" checked th:value="${cart.cartNo}">
                     <i class="fa-regular fa-circle-check"></i>
                  </label>
               </div>
   
               <!-- 이미지 영역 -->
               
   
               <!-- <img th:src="|${cart.productImageThumbnail}${cart.productImageThumbnailRename}|" alt=""> -->
               <img th:src="${cart.productImageThumbnail}" alt="" class="productImg">
               
              
   
               <!-- <div class="item-name"> -->
               <!-- <a th:href="@{}" class="keyring">뉴진스 키링</a> -->
               <div class="item-nameNop">
                  
                  <!-- <a th:href="@{/shop/shopDetail/' + ${cart.productNo}}" class="keyring" th:text="${cart.productName}"></a>
                  <div th:text="${cart.productName}" class="keyring"></div>
                  <div th:text="${cart.productNo}" class="keyring"></div>
                   -->

               <a th:href="@{/shop/shopDetail/{productNo}(productNo=${cart.productNo})}" class="keyring" th:text="${cart.productName}"></a>
               
                  
                  
                  <!-- </div> -->

                  <div>

                     <div class="optionTag"> 옵션: </div> <span th:text="${cart.productOptionName}"
                     class="option-text"></span>
                     
                  </div>



                  <!-- <div> -->
                     <!-- <span th:text="${cart.productOptionName}" class="option-text"> 옵션 : </span>  -->
                     <!-- <span  class="option-text"> 옵션 : </span>  -->
                     <!-- <span th:text="${cart.productOptionName}" class="item-option"></span> -->
                  <!-- </div> -->
                  
               </div>
               <!-- 상품 수량 + & -  -->
   
   
               <!-- 개별 상품 가격 -->
   
   
               <!-- 개별 상품 취소 -->
               <!-- <i class="fa-solid fa-xmark" style="color: rgb(199, 199, 199);"></i>
               
                  
                  <div item-info>
                     <i class="fa-solid fa-minus"></i>
                     <span>3</span>
                     <i class="fa-solid fa-plus"></i>
                     
                     <span style="font-weight: bold;">$132</span>
                  </div> -->
            </div>
            

            

            <div class="item-amount">
   
   
               <div class="amount">
   
                  <!-- 수량 빼기 -->
                  <!-- <label class="minus">
                     <i class="fa-solid fa-minus"></i>
                  </label> -->
   
   
                  <!-- 수량 빼기 -->
                  <label class="minus">
                     <i class="fa-solid fa-minus"></i>
                  </label>
   
                  <!-- 수량 -->
                  <span th:text="${cart.productCount}" class="item-count"></span>
                  
                  <!-- 더하기 -->
                  <label class="plus">
                     <i class="fa-solid fa-plus"></i>
                  </label>
                  
                  
                  <span th:text="${cart.productPrice}" class="price default-price"></span>
                  <span th:text="${cart.cartNo}" class="cartNo"></span>

               </div>
               
               <!-- <th:block th:text="${cart.productPrice}" class="default-price"></th:block> -->
   
               <span th:text="${cart.productPrice} * ${cart.productCount} " class="price amount-price" style="font-weight: bold;"></span>
               
   
               <label class="x-btn">
                  <!-- <input type="button" value=""> -->
                  <i class="fa-solid fa-xmark" id="xBtn" style="color: rgb(199, 199, 199);"></i>
               </label>
            </div>
         </div>

         


         <!-- 개별 상품 체크 -->
         <!-- <div class="item-list">
         
            <div class="select-item">
               <label class="cart-check">
                  <input type='checkbox' class="selectEach">
                  <i class="fa-regular fa-circle-check"></i>
               </label>
            </div> -->

            <!-- 이미지 영역 -->
<!-- 
            <img src="/images/photobook.png" alt="">

            <a href="#" class="keyring">LE SSERAFIM</a>

            <span class="item-option" style="font-size: 12px;">옵션 : BLACK</span> -->

            <!-- <select name="option" id="option-btn"></select>
                   -->


         <!-- </div>

         <div class="item-amount">

            <i class="fa-solid fa-xmark" style="color: rgb(199, 199, 199);"></i>

            <div item-info>

               <div class="amount" style="background-color: #eff7ff;">
                  <i class="fa-solid fa-minus" style="background-color: #eff7ff;"></i>
                  <span class="item-count" style="background-color: #eff7ff;">10000</span>
                  <i class="fa-solid fa-plus" style="background-color: #eff7ff;"></i>
               </div>

               <span class="amount-price" style="font-weight: bold;">$100</span>
            </div>

         </div> -->





         <div class="total">
            <span>총 결제 금액</span>

            <div class="price sc-e98633bc-7 iUJKwp" id="totalPrice"></div>

            <button type="submit" class="checkOut-btn" id="checkOut-btn" >결제하기</button>

         </div>

      </form>

   </section>

   <script src="/js/cart/cart.js"></script>
</body>
</html>