<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <script src="https://kit.fontawesome.com/d6c32512de.js" crossorigin="anonymous"></script>

   <link rel="stylesheet" href="/css/cart/checkout.css">
   <link rel="stylesheet" href="/css/common/shopHeader.css">


   <th:block th:replace="~{common/shopHeader}"></th:block>

</head>

<body>

   <!-- 헤더 -->

   <section class="frame">

      <form action="checkoutResult" method="post" id="purchaseForm">


         <div class="content">


            <div class="cart-area">
               <h1 class="cart">CHECKOUT</h1>
            </div>

            <!-- <div class="cart-list"> -->

            <div class="select-all">
               <span>주문 상품</span>
            </div>

            <!-- 상품 1개 개별 영역 -->
            <hr class="orderedi">
            <div class="item-list1" th:each="checkoutItem : ${checkout}">

               <div class="item-list">

                  <!-- 1번 -->

                  <!-- 이미지 영역 -->

                  <img th:src="${checkoutItem.productImageThumbnail}" alt="" class="productImg">


                  <!-- 제품 상세 -->

                  <div class="item-text">

                     <div class="item-name">
                        <div th:text="${checkoutItem.productName}" class="keyring"></div>


                        <!-- 장바구니 번호 -->

                        <!-- <input type="hidden" th:text="${checkoutItem.cartNo}" class="cartNo" name="selectEach"></span> -->
                        <!-- <input type="hidden" name="selectEach" value="yourValue"> -->
                     </div>

                     <div>
                        <div class="optionTag"> 옵션: </div> <span th:text="${checkoutItem.productOptionName}"
                           class="option-text"></span>

                     </div>

                  </div>

                  <div class="cartNo">
                     
                     <input type="hidden" th:value="${checkoutItem.cartNo}" class="cartCheckOutNo"
                        name="selectEach"></span>
                  </div>

                  <!-- 상품 수량 -->

                  <!-- <span class="item-amount">수량: 3</span> -->

                  <span class="countNPrice">
                     
                  <span th:text="${checkoutItem.productCount}" class="item-count"></span>

                     <!-- 개별 상품 가격 -->

                     <span th:text="${checkoutItem.productPrice}" class="default-price"></span>

                  </span>

               </div>

               <hr>
            </div>




            <!-- ----------------------------------------------------------------------- -->


            <div class="check-list">

               <!-- 총 상품 가격 -->
               <div class="totalQuantityNprice">

                  <span style="display: flex;">
                     총 수량 <span style="margin-left: 2px;">(</span>
                     <span th:text="${totalQuantity}"> </span>
                     )
                  </span>



                  <!-- <span class="check-price">총 상품 가격()</span> -->
                  <div class="total-price1">
                     총 상품 가격 $ <span th:text="${totalPrice}"> </span>
                  </div>


               </div>

               <!-- 개별 상품 가격 -->

               <hr class="check-list-line" style="height: 1px;">

            </div>



            <!-- -------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
            <hr>

            <div class="order-list">

               <span class="order-name" style="font-weight: bold;">주문자 정보</span>

               <button class="name-btn" type="button" id="nameChangeBtn">변경</button>


               <div style="font-size: 16px;" class="orderInfo">

                  <div style="margin-top: 44px;">주문자 이름</div>

                  <label class="orderer-input">


                     <!-- <input type="text" placeholder="*필수 작성 항목입니다." class="order-input" style="padding-left: 8px;" th:value="${session.loginMember.memberNickname}" name="memberName"> -->
                     <!-- <div th:text="${session.loginMember.memberAddress}" class="default-price"></div> -->
                     <input type="text" placeholder="*필수 작성 항목입니다." class="order-input" style="padding-left: 8px;"
                        name="ordererName" th:value="${session.loginMember.memberNickname}" id="nameInput">

                     <!-- <input type="text" placeholder="*필수 작성 항목입니다." class="order-input" style="padding-left: 8px;"> -->
                  </label>


                  <div class="phonenumber-input-area">
                     <!-- <div th:text="${session.loginMember.memberPhoneNumber}" class="default-price"></div> -->
                     전화번호

                     <div>

                        <label class="orderer-phoneNumber">
                           <input type="text" placeholder="*필수 작성 항목입니다." class="order-input" style="padding-left: 8px;"
                              maxlength="14" name="ordererPhoneNumber" id="ordererPhoneNumber">
                        </label>

                     </div>
                  </div>

               </div>

            </div>


            <!-- 주소 API  -->


            <div class="shipping-list">


               <div class="shipping-input">


                  <div class="shipping-address">
                     배송주소
                     <button type="button" class="address-btn" onclick="sample6_execDaumPostcode()"
                        id="addressChange">주소 찾기</button>

                     <div class="address-input">


                     </div>

                     <label for="orderer-address">

                        <input type="text" placeholder="*필수 작성 항목입니다." class="order-input" style="padding-left: 8px;"
                           th:value="${session.loginMember.memberAddress}" name="address" id="sample6_address">

                     </label>

                  </div>

               </div>

               <div class="address-detail">


                  상세주소

                  <div class="input-detail">

                     <label for="orderer-address2">

                        <input type="text" placeholder="*필수 작성 항목입니다." class="order-input" style="padding-left: 8px;"
                           name="address" id="sample6_detailAddress">

                     </label>

                  </div>

                  우편번호

                  <div class="input-detail">

                     <label for="orderer-address3">

                        <input type="text" placeholder="*필수 작성 항목입니다." class="order-input" style="padding-left: 8px;"
                           name="address" id="sample6_postcode">

                     </label>

                  </div>

               </div>

            </div>

         </div>

         <hr class="check-list-line" style="color: rgb(115, 130, 92);">


         <div class="price-detail">

            <!-- <div class="detail"> -->

            <span class="detail-price" style="font-weight: bold;">결제 금액</span>

            <div class="detail">

               <div style="margin-bottom: 20px;">

                  <span class="product-price" style="font-size: 16px;">상품 가격 </span>
                  <span th:text="${totalPrice}" class="totalProduct-price" style="margin-left: 927px;"></span>

               </div>

               <div>
                  <span>배송비</span>
                  <span style="margin-left: 955px;">2500</span>
               </div>

            </div>
         </div>

         </div>


         <!-- 총 상품 가격 -->

         <div class="total">

            <span class="total-price" style="letter-spacing: -1.6px;">총 결제 금액</span>

            <input type="hidden" class="purchasePrice" name="purchasePrice" th:value="${purchasePrice}">
            <p style="background: rgb(255, 254, 237);"> <span th:text="${purchasePrice}" class="purchasePrice" name="purchasePrice" style="background: rgb(255, 254, 237);"></span> </p>

         </div>


         <!-- 결제 수단 -->
         <div class="payment-method">
            <span class="aass">결제 수단</span>



            <div class="cash">
               
               <!-- <button type="button" onclick="requestPay()">결제하기 -->
                  <label for="payMethod" class="pm">

                   <img src="/image/토스페이.png" alt="" id="toss" class="pimage"> 
                     <input type="radio" name="payMethod" value="1" class="payMethod" checked></input> <span class="ptext">토스페이</span> <!-- 결제하기 버튼 생성 --> 
                  </label>
                 

            </div>

            <hr>

            <div>
               <label for="payMethod" class="pm">

                  <img src="/image/카카오페이.png" alt="" class="pimage">
                  <input type="radio" name="payMethod" value="2" class="payMethod"></input> <span class="ptext">카카오 페이</span><!-- 결제하기 버튼 생성 -->
               </label>
            </div>

            <!-- </div> -->

         </div>

         <hr>

         <div class="tou"> 유의사항 및 이용약관
            <li>
               이용가능 카드사 : 모든 국내 신용/체크카드
            </li>

            <li>
               주문 상품 정보, 가격, 배송, 반품, 교환, 환불 정책에 동의
            </li>
         </div>

         <div class="checkout-area">

            <button type="button" class="checkOut-btn" id="purchaseBtn" onclick="requestPay()">결제하기</button>
            <!-- <button onclick="requestPay()">결제하기</button> 결제하기 버튼 생성 -->

         </div>

         </div>

      </form>

   </section>


   <script th:inline="javascript">
      /*<![CDATA[*/
      // 서버에서 전달받은 주소를 JavaScript 변수에 할당
      let addressString = /*[[${session.loginMember.memberAddress}]]*/ "04540^^^서울 중구 남대문로 120^^^A강의장 2층";
      let addressParts = addressString.split("^^^");

      // 각 부분을 해당하는 입력 필드에 채우기
      document.getElementById("sample6_address").value = addressParts[1] || ""; // 도로명 주소
      document.getElementById("sample6_detailAddress").value = addressParts[2] || ""; // 상세 주소
      document.getElementById("sample6_postcode").value = addressParts[0] || ""; // 우편번호
      /*]]>*/
   </script>
   <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"> </script>
   
   <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
   <!-- iamport.payment.js -->
   <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>

   <script src="/js/cart/checkout.js"> </script>
   <!-- <script>

      var IMP = window.IMP;
      IMP.init("imp66683387");

      //   var today = new Date();   
      //   var hours = today.getHours(); // 시
      //   var minutes = today.getMinutes();  // 분
      //   var seconds = today.getSeconds();  // 초
      //   var milliseconds = today.getMilliseconds();
      //   var makeMerchantUid = hours +  minutes + seconds + milliseconds;


      function requestPay() {

         let pgValue;
         let methodValue;

         // 라디오가 토스인 경우
         if( checkedMethod == 1) { 
            pg = 'tosspay.tosstest';
            methodValue = 'trans';

         }else{ 
            // 라디오가 카카오페이인 경우
            pg = 'kakaopay.TC0ONETIME';
            methodValue = 'card';
         }


         IMP.request_pay({
            //  pg : 'tosspay.tosstest',
            //  pay_method : 'trans',
            pg: pgValue,
            pay_method:methodValue,

            //상점에서 생성한 고유 주문번호
            name: '주문명:결제테스트',   //필수 파라미터 입니다.
            amount: 1,
            //  buyer_email : 'iamport@siot.do', // 
            //  buyer_name : '구매자이름', // 
            //  buyer_tel : '010-1234-5678', //
            //  buyer_addr : '서울특별시 강남구 삼성동',
            //  buyer_postcode : '123-456',

         }, function (rsp) { // callback
            if (rsp.success) {
               console.log(rsp);
            } else {
               console.log(rsp);
            }
         });
      }
   </script> -->


<!-- 방법 2 -->

</body>

</html>