<div>
  <div class="sidebar">
    <aside>
      <nav>
        <ul>
          <ul class="sidebar-list" id="member-search">
            <li>
              회원 관리
              <ul>
                <li>
                  <a th:href="@{/admin/subscribeMember}" id="a">구독 회원 조회</a>
                </li>
              </ul>
            </li>
          </ul>

          <ul class="sidebar-list" id="member-search">
            <li>
              주문 배송 관리
              <ul>
                <li><a th:href="@{/artistAdmin/{artistGroupTitle}/order(artistGroupTitle=${artistGroupTitle})}" id="a">배송 조회</a></li>
              </ul>
            </li>
          </ul>
          <ul class="sidebar-list" id="member-search">
            <li>
              굿즈 관리
              <ul>
                <li><a href="goods.html" id="a">굿즈 등록</a></li>
              </ul>
            </li>
          </ul>
          <ul class="sidebar-list" id="member-search">
            <li>
              신고 관리
              <ul>
                <li>
                  <a th:href="@{/artistAdmin/{artistGroupTitle}/report(artistGroupTitle=${artistGroupTitle})}"id="a">게시글 신고</a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="sidebar-list artist" id="member-search">
            <li>
              아티스트 등록
              <ul>
                <li>
                  <a th:href="@{/admin/regi}" id="a">아티스트 그룹 등록</a>
                </li>
                <li>
                  <a th:href="@{/admin/artistGroupUpdate}" id="a">아티스트 그룹 수정</a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="sidebar-list" id="member-search">
            <li>
              아티스트 공지사항
              <ul id="sidebar-sublist">
                <li>
                  <a th:href="@{/artistAdmin/{artistGroupTitle}/notice(artistGroupTitle=${artistGroupTitle})}" id="a">아티스트 공지사항 목록</a>
                </li>
                <li>
                  <a th:href="@{/artistAdmin/{artistGroupTitle}/noticeAdd(artistGroupTitle=${artistGroupTitle})}" id="a">아티스트 공지사항 등록</a>
                </li>
              </ul>
            </li>
          </ul>
        </ul>
      </nav>
    </aside>
  </div>
</div>
