<div>
  <div class="sidebar">
    <aside>
      <nav>
        <ul>
          <ul class="sidebar-list" id="member-search">
            <li>
              회원 관리
              <ul id="sidebar-sublist">
                <li>
                  <a th:href="@{/admin/selectMember}" id="a">일반 회원 조회</a>
                </li>
                <li>
                  <a th:href="@{/admin/deleteMember}" id="a">탈퇴 회원 조회</a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="sidebar-list" id="member-search">
            <li>
              주문 배송 관리
              <ul id="sidebar-sublist">
                <li><a href="/admin/order" id="a">주문 배송 조회</a></li>
              </ul>
            </li>
          </ul>
          <ul class="sidebar-list" id="member-search">
            <li>
              신고 관리
              <ul id="sidebar-sublist">
                <li><a href="/admin/report" id="a">게시글 신고</a></li>
              </ul>
            </li>
          </ul>
          <ul class="sidebar-list" id="member-search">
            <li>
              메인 공지사항
              <ul id="sidebar-sublist">
                <li><a href="/admin/notice" id="a">공지사항 목록</a></li>
                <li><a href="/admin/noticeAdd" id="a">공지사항 등록</a></li>
              </ul>
            </li>
          </ul>
        </ul>
      </nav>
    </aside>
  </div>
</div>
