<header th:if="${session.loginMember == null}">
  <section>
    <a href="/" src="artistHomepageImg/logo.png" alt="로고이미지">
      <img src="/artistHomepageImg/logo.png" id="logoImg" />
    </a>
  </section>

  <section>
    <article>
      <a href="/member/login">로그인</a>
    </article>

    <article>
      <a href="/member/signup">회원가입</a>
    </article>

    <article>
      <a href="/shop/home"></a>
    </article>
  </section>
</header>

<!-- 로그인 후 -->

<header th:if="${session.loginMember != null}">
  <section>
    <a href="/">
      <img src="/artistHomepageImg/logo.png" id="logoImg" />
    </a>
  </section>


    <section>
        <article>
            <div><a href="/member/login/hello@kh.com">test01</a></div>
            <div class="search">
                <input type="text">
                <i class="fa-solid fa-magnifying-glass fa-xl" style="color: #7743DB"></i>
            </div>
        </article>
        <article>
            <div class="dropdown">
                <span class="dropbtn"><i class="fa-regular fa-circle-user fa-2xl" style="color: #7743DB"></i></span>
                <div class="dropdown-content">
                    <a href="/myPage/myPage">마이 페이지</a>
                    <a href="#">로그아웃</a>
                    <a href="/admin/artistNotice">관리자 페이지</a>
                </div>
            </div>
        </article>
        <article>
            <a href="/shop/home"><i class="fa-solid fa-store fa-xl" style=" color: #7743DB"></i></a>
        </article>
    </section>
</header>

