<!-- 로그인 전 header -->
<!-- <header>
    <section>
        <a href="/" src="logo.png" alt="로고이미지"></a>
    </section>

    <section>
        <article>
            <a href="">로그인</a>
        </article>

        <article>
            <a href="">회원가입</a>
        </article>

        <article>
            <a href=""></a>
        </article>
    </section> -->

<!-- 로그인 후 -->

<header>
    <section>
        <a href="/">
            <img src="/artistHomepageImg/logo.png" id="logoImg">
        </a>
    </section>

    <section>
        <article>
            <div><a href="/member/login/hello@kh.com">test01</a></div>
            <div class="search">
                <input type="text">
                <i class="fa-solid fa-magnifying-glass fa-xl" style="color: #7743DB"></i>
            </div>
        </article>
        <article>
            <div class="dropdown">
                <span class="dropbtn"><i class="fa-regular fa-circle-user fa-2xl" style="color: #7743DB"></i></span>
                <div class="dropdown-content">
                    <a href="/myPage/myPage">마이 페이지</a>
                    <a href="#">로그아웃</a>
                    <a href="#">관리자 페이지</a>
                </div>
            </div>
        </article>
        <article>
            <a href=""><i class="fa-solid fa-store fa-xl" style=" color: #7743DB"></i></a>
        </article>
    </section>
</header>
