<hr>

<footer>

    <div class="footer1">
        <article>
            <a href="#">이용약관</a>
            <span>|</span>
            <a href="#">개인정보처리방침</a>
            <span>|</span>
            <a href="#">서비스운영정책</a>
            <span>|</span>
            <a href="#">입점 신청</a>
        </article>
    </div>

    <div class="footer2">
        <pre>상호명 : Fiestar COMPANY inc.  ｜  Team : TeamFiestar  (고재모, 김민수, 강민성, 이창우, 전다빈, 정영훈 )  ｜  프로젝트 기간 : 2023-11-21 ~ 2023-12-26
        
주소 : 서울특별시 중구 남대문로 120 그레이츠 청계(구 대일빌딩) 2F A강의장  </pre>
    </div>
</footer>

<script th:inline="javascript">
    // RedirectAttributes를 통해 전달된 message 출력
    const message = /*[[${message}]]*/ "전달받은 message";
                    // message가 없다면 null
    if(message != null) alert(message);

</script>