<header>
  <div class="header">
    
      <div class="header-left-side">
        <a href="#" id="header-logo">
          <img src="/images/logo.png" style="width:165px;"  />
        </a>
      </div>
    
      <div class="header-right-side">
        <input type="text" id="search-area" placeholder="상품명 혹은 아티스트 검색"></input>
        <a> 공지사항 </a>
        <span>|</span>
        <a>샵 고객센터</a>

        <button id="loginPage" src="#">로그인</button>
        <button src="#" id="signUp">회원가입</button>
      
        

  
          <!-- <th:block th:if="${session.loginMember == null}"> <a href="/member/login">로그인</a> <a href="/member/signup">회원가입</a> </th:block> -->
         
  
          <!-- <div class="success-login">
            <th:block th:unless="${session.loginMember == null}">
              <a href="#" class="login-area">
                 
                  <img th:if="${session.loginMember.profileImg == null}" th:src="#{user.default.image}" id="memberHeaderProfile">
                                    
                
                  <img th:unless="${session.loginMember.profileImg == null}" th:src="${session.loginMember.profileImg}" id="memberHeaderProfile">
              </a>    
                
                <div class="header-menu">
                  <a href="/myPage/myPage-home">마이페이지</a>
                  <a href="/member/logout" id="logoutBtn">로그아웃</a>
                </div>
  
              </div>
            </th:block>
          -->
          </div>    
        
      </div>

  </div>
</header>

