
<header>
  <div class="header">
    
    <div class="header-left-side">
      <a href="/" id="header-logo">
        <img src="/images/logo.png" style="width:165px;"  />
      </a>
    </div>
    
    <div class="header-right-side">
       
      <form action="/shop/home" method="GET" style="display: inline-flex; border:none;">
        <span class="search-area">
          <input type="search" name="shopSearch" id="search-input" placeholder="상품명 혹은 아티스트 검색" autocomplete="off" > 
          <button id="searchBtn" class="fa-solid fa-magnifying-glass">검색</button>
        </span>
      </form>
      
      <a href="#"> 공지사항 </a>
      <span>|</span>
      <a href="/shop/home">샵 고객센터</a>

      <a href="/member/login"><button id="loginPage"> 로그인</button></a>
      <a href="/member/signup"><button  id="signUp">회원가입</button></a>
  
    </div>    
        
  </div>

  </div>
</header>

