@font-face{
   font-family: 'Pretendard-Regular';
   src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
   font-weight: 400; 
   font-style: normal;
}

* {

   box-sizing: border-box;
   font-family: 'Pretendard-Regular';
}


h1 {
   margin-top: 100px;
   font-size: 30px;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.timer{
   margin-left: 10px;
   font-size: 14px;
   color: rgb(231, 23, 23);
}

.not-null{
   color: rgb(87, 87, 87);
   margin-top: 5px;
   margin-bottom: 20px;
   font-size: 14px;
}

body input{
   border: 1px solid rgb(173, 177, 184);
   outline-color: rgb(104, 55, 194);
   font-size: 18px;
   border-radius: 4px;
   width: 100%;
   height: 42px;

   padding-left: 10px;
}

.error{
   color: red;
}
.confirm{
   color: green;
}



/* 내용 영역 */

.signup-page{
   display: flex;
   width: 600px;
   margin: auto;
   margin-top: 40px;
   justify-content: center;
   align-content: center;
   flex-direction: column;

}

#memberEmail{
      border-radius: 4px;
      width: 450px;
      height: 42px;
}

.input-auth-area{
   width: 150px;
}


/* 인증번호 전송 버튼 */
.auth-key-btn{
   border-radius: 4px;
    height: 42px;
    width: 130px;
    font-size: 16px;
    justify-content: center; 
    background-color: rgba(119, 67, 219, 1);
    border-radius: 20px;
    float: right;
    color: white;
    border: none;

    cursor: pointer;

}

.address {
   border-radius: 4px;
    height: 42px;
    width: 130px;
    font-size: 16px;
    justify-content: center; 
    background-color: rgba(119, 67, 219, 1);
    border-radius: 20px;
    float: right;
    color: white;
    border: none;

    cursor: pointer;
}

.member-address{
   width: 450px;
}

.gender{
   font-size: 20px;
   font-weight: bold;
   font-size: 20px;
   display: flex;
   align-items: center;
   
}

#gender-option{
   height: 30px;
   margin: 0 0 0 10px;
   border-radius: 4px;
    transition: all 300ms ease 0s;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: rgb(0, 0, 0);
}

.signUp-btn-wrapper{
   margin: 20px 0;
   display: flex;
   justify-content: center;
   align-items: center;
}

.checkOut-btn{
   border-radius: 30px;
    background: none rgb(104, 55, 194);
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 120px;
    font-size: 24px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

#checkAuthKeyBtn{
   border-radius: 4px;
    height: 42px;
    width: 100px;
    font-size: 14px;
    justify-content: center; 
    background-color: rgba(119, 67, 219, 1);
    border-radius: 20px;
    color: white;
    border: none;

    cursor: pointer;
}