*{
  margin: 0;
  padding: 0;
  font-family: 'Pretendard-Regular';
}

@font-face { 
  font-family: 'Pretendard-Regular'; src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') 
  format('woff'); font-weight: 400; font-style: normal; 
}


body{
  background-color: rgb(13, 14, 18);
}



ul , li{
  list-style: none;
}

a{
  text-decoration: none;
}

.all{
  width: 1100px;
  min-height: 1250px;
  /* background-color: aqua; */
  margin: 0 auto;
}


.Img{
  width: 1100px;
  min-height: 800px;
  border-radius: 10px;
  padding-top: 20px;
}

img{
  border-radius: 10px;
  background-image: linear-gradient();
  background: linear-gradient(#0d0e12,#0d0e1200);
  
}

.inputProfile{
  display: none;
}


.mainImg{
  width: 1100px;
  height: 700px;
  border: 2px solid white;
  border-radius: 10px;
}

.mainImg:hover{
  border-color:rgb(119, 67, 219);
}


.btn-upload1 {
  width: 1100px;
  height: 700px;
  /* background: #fff; */
  /* border: 1px solid rgb(77,77,77); */
  font-weight: 500;
  cursor: pointer;
  display: flex;
  color: white;
  &:hover {
    /* background: rgb(77,77,77); */
    color: rgb(119, 67, 219);
  }
}

.btn-upload1 > img{
  width: 1100px;
  height: 700px;
}



.artistIntro-name{
  width: 400px;
  height: 80px;
  border: 2px solid white;
  border-radius: 10px;
}

.artistIntro-name:hover{
  border-color: rgb(119, 67, 219);
}

.btn-upload2 {
  width: 400px;
  height: 80px;
  /* background: #fff; */
  /* border: 1px solid rgb(77,77,77); */
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  &:hover {
    /* background: rgb(77,77,77); */
    color: rgb(119, 67, 219);
  }
}

.btn-upload2 >img {
  width: 400px;
  height: 80px;
}




#content{
  border-radius: 10px;
  background: transparent;
  border: none;
  color: white;
  padding: 30px;
  resize: none;
  font-size: 20px;
  width: 1100px;
  height: 300px;
}

#content:focus{
  outline: none;
}


.artistIntro{
  margin: -100px auto 0;
  position: relative;
  width: 400px;
  min-height: 100px;
}



.artistIntro-content{
  width: 1100px;
  height: 300px;
  margin: 10px auto;
  border: 2px solid white;
  border-radius: 10px;
}

.artistIntro-content p{
  color: #fff;
  font-size: 15px;
  line-height: 21px;
  margin: 20px auto 0;
  width: 450px;
}

.profiletxt{
  margin-top: 20px;
}

.profiletxt h3{
  color: #fff;
  font-size: 24px;
  font-weight: 800;
  line-height: 32px;
  margin-bottom: 30px;
}

.profile-area{
  width: 1100px;

}


.profileALl{
  width: 1100px;
  height: 200px;
  /* border: 1px solid wheat; */
  display: flex;
  align-content: flex-start;
}

.profileImg{
  width: 120px;
  height: 147px;
  border-radius: 10px;
  /* border: 2px solid rgb(188, 135, 135); */
  margin: 0 10px;
}

.profileImage{
  width: 120px;
  height: 120px;
  border-radius: 10px;
  border: 1px solid rgb(119, 67, 219); 
}

.profileImg span{
  font-size: large;
  color: #fff;
  margin-left: 120px;
  cursor: pointer;
}


.profileName input{
  color: white;
  text-align: center;
  margin-top: 5px;
}

.btn-upload3 {
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  &:hover {
    /* background: rgb(77,77,77); */
    color: rgb(119, 67, 219);
  }
  margin: 0 auto;
}

.btn-upload3 > img{
  width: 120px;
  height: 120px;
}

.btn-upload3 > h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.profileName{
  width: 120px;
  height: 24px;
  /* border: 1px solid rgb(254, 62, 62); */
}

.profileName input{
  width: 115px;
  height: 20px;
  border-radius: 5px;
  background: transparent;
}

.profileName li{
  color: white;
  text-align: center;
}

.plus{
  width: 120px;
  height: 120px;
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255); 
}

.plusBtn-area{
  width: 120px;
  height: 120px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  &:hover {
    /* background: rgb(77,77,77); */
    color: rgb(119, 67, 219);
  }
}


.plusBtn-area:hover{
  cursor: pointer;
  color: rgb(119, 67, 219);
}

.profileImage:hover{
  border-color: white;
}


.ModifyBtn{
  width: 80px;
  height: 30px;
  border: 1px solid rgb(0, 0, 0);
  float: right;
  border-radius: 5px;
}

.ModifyBtn button{
  width: 100%;
  height: 100%;
}

.ModifyBtn button:hover{
  cursor: pointer;
}

