<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.TeamFiestar.Fiestar.admin.model.mapper.AdminAjaxMapper">
	
	<select id="selectBoard" resultType="Board">
		SELECT  BOARD_CONTENT,
		(SELECT ARTIST_GROUP_TITLE FROM ARTIST_GROUP AG WHERE B.ARTIST_GROUP_NO = AG.ARTIST_GROUP_NO) ARTIST_GROUP_TITLE, BOARD_ENROLL_DATE
		FROM BOARD B
		WHERE MEMBER_No = #{memberNo}
	</select>
	
	<select id="nickname" resultType="string">
		SELECT MEMBER_NICKNAME FROM MEMBER 
		WHERE MEMBER_NO = #{memberNo}
	</select>
	
	
	
	<!-- 탈퇴회원 조회 -->
	<select id="countDelMember" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEMBER_DEL_FL = 'Y'
	</select>
	
	<select id="delMember" resultType="Member">
		SELECT MEMBER_NO , MEMBER_NICKNAME , MEMBER_EMAIL , MEMBER_ADDRESS, MEMBER_AUTHORITY, MEMBER_DEL_FL  
		FROM MEMBER
		WHERE MEMBER_DEL_FL = 'Y'
		ORDER BY MEMBER_NO DESC
	</select>
	
	<select id="countSearchDelMember" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEMBER_DEL_FL = 'Y'
		<choose>
			<when test='key == "memberNo"'>
				AND MEMBER_NO LIKE '%${query}%'
			</when>
			<when test='key == "memberEmail"'>
				AND MEMBER_EMAIL LIKE '%${query}%'
			</when>
			<when test='key == "memberNickname"'>
				AND MEMBER_NICKNAME LIKE '%${query}%'
			</when>
		</choose>
	</select>
	
	
	<select id="searchDelMember" resultType="Member">
		SELECT MEMBER_NO , MEMBER_NICKNAME , MEMBER_EMAIL , MEMBER_ADDRESS, MEMBER_AUTHORITY  
		FROM MEMBER
		WHERE MEMBER_DEL_FL = 'Y'
		<choose>
			<when test='key == "memberNo"'>
				AND MEMBER_NO LIKE '%${query}%'
			</when>
			<when test='key == "memberEmail"'>
				AND MEMBER_EMAIL LIKE '%${query}%'
			</when>
			<when test='key == "memberNickname"'>
				AND MEMBER_NICKNAME LIKE '%${query}%'
			</when>
		</choose>
		ORDER BY MEMBER_NO DESC
	</select>
	
	<!--  -->
	<update id="update">
		UPDATE MEMBER
		SET MEMBER_DEL_FL = #{flag}
		WHERE MEMBER_NO = #{targetNo}
	</update>
		
	<update id="withDraw">
		UPDATE MEMBER
		SET MEMBER_DEL_FL = #{flag}
		WHERE MEMBER_NO = #{targetNo}
	</update>
	
	
	
	<!-- 일반회원 조회 -->
	<select id="countMember" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEMBER_DEL_FL = 'N'
	</select>
	
	<select id="selectMember" resultType="Member">
		SELECT MEMBER_NO , MEMBER_NICKNAME , MEMBER_EMAIL , MEMBER_ADDRESS, MEMBER_AUTHORITY, MEMBER_DEL_FL,
		(SELECT COUNT(*) FROM REPORT 
		WHERE REPORT_TARGET_NO = M.MEMBER_NO) COUNT_REPORT  
		FROM MEMBER M
		WHERE MEMBER_DEL_FL = 'N'
		ORDER BY MEMBER_NO DESC
	</select>
	
	
	<select id="countSearchMember" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEMBER_DEL_FL = 'N'
		<choose>
			<when test='key == "memberNo"'>
				AND MEMBER_NO LIKE '%${query}%'
			</when>
			<when test='key == "memberEmail"'>
				AND MEMBER_EMAIL LIKE '%${query}%'
			</when>
			<when test='key == "memberNickname"'>
				AND MEMBER_NICKNAME LIKE '%${query}%'
			</when>
		</choose>
	</select>
	
	
	<select id="searchMember" resultType="Member">
		SELECT MEMBER_NO , MEMBER_NICKNAME , MEMBER_EMAIL , MEMBER_ADDRESS, MEMBER_AUTHORITY, MEMBER_DEL_FL,
		(SELECT COUNT(*) FROM REPORT 
		WHERE REPORT_TARGET_NO = M.MEMBER_NO) COUNT_REPORT  
		FROM MEMBER M
		WHERE MEMBER_DEL_FL = 'N'
		<choose>
			<when test='key == "memberNo"'>
				AND MEMBER_NO LIKE '%${query}%'
			</when>
			<when test='key == "memberEmail"'>
				AND MEMBER_EMAIL LIKE '%${query}%'
			</when>
			<when test='key == "memberNickname"'>
				AND MEMBER_NICKNAME LIKE '%${query}%'
			</when>
		</choose>
		ORDER BY MEMBER_NO DESC
	</select>
	
	
	<update id="changeAuthority">
		UPDATE MEMBER
		SET MEMBER_AUTHORITY = #{memberAuthority}
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	
	<!-- 사이트 공지사항-->
	<select id="selectSiteNotice">
		SELECT * FROM SITE_NOTICE
		WHERE SITE_NOTICE_NO = #{siteNoticeNo} 
	</select>
	
	<update id="deleteNotice">
		UPDATE SITE_NOTICE 
		SET SITE_NOTICE_DEL_FL = 'Y'
		WHERE SITE_NOTICE_NO = #{noticeNo}
	</update>
	
	<!-- 공지사항 업데이트 -->
	<update id="updateNotice">
		UPDATE SITE_NOTICE SET 
		SITE_NOTICE_TITLE = #{siteNoticeTitle},
		SITE_NOTICE_CONTENT = #{siteNoticeContent}
		WHERE SITE_NOTICE_NO = #{siteNoticeNo}
	</update>
	
	<select id="selectSubscribeBoard" resultType="Board">
		SELECT  BOARD_CONTENT,
		(SELECT ARTIST_GROUP_TITLE FROM ARTIST_GROUP AG WHERE B.ARTIST_GROUP_NO = AG.ARTIST_GROUP_NO) ARTIST_GROUP_TITLE, BOARD_ENROLL_DATE
		FROM BOARD B
		WHERE MEMBER_No = #{memberNo}
		AND ARTIST_GROUP_NO = #{artistGroupNo}
	</select>


	<delete id="groupDelete">
		UPDATE ARTIST_GROUP SET
		ARTIST_GROUP_DEL_FL = 'Y'
		WHERE ARTIST_GROUP_NO = #{artistGroupNo}
		AND ARTIST_GROUP_ADMIN_NO = #{memberNo}
	</delete>
</mapper>