<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.TeamFiestar.Fiestar.admin.model.mapper.AdminMapper">
	
	<!--<select id="selectMember" resultType="Member">
		SELECT MEMBER_NO , MEMBER_NICKNAME , MEMBER_EMAIL , MEMBER_ADDRESS, MEMBER_AUTHORITY  
		FROM MEMBER
		ORDER BY MEMBER_NO
	</select>-->
	
	<!-- 일반회원조회 -->
	
	
	<select id="countList" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEMBER_DEL_FL = 'N'
	</select>
	
	
	<select id="selectMember" resultType="Member">
		SELECT MEMBER_NO , MEMBER_NICKNAME , MEMBER_EMAIL , MEMBER_ADDRESS, MEMBER_AUTHORITY ,
		(SELECT COUNT(*) FROM REPORT 
		WHERE REPORT_TARGET_NO = M.MEMBER_NO) COUNT_REPORT
		FROM MEMBER M
		WHERE MEMBER_DEL_FL = 'N'
		ORDER BY MEMBER_NO DESC
	</select>
	
	<select id="countMember" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEMBER_DEL_FL = 'N'
		<choose>
			<when test='key == "memberNo"'>
				AND MEMBER_NO LIKE '%${query}%'
			</when>
			<when test='key == "memberEmail"'>
				AND MEMBER_EMAIL LIKE '%${query}%'
			</when>
			<when test='key == "memberNickname"'>
				AND MEMBER_NICKNAME LIKE '%${query}%'
			</when>
		</choose>
	</select>
	
	
	<select id="searchMember" resultType="Member">
		SELECT MEMBER_NO , MEMBER_NICKNAME , MEMBER_EMAIL , MEMBER_ADDRESS, MEMBER_AUTHORITY,
		(SELECT COUNT(*) FROM REPORT 
		WHERE REPORT_TARGET_NO = M.MEMBER_NO) COUNT_REPORT  
		FROM MEMBER M
		WHERE MEMBER_DEL_FL = 'N'
		<choose>
			<when test='key == "memberNo"'>
				AND MEMBER_NO LIKE '%${query}%'
			</when>
			<when test='key == "memberEmail"'>
				AND MEMBER_EMAIL LIKE '%${query}%'
			</when>
			<when test='key == "memberNickname"'>
				AND MEMBER_NICKNAME LIKE '%${query}%'
			</when>
		</choose>
		ORDER BY MEMBER_NO DESC
	</select>
	
	<!-- 탈퇴 회원 조회 -->
	<select id="countDeleteMember" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEMBER_DEL_FL = 'Y'
	</select>
	
	<select id="deleteMember" resultType="Member">
		SELECT MEMBER_NO , MEMBER_NICKNAME , MEMBER_EMAIL , MEMBER_ADDRESS, MEMBER_AUTHORITY, MEMBER_DEL_FL  
		FROM MEMBER
		WHERE MEMBER_DEL_FL = 'Y'
		ORDER BY MEMBER_NO DESC
	</select>
	
	<select id="countDeleteList" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEMBER_DEL_FL = 'Y'
		<choose>
			<when test='key == "memberNo"'>
				AND MEMBER_NO LIKE '%${query}%'
			</when>
			<when test='key == "memberEmail"'>
				AND MEMBER_EMAIL LIKE '%${query}%'
			</when>
			<when test='key == "memberNickname"'>
				AND MEMBER_NICKNAME LIKE '%${query}%'
			</when>
		</choose>
	</select>
	
	<select id="searchDelete" resultType="Member">
		SELECT MEMBER_NO , MEMBER_NICKNAME , MEMBER_EMAIL , MEMBER_ADDRESS, MEMBER_AUTHORITY  
		FROM MEMBER
		WHERE MEMBER_DEL_FL = 'Y'
		<choose>
			<when test='key == "memberNo"'>
				AND MEMBER_NO LIKE '%${query}%'
			</when>
			<when test='key == "memberEmail"'>
				AND MEMBER_EMAIL LIKE '%${query}%'
			</when>
			<when test='key == "memberNickname"'>
				AND MEMBER_NICKNAME LIKE '%${query}%'
			</when>
		</choose>
		ORDER BY MEMBER_NO DESC
	</select>
	
	
	
	<update id="restoration">
		UPDATE "MEMBER" SET
		MEMBER_DEL_FL ='Y'
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	
	
	<select id="countSubscribe" resultType="_int">		
		SELECT COUNT(*) FROM MEMBER
		JOIN ARTIST_SUBSCRIBE
		USING (MEMBER_NO)
		WHERE MEMBER_DEL_FL = 'N'
		AND ARTIST_GROUP_NO = (SELECT ARTIST_GROUP_NO FROM ARTIST_GROUP WHERE ARTIST_GROUP_ADMIN_NO = #{memberNo})
	</select>

	<select id="subscribeMember" resultType="Member">
		SELECT MEMBER_NO , MEMBER_NICKNAME , MEMBER_EMAIL , MEMBER_ADDRESS, MEMBER_AUTHORITY, MEMBER_DEL_FL,
		(SELECT COUNT(*) FROM REPORT 
		WHERE REPORT_TARGET_NO = MEMBER_NO) COUNT_REPORT,
		(SELECT ARTIST_GROUP_TITLE FROM ARTIST_GROUP WHERE ARTIST_GROUP_ADMIN_NO = #{memberNo}) ARTIST_GROUP_TITLE 
		FROM "MEMBER" M
		JOIN ARTIST_SUBSCRIBE ASU 
		USING (MEMBER_NO)
		WHERE MEMBER_DEL_FL = 'N'
		AND ARTIST_GROUP_NO = (SELECT ARTIST_GROUP_NO FROM ARTIST_GROUP WHERE ARTIST_GROUP_ADMIN_NO = #{memberNo})
		ORDER BY MEMBER_NO DESC
	</select>
	
	
	<select id="countSearchSubscribe" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		JOIN ARTIST_SUBSCRIBE
		USING (MEMBER_NO)
		WHERE MEMBER_DEL_FL = 'N'
		AND ARTIST_GROUP_NO = (SELECT ARTIST_GROUP_NO FROM ARTIST_GROUP WHERE ARTIST_GROUP_ADMIN_NO = #{memberNo})
		<choose>
			<when test='key == "memberNo"'>
				AND MEMBER_NO LIKE '%${query}%'
			</when>
			<when test='key == "memberEmail"'>
				AND MEMBER_EMAIL LIKE '%${query}%'
			</when>
			<when test='key == "memberNickname"'>
				AND MEMBER_NICKNAME LIKE '%${query}%'
			</when>
		</choose>
	</select>
	
	
	<select id="searchSubscribe" resultType="Member">
		SELECT MEMBER_NO , MEMBER_NICKNAME , MEMBER_EMAIL , MEMBER_ADDRESS, MEMBER_AUTHORITY, MEMBER_DEL_FL,
		(SELECT COUNT(*) FROM REPORT 
		WHERE REPORT_TARGET_NO = MEMBER_NO) COUNT_REPORT,
		(SELECT ARTIST_GROUP_TITLE FROM ARTIST_GROUP WHERE ARTIST_GROUP_ADMIN_NO = #{memberNo}) ARTIST_GROUP_TITLE 
		FROM "MEMBER" M
		JOIN ARTIST_SUBSCRIBE ASU 
		USING (MEMBER_NO)
		WHERE MEMBER_DEL_FL = 'N'
		AND ARTIST_GROUP_NO = (SELECT ARTIST_GROUP_NO FROM ARTIST_GROUP WHERE ARTIST_GROUP_ADMIN_NO = #{memberNo})
		
		<choose>
			<when test='key == "memberNo"'>
				AND MEMBER_NO LIKE '%${query}%'
			</when>
			<when test='key == "memberEmail"'>
				AND MEMBER_EMAIL LIKE '%${query}%'
			</when>
			<when test='key == "memberNickname"'>
				AND MEMBER_NICKNAME LIKE '%${query}%'
			</when>
		</choose>
		ORDER BY MEMBER_NO DESC
	</select>
	
	
	<!-- <select id="selectSubscribeBoard" resultType="Board">
		SELECT  BOARD_CONTENT,
		(SELECT ARTIST_GROUP_TITLE FROM ARTIST_GROUP AG WHERE B.ARTIST_GROUP_NO = AG.ARTIST_GROUP_NO) ARTIST_GROUP_TITLE, BOARD_ENROLL_DATE
		FROM BOARD B
		WHERE MEMBER_No = #{memberNo}
		AND ARTIST_GROUP_NO = (SELECT ARTIST_GROUP_NO FROM ARTIST_GROUP WHERE ARTIST_GROUP_ADMIN_NO = #{memberNo})
	</select>-->
	
	
	<select id="subArtistTitle" resultType="string">
		SELECT ARTIST_GROUP_TITLE FROM ARTIST_GROUP
		WHERE ARTIST_GROUP_NO = (SELECT ARTIST_GROUP_NO FROM ARTIST_GROUP WHERE ARTIST_GROUP_ADMIN_NO = #{memberNo})
	</select>
	
	
	<insert id="artistGroupRegi" parameterType="ArtistGroup">
		INSERT INTO ARTIST_GROUP
		VALUES( SEQ_ARTIST_GROUP_NO.NEXTVAL, #{artistGroupAdminNo}, #{artistGroupTitle},
			#{artistGroupProfile}, 'introduction', #{artistGroupImage}, #{artistGroupBackimg}, NULL, NULL, DEFAULT)
	</insert>
	
	<insert id="artistGroupChattingRoom">
		INSERT INTO CHATTING_ROOM
		VALUES( 
		(SELECT ARTIST_GROUP_NO FROM ARTIST_GROUP 
		WHERE ARTIST_GROUP_TITLE = #{artistGroupTitle}),DEFAULT)
	</insert>
	
	
	<select id="test" resultType="_int">
		SELECT COUNT(*) FROM ARTIST_GROUP
		WHERE ARTIST_GROUP_ADMIN_NO = #{adminNo}
		AND ARTIST_GROUP_DEL_FL = 'N'
	</select>
	
	
	<select id="artistGroupUpdate" resultType="ArtistGroup1">
		SELECT ARTIST_GROUP_TITLE, ARTIST_GROUP_PROFILE, ARTIST_GROUP_IMAGE, ARTIST_GROUP_BACKIMG, ARTIST_GROUP_NO
		FROM ARTIST_GROUP
		WHERE ARTIST_GROUP_ADMIN_NO = #{memberNo}
		AND ARTIST_GROUP_DEL_FL = 'N'
	</select>
	
	<update id="GroupUpdate">
		UPDATE ARTIST_GROUP SET 
		ARTIST_GROUP_TITLE = #{artistGroupTitle},
		ARTIST_GROUP_PROFILE = #{artistGroupProfile},
		ARTIST_GROUP_IMAGE = #{artistGroupImage},
		ARTIST_GROUP_BACKIMG = #{artistGroupBackimg}
		WHERE ARTIST_GROUP_ADMIN_NO = #{artistGroupAdminNo}
	</update>
	
	<select id="checkGroupUpdate" resultType="_int">
		SELECT COUNT(*) FROM ARTIST_GROUP
	</select>
	
	
	
	
	<!-- 공지사항 수 조회 -->
	<select id="noticeListCount">
		SELECT COUNT(*)
		FROM SITE_NOTICE
		WHERE SITE_NOTICE_DEL_FL = 'N'
		ORDER BY SITE_NOTICE_NO 
	</select>
	
	<!-- 공지사항 조회 -->
	<select id="selectNoticeList">
		SELECT SITE_NOTICE_NO ,SITE_NOTICE_TITLE ,SITE_NOTICE_CONTENT ,
		TO_CHAR(SITE_NOTICE_ENROLL_DATE, 'YYYY/MM/DD') AS SITE_NOTICE_ENROLL_DATE
		FROM SITE_NOTICE 
		WHERE SITE_NOTICE_DEL_FL = 'N'
		<if test="key == 1">AND SITE_NOTICE_TITLE LIKE '%${noticeSearch}%'</if>
		<if test="key == 2">AND SITE_NOTICE_CONTENT LIKE '%${noticeSearch}%'</if>
		ORDER BY SITE_NOTICE_NO 
	</select>
	
	
	<insert id="siteNoticeAdd">
		INSERT INTO SITE_NOTICE VALUES 
		(SEQ_SITE_NOTICE_NO.NEXTVAL, 
		#{siteNoticeTitle}, 
		#{siteNoticeContent},
		'N', SYSDATE)
	</insert>
	
	<!-- 신고 개수 -->
	<select id="reportListCount">
		SELECT 	COUNT(*)
		FROM REPORT r  
		JOIN "MEMBER" m ON(R.REPORT_TARGET_NO = M.MEMBER_NO)
		JOIN "MEMBER" m2 ON(R.REPORTER_NO = M2.MEMBER_NO)
		<if test="report.key == 1">WHERE M2.MEMBER_NICKNAME LIKE '%${report.reportSearch}%'</if>
		<if test="report.key == 2">WHERE M2.MEMBER_EMAIL LIKE '%${report.reportSearch}%'</if>
		<if test="report.key == 3">WHERE M.MEMBER_NICKNAME LIKE '%${report.reportSearch}%'</if>
		<if test="report.key == 4">WHERE M.MEMBER_EMAIL LIKE '%${report.reportSearch}%'</if>
		<if test="report.key == 5">WHERE REPORT_CONTENT LIKE '%${report.reportSearch}%'</if>
	</select>
	
	<!-- 신고 조회 -->
	<select id="selectReportList">
		SELECT 	REPORT_NO , REPORTER_NO 
			REPORT_TARGET_NO , REPORT_PROCEED , REPORT_TYPE ,
			M2.MEMBER_EMAIL AS REPORTER_EMAIL,
			M2.MEMBER_NICKNAME AS REPORTER_NICKNAME,
			REPORT_CONTENT_NO ,
			M.MEMBER_EMAIL AS REPORT_TARGET_EMAIL ,
			M.MEMBER_NICKNAME AS REPORT_TARGET_NICKNAME
		FROM REPORT r  
		JOIN "MEMBER" m ON(R.REPORT_TARGET_NO = M.MEMBER_NO)
		JOIN "MEMBER" m2 ON(R.REPORTER_NO = M2.MEMBER_NO)
		<if test="report.key == 1">WHERE M2.MEMBER_NICKNAME LIKE '%${report.reportSearch}%'</if>
		<if test="report.key == 2">WHERE M2.MEMBER_EMAIL LIKE '%${report.reportSearch}%'</if>
		<if test="report.key == 3">WHERE M.MEMBER_NICKNAME LIKE '%${report.reportSearch}%'</if>
		<if test="report.key == 4">WHERE M.MEMBER_EMAIL LIKE '%${report.reportSearch}%'</if>
		<if test="report.key == 5">WHERE REPORT_CONTENT LIKE '%${report.reportSearch}%'</if>
		ORDER BY REPORT_NO
	</select>
	
	<!-- 주문 배송 개수 -->
	<select id="orderListCount">
		SELECT COUNT(*)
		FROM PURCHASE P 
		JOIN "MEMBER" m USING(MEMBER_NO)
	</select>
	
	<!-- 주문 배송 조회 -->
	<select id="selectPurchaseList">
		SELECT 	PURCHASE_NO ,PURCHASE_PRICE ,
				PURCHASE_STATUS ,
				TO_CHAR(PURCHASE_DATE, 'YYYY/MM/DD') AS PURCHASE_DATE,
				MEMBER_NICKNAME,
				REPLACE(PURCHASE_ADDRESS, '^^^', ' ') AS PURCHASE_ADDRESS,
				(SELECT SUM(PL2.PRODUCT_QUANTITY) 
					FROM PURCHASE_LIST PL2 
					WHERE PL2.PURCHASE_NO = P.PURCHASE_NO) 
				AS PRODUCT_SUM
		FROM PURCHASE P 
		JOIN "MEMBER" m USING(MEMBER_NO)
		ORDER BY PURCHASE_DATE
	</select>
	
	
	<select id="regi" resultType="string">
		SELECT ARTIST_GROUP_TITLE FROM ARTIST_GROUP
		WHERE ARTIST_GROUP_ADMIN_NO = #{memberNo}
	</select>
	
	
	
</mapper>