<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.TeamFiestar.Fiestar.admin.model.mapper.AdminMapper">
	
	<!--<select id="selectMember" resultType="Member">
		SELECT MEMBER_NO , MEMBER_NICKNAME , MEMBER_EMAIL , MEMBER_ADDRESS, MEMBER_AUTHORITY  
		FROM MEMBER
		ORDER BY MEMBER_NO
	</select>-->
	
	<!-- 일반회원조회 -->
	
	
	<select id="countList" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEMBER_DEL_FL = 'N'
	</select>
	
	
	<select id="selectMember" resultType="Member">
		SELECT MEMBER_NO , MEMBER_NICKNAME , MEMBER_EMAIL , MEMBER_ADDRESS, MEMBER_AUTHORITY ,
		(SELECT COUNT(*) FROM REPORT 
		WHERE REPORT_TARGET_NO = M.MEMBER_NO) COUNT_REPORT
		FROM MEMBER M
		WHERE MEMBER_DEL_FL = 'N'
		ORDER BY MEMBER_NO DESC
	</select>
	
	<select id="countMember" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEMBER_DEL_FL = 'N'
		<choose>
			<when test='key == "memberNo"'>
				AND MEMBER_NO LIKE '%${query}%'
			</when>
			<when test='key == "memberEmail"'>
				AND MEMBER_EMAIL LIKE '%${query}%'
			</when>
			<when test='key == "memberNickname"'>
				AND MEMBER_NICKNAME LIKE '%${query}%'
			</when>
		</choose>
	</select>
	
	
	<select id="searchMember" resultType="Member">
		SELECT MEMBER_NO , MEMBER_NICKNAME , MEMBER_EMAIL , MEMBER_ADDRESS, MEMBER_AUTHORITY  
		FROM MEMBER
		WHERE MEMBER_DEL_FL = 'N'
		<choose>
			<when test='key == "memberNo"'>
				AND MEMBER_NO LIKE '%${query}%'
			</when>
			<when test='key == "memberEmail"'>
				AND MEMBER_EMAIL LIKE '%${query}%'
			</when>
			<when test='key == "memberNickname"'>
				AND MEMBER_NICKNAME LIKE '%${query}%'
			</when>
		</choose>
		ORDER BY MEMBER_NO DESC
	</select>
	
	<!-- 탈퇴 회원 조회 -->
	<select id="countDeleteMember" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEMBER_DEL_FL = 'Y'
	</select>
	
	<select id="deleteMember" resultType="Member">
		SELECT MEMBER_NO , MEMBER_NICKNAME , MEMBER_EMAIL , MEMBER_ADDRESS, MEMBER_AUTHORITY, MEMBER_DEL_FL  
		FROM MEMBER
		WHERE MEMBER_DEL_FL = 'Y'
		ORDER BY MEMBER_NO DESC
	</select>
	
	<select id="countDeleteList" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEMBER_DEL_FL = 'Y'
		<choose>
			<when test='key == "memberNo"'>
				AND MEMBER_NO LIKE '%${query}%'
			</when>
			<when test='key == "memberEmail"'>
				AND MEMBER_EMAIL LIKE '%${query}%'
			</when>
			<when test='key == "memberNickname"'>
				AND MEMBER_NICKNAME LIKE '%${query}%'
			</when>
		</choose>
	</select>
	
	<select id="searchDelete" resultType="Member">
		SELECT MEMBER_NO , MEMBER_NICKNAME , MEMBER_EMAIL , MEMBER_ADDRESS, MEMBER_AUTHORITY  
		FROM MEMBER
		WHERE MEMBER_DEL_FL = 'Y'
		<choose>
			<when test='key == "memberNo"'>
				AND MEMBER_NO LIKE '%${query}%'
			</when>
			<when test='key == "memberEmail"'>
				AND MEMBER_EMAIL LIKE '%${query}%'
			</when>
			<when test='key == "memberNickname"'>
				AND MEMBER_NICKNAME LIKE '%${query}%'
			</when>
		</choose>
		ORDER BY MEMBER_NO DESC
	</select>
	
	
	
	<update id="restoration">
		UPDATE "MEMBER" SET
		MEMBER_DEL_FL ='Y'
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	
	
	<select id="countSubscribe" resultType="_int">		
		SELECT COUNT(*) FROM MEMBER
		JOIN ARTIST_SUBSCRIBE
		USING (MEMBER_NO)
		WHERE MEMBER_DEL_FL = 'N'
		AND ARTIST_GROUP_NO = #{artistGroupNo}
	</select>

	<select id="subscribeMember" resultType="Member">
		SELECT MEMBER_NO , MEMBER_NICKNAME , MEMBER_EMAIL , MEMBER_ADDRESS, MEMBER_AUTHORITY, MEMBER_DEL_FL,
		(SELECT ARTIST_GROUP_TITLE FROM ARTIST_GROUP 
		WHERE ARTIST_GROUP_NO = #{artistGroupNo}) ARTIST_GROUP_TITLE 
		FROM MEMBER
		JOIN ARTIST_SUBSCRIBE
		USING (MEMBER_NO)
		WHERE MEMBER_DEL_FL = 'N'
		AND ARTIST_GROUP_NO = #{artistGroupNo}
		ORDER BY MEMBER_NO DESC
	</select>
	
	
	<select id="countSearchSubscribe" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		JOIN ARTIST_SUBSCRIBE
		USING (MEMBER_NO)
		WHERE MEMBER_DEL_FL = 'N'
		AND ARTIST_GROUP_NO = #{artistGroupNo}
		<choose>
			<when test='key == "memberNo"'>
				AND MEMBER_NO LIKE '%${query}%'
			</when>
			<when test='key == "memberEmail"'>
				AND MEMBER_EMAIL LIKE '%${query}%'
			</when>
			<when test='key == "memberNickname"'>
				AND MEMBER_NICKNAME LIKE '%${query}%'
			</when>
		</choose>
	</select>
	
	
	<select id="searchSubscribe" resultType="Member">
		SELECT MEMBER_NO , MEMBER_NICKNAME , MEMBER_EMAIL , MEMBER_ADDRESS, MEMBER_AUTHORITY, MEMBER_DEL_FL  
		FROM MEMBER
		JOIN ARTIST_SUBSCRIBE
		USING (MEMBER_NO)
		WHERE MEMBER_DEL_FL = 'N'
		AND ARTIST_GROUP_NO = #{artistGroupNo}
		
		<choose>
			<when test='key == "memberNo"'>
				AND MEMBER_NO LIKE '%${query}%'
			</when>
			<when test='key == "memberEmail"'>
				AND MEMBER_EMAIL LIKE '%${query}%'
			</when>
			<when test='key == "memberNickname"'>
				AND MEMBER_NICKNAME LIKE '%${query}%'
			</when>
		</choose>
		ORDER BY MEMBER_NO DESC
	</select>
	
	
	<select id="selectSubscribeBoard" resultType="Board">
		SELECT  BOARD_CONTENT,
		(SELECT ARTIST_GROUP_TITLE FROM ARTIST_GROUP AG WHERE B.ARTIST_GROUP_NO = AG.ARTIST_GROUP_NO) ARTIST_GROUP_TITLE, BOARD_ENROLL_DATE
		FROM BOARD B
		WHERE MEMBER_No = #{memberNo}
		AND ARTIST_GROUP_NO = #{artistGroupNo}
	</select>
	
	
	<select id="subArtistTitle" resultType="string">
		SELECT ARTIST_GROUP_TITLE FROM ARTIST_GROUP
		WHERE ARTIST_GROUP_NO = #{artistGroupNo}
	</select>
</mapper>