<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.TeamFiestar.Fiestar.artist.model.mapper.ArtistMapper">
	
	
	<select id="artistGroup" resultType="ArtistGroup1">
		SELECT ARTIST_GROUP_MAINIMG, ARTIST_GROUP_INTRODUCTION, ARTIST_GROUP_TITLE FROM ARTIST_GROUP
		WHERE ARTIST_GROUP_TITLE = #{artistGroupTitle}
	</select>
	
	<select id="artist" resultType="Artist">
		SELECT ARTIST_PROFILE, ARTIST_NAME FROM ARTIST
		WHERE ARTIST_GROUP_NO = #{artistGroupNo}
	</select>
	
	<select id="artistGroupMedia" resultType="Media">
		SELECT MEDIA_ADDRESS, MEDIA_TITLE, 
		TO_CHAR(MEDIA_ENROLL_DATE, 'YYYY"."MM"."DD') MEDIA_ENROLL_DATE FROM MEDIA
		WHERE ARTIST_GROUP_NO = #{artistGroupNo}
		ORDER BY MEDIA_ENROLL_DATE DESC
	</select>
	
	<select id="artistGroupProduct" resultType="Product">
		SELECT PRODUCT_NAME , PRODUCT_PRICE , PRODUCT_IMAGE_THUMBNAIL, PRODUCT_IMAGE_THUMBNAIL_RENAME
		FROM PRODUCT
		JOIN PRODUCT_IMAGE
		USING(PRODUCT_NO)
		WHERE ARTIST_GROUP_NO = #{artistGroupNo}
		ORDER BY PRODUCT_REGISTRATION_DATE DESC
	</select>
	
	<select id="artistGroupNotice" resultType="ArtistNotice">
		SELECT ARTIST_GROUP_NOTICE_TITLE FROM ARTIST_GROUP_NOTICE
		WHERE ARTIST_GROUP_NO = #{artistGroupNo}
		AND ARTIST_GROUP_NOTICE_DEL_FL = 'N'
		ORDER BY ARTIST_GROUP_NOTICE_ENROLL_DATE DESC
	</select>
	
	<insert id="subscribe">
		INSERT INTO ARTIST_SUBSCRIBE
		VALUES(#{artistGroupNo},#{memberNo})
	</insert>
	
	<select id="update" resultType="_int">
		SELECT COUNT(*) FROM ARTIST_GROUP
		WHERE ARTIST_GROUP_ADMIN_NO = #{memberNo}
		AND ARTIST_GROUP_NO = #{artistGroupNo}
	</select>
	
	<select id="artistUpdate" resultType="ArtistGroup1">
		SELECT ARTIST_GROUP_LOGOIMG, ARTIST_GROUP_MAINIMG, ARTIST_PROFILE, ARTIST_GROUP_INTRODUCTION
		FROM ARTIST_GROUP
		WHERE ARTIST_GROUP_NO = #{memberNo}
	</select>
	
	<select id="artistList" resultType="Artist">
		SELECT ARTIST_PROFILE FROM ARTIST
		WHERE ARTIST_GROUP_NO = #{artistGroupNo}
	</select>
	
	<select id="selectArtistGroupNo" resultType="_int">
		SELECT ARTIST_GROUP_NO FROM ARTIST_GROUP
		WHERE ARTIST_GROUP_ADMIN_NO = #{memberNo}
	</select>
	
	<select id="artistProfile" resultType="_int">
		SELECT COUNT(*) FROM ARTIST
		WHERE ARTIST_GROUP_NO = #{artistGroupNo}
	</select>
	
	
	<update id="artistProfileUpdate">
		UPDATE ARTIST_GROUP SET 
		ARTIST_GROUP_INTRODUCTION = #{artistGroupIntroduction},
		ARTIST_GROUP_MAINIMG = #{artistGroupMainimg},
		ARTIST_GROUP_LOGOIMG = #{artistGroupLogoimg}
		WHERE ARTIST_GROUP_NO = #{artistGroupNo}
	</update>
</mapper>

