<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.TeamFiestar.Fiestar.admin.model.mapper.ArtistAdminAJAXMapper">
	
	<resultMap id="purchaseProduct" type="Purchase">
		<collection property="productList"
		select="selectPurchaseProduct"
		column="PURCHASE_NO"
		javaType="java.util.ArrayList"
		ofType="Product"/>
	</resultMap>
	
	<!-- 구매 목록 상품 조회 -->
	<select id="selectPurchaseProduct" resultType="Product">
		SELECT DISTINCT PRODUCT_NO , 
						(SELECT ARTIST_GROUP_TITLE 
						FROM ARTIST_GROUP AG 
						WHERE AG.ARTIST_GROUP_NO = P.ARTIST_GROUP_NO) 
						AS ARTIST_GROUP_TITLE , 
						PRODUCT_NAME, PL2.PRODUCT_PRICE,
						PI2.PRODUCT_IMAGE_THUMBNAIL ,
						PI2.PRODUCT_IMAGE_THUMBNAIL_RENAME,
						PL2.PRODUCT_QUANTITY 
			FROM PRODUCT P JOIN (SELECT PRODUCT_NO, PRODUCT_PRICE, PRODUCT_QUANTITY FROM PURCHASE_LIST) PL2 USING(PRODUCT_NO)
			JOIN (SELECT PRODUCT_NO, PRODUCT_IMAGE_THUMBNAIL,PRODUCT_IMAGE_THUMBNAIL_RENAME FROM PRODUCT_IMAGE) PI2 USING(PRODUCT_NO)
			WHERE PRODUCT_NO IN 
				(SELECT PL.PRODUCT_NO 
				FROM PURCHASE_LIST PL 
			WHERE PL.PURCHASE_NO = #{purchaseNo})
	</select>
	
	<!-- 구매 목록 상세 조회 -->
	<select id="selectPurchaseDetails" resultMap="purchaseProduct">
		SELECT PURCHASE_NO ,PURCHASE_PRICE ,PURCHASE_DATE, 
			(SELECT MEMBER_NICKNAME FROM "MEMBER" m WHERE M.MEMBER_NO = P2.MEMBER_NO)
			MEMBER_NICKNAME,
			PURCHASE_ADDRESS
		FROM PURCHASE P2 
		WHERE PURCHASE_NO = #{purchaseNo}
	</select>
	
	<select id="selectArtistNotice">
		SELECT * FROM ARTIST_GROUP_NOTICE
		WHERE ARTIST_GROUP_NOTICE_NO = #{artistGroupNoticeNo} 
	</select>
	
	<update id="deleteNotice">
		UPDATE ARTIST_GROUP_NOTICE 
		SET ARTIST_GROUP_NOTICE_DEL_FL = 'Y'
		WHERE ARTIST_GROUP_NOTICE_NO = #{noticeNo}
	</update>
	
	<update id="updateNotice">
		UPDATE ARTIST_GROUP_NOTICE SET 
		ARTIST_GROUP_NOTICE_TITLE = #{artistGroupNoticeTitle},
		ARTIST_GROUP_NOTICE_CONTENT = #{artistGroupNoticeContent}
		WHERE ARTIST_GROUP_NOTICE_NO = #{artistGroupNoticeNo}
	</update>
	
	<update id="updatePurchase">
		UPDATE PURCHASE SET PURCHASE_STATUS = #{purchaseStatus}
		WHERE PURCHASE_NO = #{purchaseNo}
	</update>
	
	<!-- 게시판 조회 -->
	<select id="selectBoardReport">
		SELECT * FROM BOARD B 
		JOIN "MEMBER" m USING(MEMBER_NO)  
		WHERE BOARD_NO = #{boardNo}
	</select>
	
	<!-- 게시판 댓글 조회 -->
	<select id="selectBoardCommentReport">
		SELECT * FROM BOARD_COMMENT BC 
		JOIN "MEMBER" m USING(MEMBER_NO) 
		WHERE BOARD_COMMENT_NO = #{boardCommentNo}
	</select>
	
	<!-- 미디어 댓글 조회 -->
	<select id="selectMediaCommentReport">
		SELECT * FROM MEDIA_COMMENT MC 
		JOIN "MEMBER" m USING(MEMBER_NO) 
		WHERE MEDIA_COMMENT_NO = #{mediaCommentNo}
	</select>
	
	<!-- 게시판 삭제 -->
	<update id="deleteBoard">
		UPDATE BOARD SET BOARD_DEL_FL = 'Y' 
		WHERE BOARD_NO = #{reportContentNo}
	</update>

	<!-- 게시판 댓글 삭제 -->	
	<update id="deleteBoardComment">
		UPDATE BOARD_COMMENT SET BOARD_COMMENT_DEL_FL = 'Y' 
		WHERE BOARD_COMMENT_NO = #{reportContentNo}
	</update>
	
	<!-- 미디어 댓글 삭제 -->
	<update id="deleteMediaComment">
		UPDATE MEDIA_COMMENT SET MEDIA_COMMENT_DEL_FL = 'Y'
		WHERE MEDIA_COMMENT_NO = #{reportContentNo}
	</update>
	
	<!-- 신고 완료 처리 -->
	<update id="proceedReport">
		UPDATE REPORT SET REPORT_PROCEED = 'Y'
		WHERE REPORT_NO = #{reportNo}
	</update>
	
	
	
</mapper>