<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.TeamFiestar.Fiestar.cart.model.mapper.CartMapper">
	
	
	
	<select id="cartPage" resultType="Cart">
		
		SELECT MEMBER_NO, MEMBER_ADDRESS, MEMBER_NICKNAME, 
		PRODUCT_NAME, 
		PRODUCT_PRICE, 
		PRODUCT_COUNT,
		C.PRODUCT_NO,
		CART_NO,
		(SELECT PRODUCT_IMAGE_THUMBNAIL || PRODUCT_IMAGE_THUMBNAIL_RENAME 
			FROM "PRODUCT_IMAGE" IMAGE
			WHERE IMAGE.PRODUCT_NO = C.PRODUCT_NO
			AND PRODUCT_IMAGE_ORDER=0) PRODUCT_IMAGE_THUMBNAIL,
		
		(SELECT PRODUCT_OPTION_NAME 
			FROM "PRODUCT_OPTION"
			WHERE "CART_OPTION".PRODUCT_OPTION_NO = "PRODUCT_OPTION".PRODUCT_OPTION_NO ) PRODUCT_OPTION_NAME
		
		FROM "CART" C
		LEFT JOIN "CART_OPTION" USING (CART_NO)
		JOIN "PRODUCT" P ON(C.PRODUCT_NO = P.PRODUCT_NO)
		JOIN MEMBER USING (MEMBER_NO)
		
		WHERE MEMBER_NO = #{memberNo}
	
	</select>
	
		
		<!-- 
	
		<select id="cartPage" resultType="Cart">
		
		SELECT MEMBER_NO, MEMBER_ADDRESS, MEMBER_NICKNAME, 
		PRODUCT_NAME, 
		PRODUCT_PRICE, 
		PRODUCT_COUNT,
		C.PRODUCT_NO,
		PRODUCT_OPTION_NAME, 
		CART_NO,
		(SELECT PRODUCT_IMAGE_THUMBNAIL || PRODUCT_IMAGE_RENAME 
			FROM "PRODUCT_IMAGE" IMAGE
			WHERE IMAGE.PRODUCT_NO = C.PRODUCT_NO
			AND PRODUCT_IMAGE_ORDER=1) PRODUCT_IMAGE_NO
		
		FROM "CART" C
		JOIN "PRODUCT" P ON(C.PRODUCT_NO = P.PRODUCT_NO)
		JOIN MEMBER USING (MEMBER_NO)
		LEFT JOIN "PRODUCT_OPTION" O ON(P.PRODUCT_NO = O.PRODUCT_NO)
		
		WHERE MEMBER_NO = #{memberNo}
	
	</select>
	
	-->
	
	
	
    <update id="updateCart">
        UPDATE "CART" SET
        PRODUCT_COUNT = #{productCount},
       	EACH_PRICE = #{eachPrice}
        WHERE CART_NO = #{cartNo}
    </update>
    
    
    <delete id="deleteCart">
		DELETE FROM CART
		WHERE CART_NO = #{cartNo}
	</delete>
	
<!--
	<select id="checkout" resultType="Cart">
		
		SELECT MEMBER_NO, EACH_PRICE,
		PRODUCT_NAME, 
		PRODUCT_PRICE, 
		PRODUCT_COUNT,
		C.PRODUCT_NO,
		PRODUCT_OPTION_NAME, 
		CART_NO,
		(SELECT PRODUCT_IMAGE_THUMBNAIL || PRODUCT_IMAGE_RENAME 
			FROM "PRODUCT_IMAGE" IMAGE 
			WHERE IMAGE.PRODUCT_NO = C.PRODUCT_NO
			AND PRODUCT_IMAGE_ORDER=0) PRODUCT_IMAGE_THUMBNAIL
			
		FROM "CART" C
		JOIN "PRODUCT" P ON(C.PRODUCT_NO = P.PRODUCT_NO)
		JOIN MEMBER USING (MEMBER_NO)
		LEFT JOIN "PRODUCT_OPTION" O ON(P.PRODUCT_NO = O.PRODUCT_NO)
		WHERE CART_NO IN ( ${selectNo} )
		
	</select>



(SELECT PRODUCT_OPTION_NAME 
			FROM "PRODUCT_OPTION"
			WHERE "CART_OPTION".PRODUCT_OPTION_NO = "PRODUCT_OPTION".PRODUCT_OPTION_NO ) PRODUCT_OPTION_NAME
			
	LEFT JOIN "CART_OPTION" USING (CART_NO)
 -->



	<select id="checkout" resultType="Cart">

     SELECT MEMBER_NO, MEMBER_ADDRESS, MEMBER_NICKNAME, 
		PRODUCT_NAME, 
		PRODUCT_PRICE, 
		PRODUCT_COUNT,
		C.PRODUCT_NO,
		CART_NO,
		
		(SELECT PRODUCT_IMAGE_THUMBNAIL || PRODUCT_IMAGE_THUMBNAIL_RENAME 
			FROM "PRODUCT_IMAGE" IMAGE
			WHERE IMAGE.PRODUCT_NO = C.PRODUCT_NO
			AND PRODUCT_IMAGE_ORDER=0) PRODUCT_IMAGE_THUMBNAIL,
		
		(SELECT PRODUCT_OPTION_NAME 
			FROM "PRODUCT_OPTION"
			WHERE "CART_OPTION".PRODUCT_OPTION_NO = "PRODUCT_OPTION".PRODUCT_OPTION_NO ) PRODUCT_OPTION_NAME
		
		FROM "CART" C
		LEFT JOIN "CART_OPTION" USING (CART_NO)
		JOIN "PRODUCT" P ON(C.PRODUCT_NO = P.PRODUCT_NO)
		JOIN MEMBER USING (MEMBER_NO)
		WHERE CART_NO IN ( ${selectNo} )
		
		</select>


	
	<!-- 주문 정보 삽입 -->
	<insert id="order" useGeneratedKeys="true">
				
		<selectKey order="BEFORE" resultType="_int" keyProperty="purchaseNo" >
			SELECT SEQ_PURCHASE_NO.NEXTVAL FROM DUAL
		</selectKey>
			
	    INSERT INTO PURCHASE
	    VALUES
	    (#{purchaseNo}, #{purchasePrice}, 1, SYSDATE, #{memberNo}, #{ordererName}, #{ordererAddress}, #{ordererPhoneNumber})
    
	</insert>
	
	
	<!--
	<insert id="insertPurchaseList" parameterType="map">
		INSERT INTO PURCHASE_LIST
		SELECT NEXT_PURCHASE_LIST_NO(), ${purchaseNo},  C.PRODUCT_NO, C.PRODUCT_COUNT, PRODUCT_PRICE,
		
		
		(SELECT PRODUCT_OPTION_NAME 
			FROM "PRODUCT_OPTION"
			WHERE "CART_OPTION".PRODUCT_OPTION_NO = "PRODUCT_OPTION".PRODUCT_OPTION_NO ) PRODUCT_OPTION_NAME
		
		
		FROM "CART" C
		
		JOIN MEMBER USING (MEMBER_NO)
		LEFT JOIN "PRODUCT_OPTION" O ON(P.PRODUCT_NO = O.PRODUCT_NO)
		WHERE CART_NO IN ( ${selectNo} )
	</insert>
	
	 -->
	
		
		
		
		
	
	
	<insert id="insertPurchaseList" parameterType="map">
		INSERT INTO PURCHASE_LIST
		SELECT NEXT_PURCHASE_LIST_NO(),  ${purchaseNo}, C.PRODUCT_NO, C.PRODUCT_COUNT, PRODUCT_PRICE, PRODUCT_OPTION_NO
		FROM "CART" C
		JOIN "CART_OPTION" USING (CART_NO) 
		JOIN "PRODUCT" P ON(C.PRODUCT_NO = P.PRODUCT_NO)
		JOIN MEMBER USING (MEMBER_NO)
		WHERE CART_NO IN ( ${selectNo} )
	</insert>
	
	
	
	
	
	
	
	
	<!-- 주문한 상품 리스트 삽입 
	<insert id="insertPurchaseList" parameterType="map">
		INSERT INTO PURCHASE_LIST
		SELECT NEXT_PURCHASE_LIST_NO(), ${purchaseNo},  C.PRODUCT_NO, C.PRODUCT_COUNT, PRODUCT_PRICE, PRODUCT_OPTION_NO
		FROM "CART" C
		JOIN "PRODUCT" P ON(C.PRODUCT_NO = P.PRODUCT_NO)
		JOIN MEMBER USING (MEMBER_NO)
		LEFT JOIN "PRODUCT_OPTION" O ON(P.PRODUCT_NO = O.PRODUCT_NO)
		WHERE CART_NO IN ( ${selectNo} )
	</insert>
	-->


	<!-- 주문 완료된 카트 번호 삭제 -->
	<delete id="deleteOrderCart">
		DELETE FROM CART WHERE CART_NO IN (${selectNo})
	</delete>

	<select id="selectPurchaseInfo" parameterType="map">
		
	SELECT PURCHASE_NO, PURCHASE_PRICE, MEMBER_NO, PURCHASE_NAME, PURCHASE_ADDRESS, PUCHASE_PHONE_NUMBER, 
		TO_CHAR(PURCHASE_DATE, 'YYYY/MM/DD HH24:MI:SS') PURCHASE_DATE
		FROM PURCHASE
	WHERE PURCHASE_NO = ${purchaseNo}

	</select>
	
	
	<select id="selectOrderedList" resultType="OrderedList">
		SELECT PL.PRODUCT_NO, PRODUCT_NAME , ARTIST_GROUP_NO, PL.PRODUCT_PRICE, PRODUCT_QUANTITY, PL.PRODUCT_OPTION_NO,
		PRODUCT_OPTION_NO, P.PRODUCT_PRICE,
			
			(SELECT PRODUCT_IMAGE_THUMBNAIL || PRODUCT_IMAGE_THUMBNAIL_RENAME 
			FROM "PRODUCT_IMAGE" IMAGE 
			WHERE IMAGE.PRODUCT_NO = P.PRODUCT_NO
			AND PRODUCT_IMAGE_ORDER=0) PRODUCT_IMAGE_THUMBNAIL
			FROM PURCHASE_LIST PL
			JOIN PRODUCT P ON (PL.PRODUCT_NO = P.PRODUCT_NO)
			
		WHERE PURCHASE_NO = ${purchaseNo}
		
	</select>
	<!-- 
	
	<select id="selectPurchaseNo" parameterMap="map">
		SELECT PURCHASE_NO, PURCHASE_PRICE, MEMBER_NO, PURCHASE_NAME, PURCHASE_ADDRESS, PUCHASE_PHONE_NUMBER, 
			TO_CHAR(PURCHASE_DATE, 'YYYY/MM/DD HH24:MI:SS') PURCHASE_DATE
			FROM PURCHASE
		WHERE PURCHASE_NO = ${purchaseNo}
		
	</select>
	
	
	
	<select id="checkoutResult" parameterMap="map">	
		
		SELECT PL.PRODUCT_NO, PRODUCT_NAME , ARTIST_GROUP_NO, PL.PRODUCT_PRICE, PRODUCT_QUANTITY, PL.PRODUCT_OPTION_NO,PRODUCT_OPTION_NAME,
					(SELECT PRODUCT_IMAGE_THUMBNAIL || PRODUCT_IMAGE_RENAME 
							FROM "PRODUCT_IMAGE" IMAGE 
							WHERE IMAGE.PRODUCT_NO = P.PRODUCT_NO
							AND PRODUCT_IMAGE_ORDER=1) PRODUCT_IMAGE_NO
				FROM PURCHASE_LIST PL
				JOIN PRODUCT P ON (PL.PRODUCT_NO = P.PRODUCT_NO)
				LEFT JOIN PRODUCT_OPTION O ON (PL.PRODUCT_NO = O.PRODUCT_NO)
		WHERE PURCHASE_NO = ${purchaseNo}
	</select>


-->


<!-- 
	<insert id="purchaseList">
    INSERT INTO PURCHASE_LIST 
    
    VALUES (SEQ_PURCHASE_LIST_NO.NEXTVAL, 3, 2 , #{productQuantity}, #{productPrice})
	</insert>
-->
	
		<!-- 
		<insert id="purchase">
  		  INSERT INTO PURCHASE_LIST (PURCHASE_LIST_NO, PURCHASE_NO, PRODUCT_NO, PRODUCT_QUANTITY, PRODUCT_PRICE)
   			 SELECT 
        purchase_list_seq.NEXTVAL,
        #{purchaseNo},  
        C.PRODUCT_NO,
        C.PRODUCT_COUNT,
        C.EACH_PRICE
    		FROM 
        CART C
        JOIN PRODUCT P ON C.PRODUCT_NO = P.PRODUCT_NO
        JOIN MEMBER M ON C.MEMBER_NO = M.MEMBER_NO
        LEFT JOIN PRODUCT_OPTION O ON P.PRODUCT_NO = O.PRODUCT_NO
    WHERE 
        C.CART_NO IN ( ${selectNo} )
	</insert>
		-->

	
	

	
	
	
</mapper>