<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.TeamFiestar.Fiestar.cart.model.mapper.CartMapper">
	
	
	
	<select id="cartPage" resultType="Cart">
		
		SELECT MEMBER_NO, MEMBER_ADDRESS, MEMBER_NICKNAME, 
		PRODUCT_NAME, 
		PRODUCT_PRICE, 
		PRODUCT_COUNT,
		C.PRODUCT_NO,
		PRODUCT_OPTION_NAME, 
		CART_NO,
		(SELECT PRODUCT_IMAGE_THUMBNAIL || PRODUCT_IMAGE_RENAME 
			FROM "PRODUCT_IMAGE" IMAGE
			WHERE IMAGE.PRODUCT_NO = C.PRODUCT_NO
			AND PRODUCT_IMAGE_ORDER=1) PRODUCT_IMAGE_NO
		
		FROM "CART" C
		JOIN "PRODUCT" P ON(C.PRODUCT_NO = P.PRODUCT_NO)
		JOIN MEMBER USING (MEMBER_NO)
		LEFT JOIN "PRODUCT_OPTION" O ON(P.PRODUCT_NO = O.PRODUCT_NO)
		
		WHERE MEMBER_NO = #{memberNo}
	
	</select>
	
	
	
    <update id="updateCart">
        UPDATE "CART" SET
        PRODUCT_COUNT = #{productCount},
       	EACH_PRICE = #{eachPrice}
        WHERE CART_NO = #{cartNo}
    </update>
    
    
    <delete id="deleteCart">
		DELETE FROM CART
		WHERE CART_NO = #{cartNo}
	</delete>
	
	
	<select id="checkout" resultType="Cart">
		
		SELECT MEMBER_NO, EACH_PRICE,
		PRODUCT_NAME, 
		PRODUCT_PRICE, 
		PRODUCT_COUNT,
		C.PRODUCT_NO,
		PRODUCT_OPTION_NAME, 
		CART_NO,
		(SELECT PRODUCT_IMAGE_THUMBNAIL || PRODUCT_IMAGE_RENAME 
			FROM "PRODUCT_IMAGE" IMAGE 
			WHERE IMAGE.PRODUCT_NO = C.PRODUCT_NO
			AND PRODUCT_IMAGE_ORDER=1) PRODUCT_IMAGE_NO
			
		FROM "CART" C
		JOIN "PRODUCT" P ON(C.PRODUCT_NO = P.PRODUCT_NO)
		JOIN MEMBER USING (MEMBER_NO)
		LEFT JOIN "PRODUCT_OPTION" O ON(P.PRODUCT_NO = O.PRODUCT_NO)
		WHERE CART_NO IN ( ${selectNo} )

		
	</select>
	
	
	<insert id="order" useGeneratedKeys="true">
				
			<selectKey order="BEFORE" resultType="_int" keyProperty="purchaseNo" >
			SELECT SEQ_PURCHASE_NO.NEXTVAL FROM DUAL
			</selectKey>
		
    INSERT INTO PURCHASE
    VALUES
    (SEQ_PURCHASE_NO.NEXTVAL, #{purchasePrice}, 1, SYSDATE, #{memberNo}, #{ordererName}, #{ordererAddress}, #{ordererPhoneNumber})
    
	</insert>
	
	
	<insert id="insertPurchaseList" parameterType="Orderer">
    INSERT INTO PURCHASE_LIST
    VALUES (SEQ_PURCHASE_LIST_NO.NEXTVAL,, #{productNo}, #{productCount}, #{productPrice})
	</insert>



<!-- 
	<insert id="purchaseList">
    INSERT INTO PURCHASE_LIST 
    
    VALUES (SEQ_PURCHASE_LIST_NO.NEXTVAL, 3, 2 , #{productQuantity}, #{productPrice})
	</insert>
-->
	
		<!-- 
		<insert id="purchase">
  		  INSERT INTO PURCHASE_LIST (PURCHASE_LIST_NO, PURCHASE_NO, PRODUCT_NO, PRODUCT_QUANTITY, PRODUCT_PRICE)
   			 SELECT 
        purchase_list_seq.NEXTVAL,
        #{purchaseNo},  
        C.PRODUCT_NO,
        C.PRODUCT_COUNT,
        C.EACH_PRICE
    		FROM 
        CART C
        JOIN PRODUCT P ON C.PRODUCT_NO = P.PRODUCT_NO
        JOIN MEMBER M ON C.MEMBER_NO = M.MEMBER_NO
        LEFT JOIN PRODUCT_OPTION O ON P.PRODUCT_NO = O.PRODUCT_NO
    WHERE 
        C.CART_NO IN ( ${selectNo} )
	</insert>
		-->

	
	

	
	
	
</mapper>