<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- 연결할 인터페이스의 패키지명.인터페이스명을 작성 -->
<mapper namespace="com.TeamFiestar.Fiestar.board.model.mapper.CommentMapper"> 
	
<!--	 댓글 목록 조회 
	<select id="select" resultType="Comment">
		SELECT LEVEL, C.* FROM
    		(SELECT BOARD_COMMENT_NO, BOARD_COMMENT_CONTENT, BOARD_NO, MEMBER_NO, MEMBER_NICKNAME, MEMBER_PROFILE, BOARD_PARENT_COMMENT_NO, 
    		BOARD_COMMENT_DEL_FL, MEMBER_AUTHORITY, BOARD_COMMENT_ENROLL_DATE
    		
    		<![CDATA[	
			
			  	CASE  
			         WHEN SYSDATE - BOARD_COMMENT_ENROLL_DATE < 1/24/60
			         THEN FLOOR( (SYSDATE - BOARD_COMMENT_ENROLL_DATE) * 24 * 60 * 60 ) || '초 전'
			         WHEN SYSDATE - BOARD_COMMENT_ENROLL_DATE < 1/24
			         THEN FLOOR( (SYSDATE - BOARD_COMMENT_ENROLL_DATE) * 24 * 60) || '분 전'
			         WHEN SYSDATE - BOARD_COMMENT_ENROLL_DATE < 1
			         THEN FLOOR( (SYSDATE - BOARD_COMMENT_ENROLL_DATE) * 24) || '시간 전'
			         ELSE TO_CHAR(BOARD_COMMENT_ENROLL_DATE, 'YYYY-MM-DD')
		      	END BOARD_COMMENT_ENROLL_DATE,	
	      	]]>
       		
       		
       	 	FROM "BOARD_COMMENT"
       		JOIN MEMBER USING(MEMBER_NO)
       		WHERE BOARD_NO = #{boardNo}) C
     	 WHERE BOARD_COMMENT_DEL_FL = 'N'
      	 OR 0 != (SELECT COUNT(*) FROM "BOARD_COMMENT" SUB
            WHERE SUB.BOARD_PARENT_COMMENT_NO = C.BOARD_COMMENT_NO
            AND BOARD_COMMENT_DEL_FL = 'N')
      	 START WITH BOARD_PARENT_COMMENT_NO IS NULL
      	 CONNECT BY PRIOR BOARD_COMMENT_NO = BOARD_PARENT_COMMENT_NO
      	 ORDER SIBLINGS BY BOARD_COMMENT_NO
	</select>-->
	
	
	<!-- 댓글 등록 -->
	<insert id="insert">
		INSERT INTO "BOARD_COMMENT"
		(BOARD_COMMENT_NO, BOARD_COMMENT_CONTENT, BOARD_COMMENT_ENROLL_DATE,BOARD_COMMENT_DEL_FL, MEMBER_NO, BOARD_NO, BOARD_PARENT_COMMENT_NO)
		VALUES (SEQ_BOARD_COMMENT_NO.NEXTVAL, #{boardCommentContent}, SYSDATE,'N', ${memberNo}, #{boardNo},
		
		<!-- if문 (동적 SQL) -->
		<if test="boardParentCommentNo == 0"> <!-- 일반 댓글 등록 -->
			NULL
		</if>
		
		<if test="boardParentCommentNo != 0"> <!-- 답글(대댓글) 등록 -->
			#{boardParentCommentNo}
		</if>
		
		 )
		
	</insert>
	
	
	<!-- 댓글 삭제 -->
	<update id="delete">
		UPDATE "BOARD_COMMENT" SET 
		BOARD_COMMENT_DEL_FL = 'Y' 
		WHERE BOARD_COMMENT_NO = #{boardCommentNo}
	</update>
	
	<!-- 댓글 좋아요 -->
	
		
	<delete id="deleteLike">
		DELETE FROM "BOARD_COMMENT_LIKE"
		WHERE BOARD_COMMENT_NO = #{boardCommentNo}
		AND MEMBER_NO = #{memberNo}
	</delete>
	
	<insert id="likeComment">
		INSERT INTO "BOARD_COMMENT_LIKE"
		VALUES(#{boardCommentNo}, #{memberNo})
	</insert>
	
	<select id="countCommentLike" resultType="_int">
		SELECT COUNT(*) FROM "BOARD_COMMENT_LIKE"
		WHERE BOARD_COMMENT_NO = #{boardCommentNo}
	</select>
	
	<select id="likeClick" resultType="_int">
		SELECT COUNT(*) FROM "BOARD_COMMENT_LIKE"
		WHERE BOARD_COMMENT_NO = #{boardCommentNo}
		AND MEMBER_NO = #{memberNo}
	</select>
	
	
	<select id="selectCommentLikeCount" resultType="_int">
		SELECT COUNT(*) FROM "BOARD_COMMENT_LIKE"
		WHERE BOARD_COMMENT_NO = #{boardCommentNo}
	</select>
	
	<insert id="insertReport">
		INSERT INTO REPORT r VALUES
			(SEQ_REPORT_NO.NEXTVAL, 
			#{reporterNo}, 
			#{reportTargetNo}, 
			#{artistGroupNo},
			'N',
			#{reportContentNo},
			#{reportContent},
			#{reportType})
	</insert>

	
	
	
	
	
</mapper>