<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.TeamFiestar.Fiestar.board.model.mapper.EditBoardMapper"> 
	

	<insert id="insertBoard" parameterType="Board" useGeneratedKeys="true">
		
		<selectKey order="BEFORE" resultType="_int" keyProperty="boardNo"> <!--전달된 파라미터 board를 boardNo라는 필드에 저장한다.-->
			SELECT SEQ_BOARD_NO.NEXTVAL FROM DUAL
		</selectKey>
		
		INSERT INTO "BOARD" 
		VALUES( #{boardNo},  #{boardContent}, DEFAULT, DEFAULT, 
				#{memberNo}, #{artistGroupNo}, SYSDATE )
	</insert>
	
	
	<insert id="insertUploadList" parameterType="list">
		
		INSERT INTO "BOARD_IMAGE"
		
		<!-- myBatis에서 향상된 for문 사용하기 -->
	 	<foreach collection="list" item="img" separator=" UNION " >
			 SELECT NEXT_IMG_NO(), 
			 #{img.boardNo},
			 		#{img.boardImagePath},
			 		#{img.boardImageOrder},
			 		#{img.boardImageRename},
			 		#{img.boardImageOriginalName}
			 		
			 FROM DUAL
			 
		 </foreach>
		
	</insert>
	

	
	<select id="updateBoardDetail">
		SELECT BOARD_NO, BOARD_CONTENT, MEMBER_AUTHORITY,MEMBER_NICKNAME, MEMBER_PROFILE, MEMBER_NO,
		
		<![CDATA[	
			
			  	CASE  
			         WHEN SYSDATE - BOARD_ENROLL_DATE < 1/24/60
			         THEN FLOOR( (SYSDATE - BOARD_ENROLL_DATE) * 24 * 60 * 60 ) || '초 전'
			         WHEN SYSDATE - BOARD_ENROLL_DATE < 1/24
			         THEN FLOOR( (SYSDATE - BOARD_ENROLL_DATE) * 24 * 60) || '분 전'
			         WHEN SYSDATE - BOARD_ENROLL_DATE < 1
			         THEN FLOOR( (SYSDATE - BOARD_ENROLL_DATE) * 24) || '시간 전'
			         ELSE TO_CHAR(BOARD_ENROLL_DATE, 'YYYY-MM-DD')
		      	END BOARD_ENROLL_DATE,	
	      	]]>
			

			(SELECT COUNT(*) FROM "BOARD_LIKE" L 
			WHERE L.BOARD_NO = B.BOARD_NO) LIKE_COUNT,
			
			(SELECT COUNT(*) FROM "BOARD_COMMENT" C
	      	WHERE C.BOARD_NO = B.BOARD_NO) COMMENT_COUNT,
	      	
	      	(SELECT COUNT(*) FROM BOARD_LIKE
			 WHERE BOARD_NO = #{boardNo}
			 AND MEMBER_NO = #{memberNo}) likeCheck

		FROM "BOARD" B
		JOIN "MEMBER" USING(MEMBER_NO)
		WHERE BOARD_DEL_FL = 'N'
		AND BOARD_NO = #{boardNo}
		
		
	</select>
	
	
		<!-- 게시글 삭제 -->
	<update id="deleteBoard">
		UPDATE "BOARD" SET 
		BOARD_DEL_FL = 'Y'
		WHERE BOARD_NO = #{boardNo}
		
	</update>
	
	
	
	<!-- 게시글 부분만 수정 -->
	<update id="updateBoard">
		UPDATE "BOARD" SET
		BOARD_CONTENT = #{boardContent}
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	<!-- # , $의 차이점 : ' ' 작성이 있는지
		# ==> ' '의 값으로 나옴. 
	-->
	<!-- 이미지 삭제 -->
	<delete id="imageDelete">
		DELETE FROM "BOARD_IMAGE"
		WHERE BOARD_NO = #{boardNo}
		AND BOARD_IMAGE_ORDER IN ( ${deleteOrder} )
	</delete>
	
	
	<!-- 이미지 하나 수정 -->
	<update id="updateBoardImg">
		UPDATE "BOARD_IMAGE" SET 
		BOARD_IMAGE_PATH = #{boardImagePath},
		BOARD_IMAGE_RENAME = #{boardImageRename},
		BOARD_IMAGE_ORIGINAL_NAME = #{boardImageOriginalName}
		WHERE BOARD_NO = #{boardNo}
		AND BOARD_IMAGE_ORDER = #{boardImageOrder}
	</update>
	
	<!-- 이미지 하나 삽입 -->
	<insert id="boardImgInsert">
		INSERT INTO "BOARD_IMAGE"
    	VALUES(SEQ_IMG_NO.NEXTVAL, #{boardNo}, #{boardImagePath}, #{boardImageOrder},
      			#{boardImageRename}, #{boardImageOriginalName} )
	</insert>
	
	
	
</mapper>