<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.TeamFiestar.Fiestar.media.model.mapper.MediaMapper">
	
	<resultMap id="mediaRM" type="Media">
		<collection property="mediaCommentList"
		select="selectMediaComment"
		column="{mediaNo=MEDIA_NO, memberNo=MEMBER_NO}"
		javaType="java.util.ArrayList"
		ofType="MediaComment"/>
	</resultMap>
	
	<!-- 미디어 댓글 조회 -->
	<select id="selectMediaComment" resultType="MediaComment">
		SELECT MEDIA_COMMENT_NO ,MEDIA_COMMENT_CONTENT , 
		TO_CHAR(MEDIA_COMMENT_ENROLL_DATE, 'MM.DD. HH24:MI') AS MEDIA_COMMENT_ENROLL_DATE,
		MEMBER_NO ,
		(SELECT MEMBER_NICKNAME  FROM "MEMBER" M WHERE M.MEMBER_NO = MC.MEMBER_NO  ) AS MEMBER_NICKNAME,
		(SELECT COUNT(*) FROM MEDIA_COMMENT_LIKE MCL 
		WHERE MCL.MEDIA_COMMENT_NO = MC.MEDIA_COMMENT_NO) AS MEDIA_COMMENT_LIKE,
		(SELECT COUNT(*) FROM MEDIA_COMMENT_LIKE MCL 
		WHERE MCL.MEDIA_COMMENT_NO = MC.MEDIA_COMMENT_NO
		AND MEMBER_NO = #{memberNo}) AS MEMBER_COMMENT_LIKE
		
		FROM MEDIA_COMMENT MC 
		WHERE MEDIA_NO = #{mediaNo}
		AND MEDIA_PARENT_COMMENT_NO IS NULL 
		AND MEDIA_COMMENT_DEL_FL = 'N'
		ORDER BY MC.MEDIA_COMMENT_ENROLL_DATE DESC
	</select>
	
	<!-- 미디어 상세 조회 -->
	<select id="mediaDetail" resultMap="mediaRM">
		SELECT 	MEDIA_NO ,MEDIA_ADDRESS ,
				MEDIA_TITLE ,MEDIA_DESCRIPTION ,
				MEDIA_COUNT ,ARTIST_GROUP_NO  ,
				TO_CHAR(MEDIA_ENROLL_DATE, 'MM.DD HH24:MI') MEDIA_ENROLL_DATE ,
				#{memberNo} AS MEMBER_NO
		FROM MEDIA M
		WHERE MEDIA_NO = #{mediaNo}
	</select>
	
	<!-- 미디어 리스트 조회 -->
	<select id="selectMediaList">
		
		SELECT *
		FROM "MEDIA"
		WHERE MEDIA_TITLE LIKE '%${mediaTitle}%'
		AND ARTIST_GROUP_NO = #{artistGroupNo}
		<if test="key == 1">
			ORDER BY MEDIA_ENROLL_DATE DESC
		</if>
		<if test="key == 2">
			ORDER BY MEDIA_COUNT DESC
		</if>
		
	</select>
	
	<!-- 미디어 삽입 -->
	<insert id="insertMedia">
		INSERT INTO MEDIA M VALUES
			(SEQ_MEDIA_NO.NEXTVAL,
			#{mediaAddress},
			#{mediaTitle},
			#{mediaDescription},
			SYSDATE,
			DEFAULT,
			#{artistGroupNo},
			#{mediaTime})
	</insert>
	

</mapper>