<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.TeamFiestar.Fiestar.mypage.mapper.MyPageMapper">

	<select id="selectMemberPw" resultType="string">
		SELECT MEMBER_PW FROM "MEMBER"
		WHERE MEMBER_NO = #{memberNo}
	</select>

	<update id="withdrawal">
		UPDATE "MEMBER" SET
		MEMBER_DEL_FL = 'Y'
		WHERE MEMBER_NO = #{memberNo}
	</update>

	<!-- 프로필 이미지 바꾸기 -->
	<update id="profile">
		UPDATE "MEMBER"
		SET MEMBER_PROFILE = #{memberProfile}
		WHERE MEMBER_NO = #{memberNo}
	</update>

	<!--내가 작성한 글 개수 -->
	<select id="listCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE MEMBER_NO = #{memberNo}
		AND BOARD_DEL_FL = 'N'
	</select>
	
	<!--내가 작성한 글 조회-->
	<select id="selectMyFeedList" resultType="Board">
		SELECT MEMBER_NO, BOARD_CONTENT, BOARD_ENROLL_DATE, MEMBER_NICKNAME, MEMBER_PROFILE
		FROM BOARD
		JOIN MEMBER USING( MEMBER_NO)
		WHERE MEMBER_NO = #{memberNo}
		AND BOARD_DEL_FL = 'N'
	</select>
	

	<select id="commentCount" resultType="_int">
		SELECT COUNT(*)
	</select>
	
	<select id="MyCommentList">
		
	</select>


</mapper>