<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.TeamFiestar.Fiestar.scheduling.mapper.SchedulingMapper">
	
	
	<select id="artistList" resultType="string">
		SELECT SUBSTR(ARTIST_GROUP_IMAGE, INSTR(ARTIST_GROUP_IMAGE, '/', -1) +1) "rename" FROM ARTIST_GROUP
        WHERE ARTIST_GROUP_NO != 0
        AND ARTIST_GROUP_IMAGE IS NOT NULL
        UNION
        SELECT SUBSTR(ARTIST_GROUP_PROFILE, INSTR(ARTIST_GROUP_PROFILE, '/', -1) +1) "rename" FROM ARTIST_GROUP
        WHERE ARTIST_GROUP_NO != 0
        AND ARTIST_GROUP_PROFILE IS NOT NULL
        UNION
	    SELECT SUBSTR(ARTIST_GROUP_BACKIMG, INSTR(ARTIST_GROUP_BACKIMG, '/', -1) +1) "rename" FROM ARTIST_GROUP
	    WHERE ARTIST_GROUP_NO != 0
	    AND ARTIST_GROUP_BACKIMG IS NOT NULL
        UNION
        SELECT SUBSTR(ARTIST_GROUP_MAINIMG, INSTR(ARTIST_GROUP_MAINIMG, '/', -1) +1) "rename" FROM ARTIST_GROUP
        WHERE ARTIST_GROUP_NO != 0
        AND ARTIST_GROUP_MAINIMG IS NOT NULL
        UNION
		SELECT SUBSTR(ARTIST_GROUP_LOGOIMG, INSTR(ARTIST_GROUP_LOGOIMG, '/', -1) +1) "rename" FROM ARTIST_GROUP
        WHERE ARTIST_GROUP_NO != 0
        AND ARTIST_GROUP_LOGOIMG IS NOT NULL     
     	UNION
		SELECT SUBSTR(ARTIST_PROFILE, INSTR(ARTIST_PROFILE, '/', -1) +1) "rename" FROM ARTIST
        WHERE MEMBER_NO != 0
        AND ARTIST_PROFILE IS NOT NULL     
     	UNION
        SELECT PRODUCT_IMAGE_RENAME "rename" FROM PRODUCT_IMAGE
        WHERE PRODUCT_IMAGE_NO != 0
        AND PRODUCT_IMAGE_RENAME IS NOT NULL
     	UNION
		SELECT PRODUCT_IMAGE_THUMBNAIL_RENAME "rename" FROM PRODUCT_IMAGE
        WHERE PRODUCT_IMAGE_NO != 0 
        AND PRODUCT_IMAGE_THUMBNAIL_RENAME IS NOT NULL
     	UNION
		SELECT SUBSTR(MEMBER_PROFILE , INSTR(MEMBER_PROFILE, '/', -1) +1) "rename" FROM MEMBER
        WHERE MEMBER_NO != 0
        AND MEMBER_PROFILE IS NOT NULL     
     	UNION
 		SELECT BOARD_IMAGE_RENAME "rename" FROM BOARD_IMAGE 
        WHERE IMG_NO != 0
	</select>
	
	
	

	
	
	
</mapper>