<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.TeamFiestar.Fiestar.shop.model.mapper.ShopMapper">
	
	
	<!--상품 전체 조회-->
	<select id="shopMain" resultType="Product">
		SELECT DISTINCT PRODUCT_NO, PRODUCT_NAME, PRODUCT_PRICE,ARTIST_GROUP_TITLE, PRODUCT_IMAGE_THUMBNAIL, PRODUCT_IMAGE_THUMBNAIL_RENAME, 
				PRODUCT_REGISTRATION_DATE
		FROM PRODUCT 
		JOIN ARTIST_GROUP USING (ARTIST_GROUP_NO)
		LEFT JOIN PRODUCT_IMAGE USING (PRODUCT_NO)
		WHERE PRODUCT_DEL_FL = 'N'
		ORDER BY PRODUCT_REGISTRATION_DATE DESC
	</select>
	
	<!--전체조회 상품 개수-->
	<select id="shopCount" resultType="_int">
		SELECT COUNT(*)
		FROM PRODUCT
		WHERE PRODUCT_DEL_FL = 'N'
	</select>
	
	<!--검색조회 상품 개수-->
	<select id="shopSearchCount" resultType="_int">
		SELECT COUNT(*)
		FROM PRODUCT
		JOIN ARTIST_GROUP USING (ARTIST_GROUP_NO)
		WHERE PRODUCT_NAME LIKE '%${shopSearch}%'
		AND PRODUCT_DEL_FL = 'N'
		OR ARTIST_GROUP_TITLE LIKE '%${shopSearch}%' 
	</select>
	
	<!--검색 상품 조회-->
	<select id="searchList" resultType="Product">
		SELECT  DISTINCT PRODUCT_NO , PRODUCT_NAME, PRODUCT_PRICE,ARTIST_GROUP_TITLE, PRODUCT_IMAGE_THUMBNAIL, PRODUCT_IMAGE_THUMBNAIL_RENAME,
				 PRODUCT_REGISTRATION_DATE
		FROM PRODUCT
		JOIN ARTIST_GROUP USING (ARTIST_GROUP_NO)
		LEFT JOIN PRODUCT_IMAGE USING (PRODUCT_NO)
		WHERE PRODUCT_NAME LIKE '%${shopSearch}%' 
		AND PRODUCT_DEL_FL = 'N'
		OR ARTIST_GROUP_TITLE LIKE '%${shopSearch}%' 
		ORDER BY PRODUCT_REGISTRATION_DATE DESC		
	</select>
	

	<!-- 아티스트 그룹 조회-->
	<select id="artistSelect" resultType="ArtistGroup">
		SELECT * 
		FROM ARTIST_GROUP
	</select>
	
	
	<!--아티스트 그룹 별 상품 조회-->
	<select id="artistGroupShop" resultType="Product">
		SELECT  DISTINCT PRODUCT_NO, PRODUCT_NAME, PRODUCT_PRICE,ARTIST_GROUP_TITLE, PRODUCT_IMAGE_THUMBNAIL, PRODUCT_IMAGE_THUMBNAIL_RENAME, 
				PRODUCT_REGISTRATION_DATE
		FROM PRODUCT
		JOIN ARTIST_GROUP USING (ARTIST_GROUP_NO)
		LEFT JOIN PRODUCT_IMAGE USING (PRODUCT_NO)
		WHERE  ARTIST_GROUP_NO = #{artistGroupNo}
		AND PRODUCT_DEL_FL = 'N'
		ORDER BY PRODUCT_REGISTRATION_DATE DESC
	</select>
	
	
	<!--그룹별 상품 개수-->
	<select id="shopGroupCount" resultType="_int">
		SELECT COUNT(*)
		FROM PRODUCT
		WHERE ARTIST_GROUP_NO = #{artistGroupNo}
		AND PRODUCT_DEL_FL = 'N'
	</select>
	
	
	<!-- 전체 상품 조회 후 정렬-->
	<select id="selectAllSort" resultType="Product">
		SELECT DISTINCT PRODUCT_NO, PRODUCT_NAME, PRODUCT_PRICE,ARTIST_GROUP_TITLE, PRODUCT_IMAGE_THUMBNAIL, PRODUCT_IMAGE_THUMBNAIL_RENAME, 
				PRODUCT_REGISTRATION_DATE
		FROM PRODUCT 
		JOIN ARTIST_GROUP USING (ARTIST_GROUP_NO)
		LEFT JOIN PRODUCT_IMAGE USING (PRODUCT_NO)
		WHERE PRODUCT_DEL_FL = 'N'
		ORDER BY 
		<if test="key == 1">
			 PRODUCT_REGISTRATION_DATE DESC
		</if>
		<if test="key == 2">
			PRODUCT_PRICE DESC
		</if>
		<if test="key == 3">
			PRODUCT_PRICE ASC
		</if>
	</select>
	
	
	
	<!--그룹별 상품 조회 후 정렬-->
	<select id="selectGroupSort" resultType="Product">
		SELECT DISTINCT PRODUCT_NO, PRODUCT_IMAGE_THUMBNAIL, PRODUCT_NAME, PRODUCT_PRICE,ARTIST_GROUP_TITLE, PRODUCT_REGISTRATION_DATE, 
				PRODUCT_IMAGE_THUMBNAIL, PRODUCT_IMAGE_THUMBNAIL_RENAME
		FROM PRODUCT
		JOIN ARTIST_GROUP USING (ARTIST_GROUP_NO)
		LEFT JOIN PRODUCT_IMAGE USING (PRODUCT_NO)
		WHERE ARTIST_GROUP_NO = #{artistGroupNo}
		AND PRODUCT_DEL_FL = 'N'
		ORDER BY 
		<if test="key == 1">
			 PRODUCT_REGISTRATION_DATE DESC
		</if>
		<if test="key == 2">
			PRODUCT_PRICE DESC
		</if>
		<if test="key == 3">
			PRODUCT_PRICE ASC
		</if>
	</select>
	
	
	<!--상품 검색 조회 후 정렬-->
	<select id="selectSearchSort" resultType="Product">
		SELECT DISTINCT PRODUCT_NO, PRODUCT_IMAGE_THUMBNAIL, PRODUCT_NAME, PRODUCT_PRICE,ARTIST_GROUP_TITLE, PRODUCT_REGISTRATION_DATE, 
				PRODUCT_IMAGE_THUMBNAIL, PRODUCT_IMAGE_THUMBNAIL_RENAME
		FROM PRODUCT
		JOIN ARTIST_GROUP USING (ARTIST_GROUP_NO)
		LEFT JOIN PRODUCT_IMAGE USING (PRODUCT_NO)
		WHERE PRODUCT_NAME LIKE '%${shopSearch}%'
		AND PRODUCT_DEL_FL = 'N'
		OR ARTIST_GROUP_TITLE LIKE '%${shopSearch}%' 
		ORDER BY 
		<if test="key == 1">
			 PRODUCT_REGISTRATION_DATE DESC
		</if>
		<if test="key == 2">
			PRODUCT_PRICE DESC
		</if>
		<if test="key == 3">
			PRODUCT_PRICE ASC
		</if>
	</select>
	
	<!--상품 상세조회-->
	<select id="shopDetail" resultType="Product">
		SELECT DISTINCT PRODUCT_NO, PRODUCT_PRICE, PRODUCT_NAME, ARTIST_GROUP_TITLE, PRODUCT_NO,ARTIST_GROUP_TITLE,
				PRODUCT_IMAGE_THUMBNAIL, PRODUCT_IMAGE_THUMBNAIL_RENAME, PRODUCT_IMAGE_CONTENT, PRODUCT_IMAGE_RENAME
				
		FROM PRODUCT 
		JOIN ARTIST_GROUP USING(ARTIST_GROUP_NO)
		LEFT JOIN PRODUCT_IMAGE USING (PRODUCT_NO)
		LEFT JOIN PRODUCT_OPTION USING (PRODUCT_NO)
		WHERE PRODUCT_NO = #{productNo}
	</select>
	
	<!--옵션 조회-->
	<select id="selectOption" resultType="ProductOption">
		SELECT *
		FROM PRODUCT_OPTION
		WHERE PRODUCT_NO = #{productNo} 
	</select>
	
	
	<!--장바구니에 담기-->
	<insert id="insertCart">
		<selectKey order="BEFORE" resultType="_int" keyProperty="cartNo">
			SELECT SEQ_CART_NO.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO "CART"
		VALUES(#{cartNo},#{memberNo},#{productNo},#{productCount},NULL,#{totalPrice})
	</insert>
	
	
	<insert id="insertCartOption">
		INSERT INTO CART_OPTION VALUES(#{productOptionNo}, #{cartNo})
	</insert>
	
	
	
	
	




</mapper>