<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.TeamFiestar.Fiestar.shop.model.mapper.ShopMapper">
	
	
	<select id="shopMain" resultType="Product">
		SELECT PRODUCT_IMAGE, PRODUCT_NAME, PRODUCT_PRICE
		FROM PRODUCT
	</select>
	
	
	<select id="shopMainCount" resultType="_int">
		SELECT COUNT(*)
		FROM PRODUCT
	</select>
	
	
	<select id="searchList" resultType="Product">
		SELECT PRODUCT_IMAGE, PRODUCT_NAME, PRODUCT_PRICE
		FROM PRODUCT
		WHERE PRODUCT_NAME LIKE '%${query}%'
		ORDER BY PRODUCT_NO DESC		
	</select>
	



</mapper>