<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>main 페이지</title>

  <link rel="stylesheet" href="/css/shop/shopMain.css">
  <link rel="stylesheet" href="/css/common/shopHeader.css">
  <link rel="stylesheet" href="/css/common/footer.css">
  
</head>
<body>
  <th:block th:replace="~{common/shopHeader}"></th:block>
 
  
  <main style="aspect-ratio: auto 531/299;" th:with="productList = ${map.productList}, artistList = ${map.artistList}, pagination = ${map.pagination}">

    <section class="homeMain">


      
        <section class="artist-shop-list-area">
          <a href="/shop/home" id="artist-shop-lists-all">전체</a>
          <th:block th:each=" artistGroup : ${artistList}" th:object="${artistGroup}">
            <a th:href="|/shop/home/*{artistGroupTitle}?artistGroupNo=*{artistGroupNo}|" id="artist-shop-lists">
              <img class="artist-main-logo" src="/images/newJeans_logo.jpg">
              <span id="artist-shop-name" th:text="*{artistGroupTitle}"></span>
            </a>
         </th:block>
        </section>
     

      <div class="shop-sorting-area">
        <div class="shop-sorting-amount" th:text="${shopCount}">상품의 총 개수</div>
      
       
          <div class="shop-sorting-type" name="sort" id="sort">
            <button id="dateBtn"><option value="1">신상품 순</option></button>
            <button id="highPrice"><option value="2">높은가격순</option></button>
            <button id="lowPrice"><option value="3">낮은가격순</option></button>
          </div>
        
      </div>
    </form>

      <section class="artist-shop-product" >
        <div class="product-area"> 
          <div class="product-area-detail">

            <div class="product-list" th:each=" product: ${productList}" th:object="${product}">
              <a href="/shop/shopDetail" class="product-profile">
                <div class="product-image-area" th:text="*{productImage}"> 
                  <img src="/images/product1.jpg">
                </div>
                <div class="product-name-area" >
                  <div class="product-name" th:text="*{productName}">상품 이름</div>
                  <br>
                  <div class="product-price" th:text="*{productPrice}">상품 가격</div>
                </div>
              </a>  
            </div>
            
          </div>
        </div>
      </section>


      <!-- ************************************페이지네이션************************************ -->

      <div class="pagination-area" th:if="${#lists.size(productList) > 0}">

        <ul class="pagination">

            <!-- 첫 페이지로 이동 -->
            <li>
                <a th:href="@{/shop/home(cp=1)}">&lt;&lt;</a>
            </li>

            <!-- 이전 목록 마지막 번호로 이동 -->
            <li>
                <a th:href="@{/shop/home(cp=${pagination.prevPage})}">&lt;</a>
            </li>

    
            <!-- 특정 페이지로 이동 -->

            <!-- 타임리프에서 특정 범위 만큼 반복하기!! (1~10) -->
            <!-- #numbers.sequence(1,10,1)  :  1~10까지 1씩 증가하며 차례대로 추가한 리스트 생성 -->
            <th:block th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage, 1)}">

                <!-- 현재 보고있는 페이지 -->
                <li th:if="${i == pagination.currentPage}">
                    <a class="current" th:text="${i}">1</a>
                </li>

                <!-- 보고있지 않은 페이지 -->                    
                <li th:unless="${i == pagination.currentPage}">
                  <a th:href="@{/shop/home(cp=${i})}" th:text="${i}">2</a>
                </li>
            </th:block>

            <!-- 다음 목록 시작 번호로 이동 -->
            <li>
              <a th:href="@{/shop/home(cp=${pagination.nextPage})}">&gt;</a>
            </li>

            <!-- 끝 페이지로 이동 -->
            <li>
              <a th:href="@{/shop/home(cp=${pagination.maxPage})}">&gt;&gt;</a>
            </li>

        </ul>
      </div>

      <!-- ***************************************************************************** -->

    </section>
  </main>

  <th:block th:replace = "~{common/footer}"></th:block> 

  <script th:inline="javascript">
    const productList = /*[[${map.productList}]]*/ "상품리스트";
  </script>

  <script src="/js/shop/shopMain.js"></script>
  <script src="https://kit.fontawesome.com/f7459b8054.js" crossorigin="anonymous"></script>
</body>
</html>