<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>main 페이지</title>

  <link rel="stylesheet" href="/css/shop/shopMain.css">
  <link rel="stylesheet" href="/css/common/shopHeader.css">
  <link rel="stylesheet" href="/css/common/footer.css">
  
</head>
<body>
  <th:block th:replace="~{common/shopHeader}"></th:block>
 
  
  <main style="aspect-ratio: auto 531/299;" th:with="shopList = ${map.shopList}">

    <section class="homeMain">

      <section class="artist-shop-list-area">
        <a href="" id="artist-shop-lists-all">전체</a>
        <a href="" id="artist-shop-lists">
            <img class="artist-main-logo" src="/images/newJeans_logo.jpg">
            <span id="artist-shop-name">NewJeans</span>
        </a>
        <a href="" id="artist-shop-lists">
            <img class="artist-main-logo" src="/images/newJeans_logo.jpg">
            <span id="artist-shop-name">NewJeans</span>
        </a>
      </section>

      <div class="shop-sorting-area">
        <div class="shop-sorting-amount">xx개</div>
        <!-- <select name="sort" id="sort" class="shop-sorting-type" style="border:none; color:blue;">
          <option value="1">신상품 순</option>
          <option value="2">높은가격순</option>
          <option value="3">낮은가격순</option>
        </select> -->
      
        <div class="shop-sorting-type" name="sort" id="sort">
          <option value="1">신상품 순</option>
          <option value="2">높은가격순</option>
          <option value="3">낮은가격순</option>
        </div>
      </div>

      <section class="artist-shop-product" th:each=" shop: ${shopList}" th:object="${shop}">
        <div class="product-area"> 
          <div class="product-area-detail">
            <div class="product-list">
              <a href="/shop/shopDetail" class="product-profile">
                <div class="product-image-area"> 
                  <img src="/images/product1.jpg">
                </div>
            
                <div class="product-name-area">
                  <div class="product-name" th:text="${productName}"></div>
                  <br>
                  <div class="product-price">₩25,000</div>
                </div>
              </a>  
            </div>
          </div>
        </div>
      </section>

      <div class="pagination-box">
        <ul class="pagination">
          <li><a href="" class="current">1</a> </li>
        </ul>
      </div>
    </section>
  </main>

  <th:block th:replace = "~{common/footer}"></th:block> 


  <script src="https://kit.fontawesome.com/f7459b8054.js" crossorigin="anonymous"></script>
</body>
</html>