<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>main 페이지</title>

  <link rel="stylesheet" href="/css/shop/shopMain.css">
  <link rel="stylesheet" href="/css/common/shopHeader.css">
  <link rel="stylesheet" href="/css/common/footer.css">


</head>
<body>



  <th:block th:replace="~{common/shopHeader}"></th:block>
 
  
  <main style="aspect-ratio: auto 531/299;" th:with="productList = ${map.productList}, artistList = ${map.artistList}, pagination = ${map.pagination}" >


  

    <section class="homeMain">


    

      <section class="artist-shop-list-area">
        <a th:href="@{/shop/home}" id="artist-shop-lists-all">전체</a>
        
          <th:block th:each=" artistGroup : ${artistList}" th:object="${artistGroup}">
            
            <a th:href="|/shop/home/*{artistGroupTitle}?artistGroupNo=*{artistGroupNo}|" id="artist-shop-lists" >
              <img class="artist-main-logo" th:src="*{artistGroupProfile}">
              <span id="artist-shop-name" th:text="*{artistGroupTitle}"></span>
            </a>
          </th:block>
        
      </section>


      <div class="shop-sorting-area">
        <div class="shop-sorting-amount" th:text="${map.shopCount}">상품의 총 개수</div>
        <div class="shop-sorting-type" name="sort" id="sort">
          <button id="dateBtn"><option value="1">신상품 순</option></button>
          <button id="highPrice"><option value="2">높은가격순</option></button>
          <button id="lowPrice"><option value="3">낮은가격순</option></button>
        </div>
      </div>
      

      <section class="artist-shop-product">
        <div class="product-area"> 
          <div class="product-area-detail">
            <div class="product-list" th:each="product:${productList}" th:object="${product}">
              <a th:href="@{/shop/shopDetail/{productNo}(productNo=*{productNo})}" class="product-profile">
                <div class="product-image-area"> 
                  <img th:src="|*{productImageThumbnail}*{productImageThumbnailRename}|">       
                </div>
                <div class="product-name-area" >
                  <div class="product-name" th:text="*{productName}">상품 이름</div>
                  <br>
                 <div class="product-price" th:text="|₩${T(java.lang.String).format('%,.0f', product.productPrice.doubleValue())}원|">상품 가격</div>
                </div>
              </a>  
            </div>  
          </div>
        </div>
      </section>

      <!-- ****************페이지네이션**************** -->
      <th:block th:replace="~{shop/pagination}"></th:block>
      <!-- ******************************************* -->
    </section>
    
  </main>

  <th:block th:replace = "~{common/footer}"></th:block> 

  <script th:inline="javascript">
    const productList = /*[[${map.productList}]]*/ "상품리스트";
  </script>

  <script src="/js/shop/shopMain.js"></script>
  <script src="https://kit.fontawesome.com/f7459b8054.js" crossorigin="anonymous"></script>

  <script th:inline = "javascript">
    const message = /*[[${message}]]*/ "message";
    if(message != null) alert(message);
   </script>






</body>
</html>