<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/shop/noticeList.css" />
  </head>
  <body>
    <div class="screen">

      
      <div class="frame">
        <div class="div-wrapper">
          <div class="text-wrapper">공지사항</div>
        </div>
        
  
        <div class="notice-area">
          <div class="artist-group-name">NewJeans</div>
          <div class="group">
            <div class="overlap-group">
              <img class="line" src="img/line-347-1.svg" alt="line" />
              <p class="notice-title-area">
                <span class="notice-title">[공지] 안드로이드 OS 6.0 이하 버전 업데이트 지원중단 안내<br /></span>
                <span class="notice-upload-time">2023. 08. 11</span>
              </p>
            </div>
          </div>
        </div>
        
  
        <div class="notice-area">
          <div class="artist-group-name">NewJeans</div>
          <div class="group">
            <div class="overlap-group">
              <img class="line" src="img/line-347-2.svg" alt="line" />
              <p class="notice-title-area">
                <span class="notice-title">[GODIVA GOLDEN EDITION] GOLD COLLECTION 예약 판매 안내<br /></span>
                <span class="notice-upload-time">2023. 11. 21</span>
              </p>
            </div>
          </div>
        </div>
        
  
        <div class="notice-area">
          <div class="artist-group-name">NewJeans</div>
          <div class="group">
            <div class="overlap-group">
              <img class="line" src="img/line-347-1.svg" alt="line" />
              <p class="notice-title-area">
                <span class="notice-title">[공지] 안드로이드 OS 6.0 이하 버전 업데이트 지원중단 안내<br /></span>
                <span class="notice-upload-time">2023.08.11</span>
              </p>
            </div>
          </div>
        </div>
        
  
        <div class="notice-area">
          <div class="artist-group-name">NewJeans</div>
          <div class="group">
            <div class="overlap-group">
              <img class="line" src="img/line-347-2.svg" alt="line" />
              <p class="notice-title-area">
                <span class="notice-title">[공지] 안드로이드 OS 6.0 이하 버전 업데이트 지원중단 안내<br /></span>
                <span class="notice-upload-time">2023.08.11</span>
              </p>
            </div>
          </div>
        </div>
        
  
        <div class="notice-area">
          <div class="artist-group-name">NewJeans</div>
          <div class="group">
            <div class="overlap-group">
              <img class="line" src="img/line-347-1.svg" alt="line" />
              <p class="notice-title-area">
                <span class="notice-title">[공지] 안드로이드 OS 6.0 이하 버전 업데이트 지원중단 안내<br /></span>
                <span class="notice-upload-time">2023.08.11</span>
              </p>
            </div>
          </div>
        </div>
        
  
        <div class="notice-area">
          <div class="artist-group-name">NewJeans</div>
          <div class="group">
            <div class="overlap-group">
              <img class="line" src="img/line-347-2.svg" alt="line" />
              <p class="notice-title-area">
                <span class="notice-title">[공지] 안드로이드 OS 6.0 이하 버전 업데이트 지원중단 안내<br /></span>
                <span class="notice-upload-time">2023.08.11</span>
              </p>
            </div>
          </div>
        </div>
        
  
        <div class="notice-area">
          <div class="artist-group-name">NewJeans</div>
          <div class="group">
            <div class="overlap-group">
              <img class="line" src="img/line-347-1.svg" alt="line" />
              <p class="notice-title-area">
                <span class="notice-title">[공지] 안드로이드 OS 6.0 이하 버전 업데이트 지원중단 안내<br /></span>
                <span class="notice-upload-time">2023.08.11</span>
              </p>
            </div>
          </div>
        </div>
        
  
        <div class="notice-area">
          <div class="artist-group-name">NewJeans</div>
          <div class="group">
            <div class="overlap-group">
              <img class="line" src="img/line-347-2.svg" alt="line" />
              <p class="notice-title-area">
                <span class="notice-title">[공지] 안드로이드 OS 6.0 이하 버전 업데이트 지원중단 안내<br /></span>
                <span class="notice-upload-time">2023.08.11</span>
              </p>
            </div>
          </div>
        </div>
        
  
        <div class="notice-area">
          <div class="artist-group-name">NewJeans</div>
          <div class="group">
            <div class="overlap-group">
              <img class="line" src="img/line-347-1.svg" alt="line" />
              <p class="notice-title-area">
                <span class="notice-title">[공지] 안드로이드 OS 6.0 이하 버전 업데이트 지원중단 안내<br /></span>
                <span class="notice-upload-time">2023.08.11</span>
              </p>
            </div>
          </div>
        </div>
        
  
        <div class="notice-area">
          <div class="artist-group-name">NewJeans</div>
          <div class="group">
            <div class="overlap-group">
              <img class="line" src="img/line-347-2.svg" alt="line" />
              <p class="notice-title-area">
                <span class="notice-title">[공지] 안드로이드 OS 6.0 이하 버전 업데이트 지원중단 안내<br /></span>
                <span class="notice-upload-time">2023.08.11</span>
              </p>
            </div>
          </div>
        </div>
        
  
        <div class="notice-area">
          <div class="artist-group-name">NewJeans</div>
          <div class="group">
            <div class="overlap-group">
              <img class="line" src="img/line-347-1.svg" alt="line" />
              <p class="notice-title-area">
                <span class="notice-title">[공지] 안드로이드 OS 6.0 이하 버전 업데이트 지원중단 안내<br /></span>
                <span class="notice-upload-time">2023.08.11</span>
              </p>
            </div>
          </div>
        </div>
        
  
        <div class="notice-area">
          <div class="artist-group-name">NewJeans</div>
          <div class="group">
            <div class="overlap-group">
              <img class="line" src="img/line-347-2.svg" alt="line" />
              <p class="notice-title-area">
                <span class="notice-title">[공지] 안드로이드 OS 6.0 이하 버전 업데이트 지원중단 안내<br /></span>
                <span class="notice-upload-time">2023.08.11</span>
              </p>
            </div>
          </div>
        </div>
        
  
        <div class="notice-area">
          <div class="artist-group-name">NewJeans</div>
          <div class="group">
            <div class="overlap-group">
              <img class="line" src="img/line-347-1.svg" alt="line" />
              <p class="notice-title-area">
                <span class="notice-title">[공지] 안드로이드 OS 6.0 이하 버전 업데이트 지원중단 안내<br /></span>
                <span class="notice-upload-time">2023.08.11</span>
              </p>
            </div>
          </div>
        </div>
        
  
        <div class="notice-area">
          <div class="artist-group-name">NewJeans</div>
          <div class="group">
            <div class="overlap-group">
              <img class="line" src="img/line-347-2.svg" alt="line" />
              <p class="notice-title-area">
                <span class="notice-title">[공지] 안드로이드 OS 6.0 이하 버전 업데이트 지원중단 안내<br /></span>
                <span class="notice-upload-time">2023.08.11</span>
              </p>
            </div>
          </div>
        </div>
  
  
        <div class="div-2">
          <div class="text-wrapper-4">1</div>
          <div class="text-wrapper-4">2</div>
          <div class="text-wrapper-4">3</div>
          <div class="text-wrapper-4">...</div>
          <div class="text-wrapper-4">15</div>
          <div class="text-wrapper-4">16</div>
          <div class="text-wrapper-4">17</div>
        </div>
  
  
      </div>
    </div>
  </body>
</html>