
<!--************************ 전체 상품 조회 페이지네이션 ************************-->

<div class="pagination-area"  th:if="${ #lists.size(productList) > 0 and artistGroupNo == null and shopSearch == null }">
              
  <ul class="pagination">

    <li>
      <a th:href="@{ /shop/home (cp=1) }">&lt;&lt;</a>
    </li>

      <li>
        <a th:href="@{ /shop/home(cp=${pagination.prevPage}) }">&lt;</a>
    </li>

    <th:block th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage, 1) }">

      <li th:if="${i == pagination.currentPage}">
        <a class="current" th:text="${i}">1</a>
      </li>

      <li th:unless="${i == pagination.currentPage}">
        <a th:href="@{ /shop/home (cp=${i}) }" th:text="${i}">2</a>
      </li>

    </th:block>

    <li>
      <a th:href="@{ /shop/home(cp=${pagination.nextPage}) }">&gt;</a>
    </li>

    <li>
      <a th:href="@{ /shop/home(cp=${pagination.maxPage}) }">&gt;&gt;</a>
    </li>

  </ul>

</div>


<!-- ************************검색 조회할 때 페이지네이션************************ -->

<div class="pagination-area"  th:if="${ #lists.size(productList) > 0 and shopSearch != null and artistGroupNo == null}">
              
  <ul class="pagination">
    <li>
      <a th:href="|/shop/home?shopSearch=*{shopSearch}&cp=1|">&lt;&lt;</a>
    </li>
    <li>
        <a th:href="|/shop/home?shopSearch=*{shopSearch}&cp=${pagination.prevPage}|">&lt;</a>
    </li>
  
    <th:block th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage, 1) }">

      <li th:if="${i == pagination.currentPage}">
          <a class="current" th:text="${i}">1</a>
      </li>

      <li th:unless="${i == pagination.currentPage}">
        <a th:href="|/shop/home?shopSearch=*{shopSearch}&cp=${i}|" th:text="${i}">2</a>
      </li>

    </th:block>

    <li>
      <a th:href="|/shop/home?shopSearch=*{shopSearch}&cp=${pagination.nextPage} |">&gt;</a>
    </li>

    <li>
      <a th:href="|/shop/home?shopSearch=*{shopSearch}&cp=${pagination.maxPage}|">&gt;&gt;</a>
    </li>
  </ul>
</div>



<!--************************* 그룹별로 조회할 때 페이지네이션 ************************-->

<div class="pagination-area" th:if="${ #lists.size(productList) > 0 and artistGroupNo != null and shopSearch == null }" >
              
  <ul class="pagination">
    <li>
      <a th:href="|/shop/home/${productList[0].artistGroupTitle}?artistGroupNo=*{artistGroupNo}&cp=1|">&lt;&lt;</a>
    </li>
    <li>
        <a th:href="|/shop/home/${productList[0].artistGroupTitle}?artistGroupNo=*{artistGroupNo}&cp=${pagination.prevPage}|">&lt;</a>
    </li>
  
    <th:block th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage, 1) }">

      <li th:if="${i == pagination.currentPage}">
          <a class="current" th:text="${i}">1</a>
      </li>

      <li th:unless="${i == pagination.currentPage}">
        <a th:href="|/shop/home/${productList[0].artistGroupTitle}?artistGroupNo=*{artistGroupNo}&cp=${i}|" th:text="${i}">2</a>
      </li>
    
    </th:block>

    <li>
      <a th:href="|/shop/home/${productList[0].artistGroupTitle}?artistGroupNo=*{artistGroupNo}&cp=${pagination.nextPage}|">&gt;</a>
    </li>

    <li>
      <a th:href="|/shop/home/${productList[0].artistGroupTitle}?artistGroupNo=*{artistGroupNo}&cp=${pagination.maxPage}|">&gt;&gt;</a>
    </li>
  </ul>
</div>









