
<!--************************ 전체 상품 조회 페이지네이션 ************************-->

<div class="pagination-area"  th:if="${#lists.size(productList) > 0 and artistGroupNo == null and shopSearch == null }">
              
  <ul class="pagination">

    <li>
      <a th:href="@{ /shop/home ( cp=1) }">&lt;&lt;</a>
    </li>

      <li>
        <a th:href="@{ /shop/home(cp=${pagination.prevPage}) }">&lt;</a>
    </li>

    <!-- #numbers.sequence(1,10,1) : 1~10까지 1씩 증가하며 차례대로 추가한 리스트 생성 -->
    <th:block th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage, 1) }">

      <!-- 현재 보고있는 페이지 -->
      <li th:if="${i == pagination.currentPage}">
          <a class="current" th:text="${i}">1</a>
      </li>

      <!-- 보고있지 않은 페이지 -->                    
      <li th:unless="${i == pagination.currentPage}">
        <a th:href="@{ /shop/home(cp=${i}) }" th:text="${i}">2</a>
      </li>

    </th:block>

    <!-- 다음 목록 시작 번호로 이동 -->
    <li>
      <a th:href="@{ /shop/home(cp=${pagination.nextPage}) }">&gt;</a>
    </li>

    <!-- 끝 페이지로 이동 -->
    <li>
      <a th:href="@{ /shop/home(cp=${pagination.maxPage}) }">&gt;&gt;</a>
    </li>

  </ul>

</div>



<!--************************* 그룹별로 조회할 때 페이지네이션 ************************-->


<div class="pagination-area"  th:if="${#lists.size(productList) > 0 and artistGroupNo != null }" >
              
  <ul class="pagination">
    <li>
      <a th:href="|/shop/home/${productList[0].artistGroupTitle}?artistGroupNo=*{artistGroupNo}&cp=1|">&lt;&lt;</a>
    </li>
    <li>
        <a th:href="|/shop/home/${productList[0].artistGroupTitle}?artistGroupNo=*{artistGroupNo}&cp=${pagination.prevPage}|">&lt;</a>
    </li>
  
    <th:block th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage, 1) }">

      <li th:if="${i == pagination.currentPage}">
          <a class="current" th:text="${i}">1</a>
      </li>

      <li th:unless="${i == pagination.currentPage}">
        <a th:href="|/shop/home/${productList[0].artistGroupTitle}?artistGroupNo=*{artistGroupNo}&cp=${i}|" th:text="${i}">2</a>
      </li>

    </th:block>

    <li>
      <a th:href="|/shop/home/${productList[0].artistGroupTitle}?artistGroupNo=*{artistGroupNo}&cp=${pagination.nextPage}|">&gt;</a>
    </li>

    <li>
      <a th:href="|/shop/home/${productList[0].artistGroupTitle}?artistGroupNo=*{artistGroupNo}&cp=${pagination.maxPage}|">&gt;&gt;</a>
    </li>
  </ul>
</div>



<!-- ************************검색 조회할 때 페이지네이션************************ -->

<div class="pagination-area"  th:if="${#lists.size(productList) > 0 and shopSearch != null }">
              
  <ul class="pagination">
    <li>
      <a th:href="@{ /shop/home ( cp=1) }">&lt;&lt;</a>
    </li>
    <li>
        <a th:href="@{ /shop/home(cp=${pagination.prevPage}) }">&lt;</a>
    </li>
  
    <th:block th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage, 1) }">

      <li th:if="${i == pagination.currentPage}">
          <a class="current" th:text="${i}">1</a>
      </li>

      <li th:unless="${i == pagination.currentPage}">
        <a th:href="@{ /shop/home(cp=${i}) }" th:text="${i}">2</a>
      </li>

    </th:block>

    <li>
      <a th:href="@{ /shop/home(cp=${pagination.nextPage}) }">&gt;</a>
    </li>

    <li>
      <a th:href="@{ /shop/home(cp=${pagination.maxPage}) }">&gt;&gt;</a>
    </li>
  </ul>
</div>



































