<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/shop/shopNotice.css" />
  </head>
  <body>
    <div class="screen">
      <div class="frame">
        <div class="frame-wrapper">
          <div class="div-wrapper"><div class="text-wrapper">샵 고객센터</div></div>
        </div>
        <div class="div"><div class="text-wrapper-2">공지사항</div></div>
        <div class="group-wrapper">
          <div class="group">
            <div class="overlap-group">
              <img class="line" src="img/line-347-5.svg" />
              <p class="p">
                <span class="span">[공지] 안드로이드 OS 6.0 이하 버전 업데이트 지원중단 안내<br /></span>
                <span class="text-wrapper-3">2023.08.11</span>
              </p>
            </div>
          </div>
        </div>
        <div class="group-wrapper">
          <div class="group">
            <div class="overlap-group">
              <img class="line" src="img/line-347-5.svg" />
              <p class="p">
                <span class="span">Weverse Shop 웹(Web) SNS 로그인 오류 안내(iOS 16.1 버전)<br /></span>
                <span class="text-wrapper-3">2022. 11. 05</span>
              </p>
            </div>
          </div>
        </div>
        <div class="group-wrapper">
          <div class="group">
            <div class="overlap-group">
              <img class="line" src="img/line-347-5.svg" />
              <p class="p">
                <span class="span">Weverse Shop 개인정보 처리방침 개정 안내 (2022.10.19)<br /></span>
                <span class="text-wrapper-3">2022. 10. 18</span>
              </p>
            </div>
          </div>
        </div>
        <div class="frame-2">
          <div class="text-wrapper-4">자주 묻는 질문</div>
          <div class="table">
            <div class="row">
              <div class="cell">
                <div class="content"><div class="text">전체</div></div>
              </div>
              <div class="cell">
                <div class="content"><div class="text">배송</div></div>
              </div>
              <div class="cell">
                <div class="content"><div class="text">교환/반품</div></div>
              </div>
              <div class="cell">
                <div class="content"><div class="text">주문/결제</div></div>
              </div>
              <div class="cell">
                <div class="content"><div class="text">멤버십</div></div>
              </div>
              <div class="cell">
                <div class="content"><div class="text">회원/서비스</div></div>
              </div>
            </div>
          </div>
          <details>

            <summary class="question-title" >
              <div class="frame-3">
                <p class="element">
                  <span class="question-no">1</span>
                  <span class="text-wrapper-6"> 예약판매 상품은 언제 배송되나요?</span>
                </p>
                <div class="expand-down-wrapper"><img class="expand-down" src="img/expand-down-1.svg" /></div>
              </div>
              <img class="img" src="img/line-347.svg" />
            </summary>
            
            <div class="question-content">
              <p class="text-wrapper-7">
                예약 판매 상품 배송일정은 상품의 상세페이지 또는 공지사항을 통해 확인할 수 있습니다.<br /><br />예약 판매
                상품은 상품 페이지 내 &#39;해당 상품은 예약 판매 상품입니다.&#39; 문구와 배송 시작 예정일이 표기되어
                있습니다.<br />배송 예정일은 상품 및 물류 상황에 따라 지연될 수 있으며, 일정이 변경될 경우 개별
                안내됩니다.
              </p>
            </div>
            
          </details>
          
          <details>

            <summary class="question-title" >
              <div class="frame-3">
                <p class="element">
                  <span class="question-no">2</span>
                  <span class="text-wrapper-6"> 상품이 출고된 것은 확인했지만 아직 못 받았어요</span>
                </p>
                <div class="expand-down-wrapper"><img class="expand-down" src="img/expand-down-1.svg" /></div>
              </div>
              <img class="img" src="img/line-347.svg" />
            </summary>
            
            <div class="question-content">
              <p class="text-wrapper-7">
                배송현황은 [ My &gt; 주문내역 &gt; 주문 &gt; 상세 &gt; 배송추적 ] 에서 확인할 수 있으며, 평균 배송기간은
                다음과 같습니다.<br /><br />■ 국내배송 : 영업일 기준 3일 (배송사 인도 후)<br />■ 해외배송 : 영업일 기준
                14일<br /><br />※ 예약 판매 상품은 상품 상세페이지 및 공지사항에 게시 된 배송 시작 예정일에 배송이
                시작됩니다.<br />※ 국내배송은 도서산간지역의 경우 배송기간이 더 소요될 수 있습니다.<br />※ 해외배송은
                국가, 항공편 상황에 따라 배송일정이 유동적이오니 배송정보에 등록된 &#39;추적번호&#39;를 통해 배송 상황을
                확인해주세요.
              </p>
            </div>

          </details>

          <details>

            <summary class="question-title">
              <div class="frame-3">
                <p class="element">
                  <span class="question-no">3</span> <span class="text-wrapper-6"> 상품에 결함이 있어요.</span>
                </p>
                <div class="img-wrapper"><img class="expand-down" src="img/expand-down-1.svg" /></div>
              </div>
              <img class="img" src="img/line-347.svg" />
            </summary>

            <div class="question-content">
              <p class="text-wrapper-7">
                상품의 결함 확인을 위해 다음과 같이 접수 해주세요.<br /><br />■ 접수방법<br />1. My &gt; 주문내역 &gt;
                주문 &gt; 상세 &gt; [교환신청] 클릭<br />2. 교환 상품 선택<br />3. 교환 사유 [제품하자] 선택<br />4. 다음
                가이드를 참고하여 사진 첨부<br />1) 택배박스 송장이 있을 경우 (총 2장)<br />- 결함 상품과 택배 송장을 한
                사진에 함께 찍어 첨부<br />- 전체 구성품과 택배 송장을 한 사진에 함께 찍어 첨부<br /><br />2) 택배박스를
                폐기한 경우 (총 2장)<br />- 메모지에 &#39;주문번호, 성함, 주소&#39;를 작성하여 결함 상품과 한 사진에 함께
                찍어 첨부<br />- 메모지에 &#39;주문번호, 성함, 주소&#39;를 작성하여 전체 구성품과 한 사진에 함께 찍어
                첨부<br /><br />5. 상세 사유에 요청 및 문의 내용 작성 후 접수<br /><br /><br />■ 접수 후 처리방법<br />1.
                접수 내용 확인 후, 교환 여부를 판독합니다.<br />2. 교환 확정된 건은 상품 픽업을 위해 택배 기사님을
                보내드립니다. (영업일 기준 평균 1-2일 소요)<br />3. 반송하실 상품은 가능한 수령 당시의 형태로 박스에 담아
                반송해주세요.<br />4. 반송된 상품을 최종 확인 후, 새 상품 또는 부속품을 발송드립니다. (영업일 기준 평균
                1-2일 소요)<br /><br /><br />※ 해외배송의 경우, 상품 픽업 없이 수령인이 직접 상품을 보내주셔야 합니다.<br />상품
                발송시 발생한 배송비는 Paypal 계정을 통해 환불처리되며, 영수증과 Paypal 계정을 고객센터로 접수해주세요.<br />※
                위의 접수 절차 없이 임의로 상품을 반송할 경우 처리가 지연될 수 있습니다.
              </p>
            </div>
          </details>


          <details>
            <summary class="question-title">
              <div class="frame-3">
                <p class="element">
                  <span class="question-no">4</span>
                  <span class="text-wrapper-6"> 주문한 상품의 배송지를 변경하고 싶어요</span>
                </p>
                <div class="img-wrapper"><img class="expand-down" src="img/expand-down-1.svg" /></div>
              </div>
              <img class="img" src="img/line-347.svg" />
            </summary>
            <div class="question-content">
              <p class="text-wrapper-7">
                주문 이후 구매하신 상품의 배송지 정보 변경은 주문내역에서 변경 가능합니다.<br />단, &#39;결제완료&#39;
                상태에서만 변경 가능합니다.<br /><br />■ 배송지 정보 변경 방법<br />[My &gt; 주문내역 &gt; 주문 &gt;
                상세]<br /><br />※ Paypal 결제 건은 최초 주문내역이 전송되기 때문에 결제 후 주소 변경이 불가하여<br />주문취소
                후 재주문을 통해 주소를 변경해주세요.
              </p>
            </div>

          </details>


          <details>

            <summary class="question-title">
              <div class="frame-3">
                <p class="element">
                  <span class="question-no">5</span>
                  <span class="text-wrapper-6"> 상품이 품절됐는데, 언제 재입고되나요?</span>
                </p>
                <div class="img-wrapper"><img class="expand-down" src="img/expand-down-1.svg" /></div>
              </div>
              <img class="img" src="img/line-347.svg" />
            </summary>
            <div class="question-content">
              <p class="text-wrapper-7">
                특정 상품의 재입고일은 확인이 어렵습니다.<br /><br />※ 재입고 예정일은 공지사항을 통해 안내될 수
                있습니다.<br />※ 재고상황에 따라 품절된 상품이 일시적으로 판매될 수 있습니다.
              </p>
            </div>
          </details>
        </div>
      </div>
    </div>
  </body>
</html>
