<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="memberFeed.css">
  <title>artist</title>
</head>

<body>
  <header>
    <section>
      <a href="/"><img src="logo.png" alt="로고이미지" width="150px"></a>
    </section>

    <header>
      <section>
        <a href="/" src="" alt="로고이미지"></a>
      </section>

      <section>
        <article>
          <a href=""></a>
        </article>
        <article>
          <a href="">로그아웃</a>
        </article>
        <article>
          <a href="">마이페이지</a>
        </article>
        <article>
          <a href=""><i class="fa-solid fa-store fa-xl"></i></a>
      </article>
      </section>
    </header>

  </header>

  <section id="navSection">
    <nav>
      <ul>
        <li><a href="">Feed</a></li>
        <li><a href="">Artist</a></li>
        <li><a href="">Media</a></li>
        <li><a href="">Chatting</a></li>
        <li><a href="">공지사항</a></li>
      </ul>
    </nav>
  </section>



  
  <script src="https://kit.fontawesome.com/2434a52ecc.js" crossorigin="anonymous"></script>
</body>

</html>