@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:500,700");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

@font-face{
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400; 
  font-style: normal;
}


@font-face{
  font-family: 'Pretendard-bold';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 900; 
  font-style: normal;
}


*{
  font-family: 'Pretendard-Regular' !important;
}


html,
body {
  margin: 0px;
  height: 100%;
  
}
/* a blue color as a generic focus style */
a {
  text-decoration: none;
}

main{
  background-color: #1e1e1e;
}

.div-wrapper {
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 1440px;
  align-items: flex-start;
  padding: 0px 50px 0px;
/* position: relative; */

  background-color: #1e1e1e;
}

.comment-list::-webkit-scrollbar-track
{
 background-color: rgb(146, 146, 146);
}

.comment-list::-webkit-scrollbar
{
 width: 12px;
 background-color: #F5F5F5;
}

.comment-list::-webkit-scrollbar-thumb
{
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
 background-color: #555;
}

.div-wrapper .frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 0px 0px;
  /* position: relative; */
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  background-color: #1e1e1e;
}

.div-wrapper .div {
  display: flex;
  height: 775px;
  align-items: flex-start;
/* position: relative; */

  align-self: stretch;
  width: 100%;
}

.div-wrapper .frame-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
/* position: relative; */

  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}

.div-wrapper .video-wrapper {
  display: flex;
  height: 527px;
  align-items: flex-start;
/* position: relative; */

  align-self: stretch;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.div-wrapper .rectangle {
/* position: relative; */

  width: 985px;
  height: 527px;
  background-color: #3c3c3c;
}

.div-wrapper .male-user {
/* position: relative; */

  width: 1px;
  height: 50px;
}

.div-wrapper .frame-4 {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 20px 0px;
/* position: relative; */

  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.div-wrapper .frame-5 {
  display: flex;
  width: 129px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px 10px;
/* position: relative; */

  align-self: stretch;
  background-color: #565656;
  border-radius: 25px;
  overflow: hidden;
}


.div-wrapper .media-title {
/* position: relative; */

  display: flex;
  align-items: center;
  align-self: stretch;
  width: 100%;
  margin-top: -1px;
  font-family: 'Pretendard-bold' !important;
  font-weight: 900;
  color: #ffffff;
  font-size: 32px;
}

.div-wrapper .frame-6 {
  background-color: #1e1e1e;
  border-radius: 10px;
  display: flex;
  height: 54px;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 10px;
  padding: 10px;
/* position: relative; */

  flex: 1;
  flex-grow: 1;
}

.div-wrapper .view-img {

  fill: #ffffff;

  align-self: stretch;
  width: 34px;
}

.div-wrapper .media-view-count {
/* position: relative; */

  align-self: stretch;
  width: 70px;
  font-weight: 500;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.div-wrapper .comment-area-in {
  display: flex;
  height: 33px;
  align-items: flex-start;
/* position: relative; */

  align-self: stretch;
  width: 100%;
}

.div-wrapper .profile-img {
/* position: relative; */

  height: 25px;
  width: 25px;
}

.div-wrapper .comment-writer-area {
  display: flex;
  flex-direction: column;
  width: 107px;
  align-items: flex-start;
  padding: 0px 0px 0px 8px;
/* position: relative; */

  align-self: stretch;
}

.div-wrapper .media-title-wrapper {
/* position: relative; */

  flex: 1;
  align-self: stretch;
  margin-top: -1px;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .media-enroll-date-wrapper {
/* position: relative; */

  flex: 1;
  padding: 5px;
  align-self: stretch;
  font-weight: 500;
  color: #727272;
  font-size: 12px;
}

.div-wrapper .comment-profile {
  display: flex;
  padding: 0px 5px;
  justify-content: flex-end;
  width: 100%;
  height: 33px;
}

.report-img{
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.div-wrapper .frame-10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 20px;
/* position: relative; */

  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.div-wrapper .text-wrapper-6 {
/* position: relative; */

  flex: 1;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .frame-wrapper {
  display: flex;
  flex-direction: column;
  width: 355px;
  align-items: flex-start;
  gap: 10px;
  padding: 0px 10px 30px 30px;
/* position: relative; */

  align-self: stretch;
}

.div-wrapper .comment-list-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
/* position: relative; */

  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  background-color: #333333;
  border-radius: 20px;
  overflow: hidden;
}

.div-wrapper .comment-count {
  display: flex;
  height: 58px;
  align-items: flex-start;
  gap: 10px;
  padding: 17px 20px;

  align-self: stretch;
  width: 100%;
}

.div-wrapper .comment-count {

  width: 191px;
  height: 25px;
  font-weight: 500;
  color: #ffffff;
  font-size: 15px;
}

.div-wrapper .comment-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;

  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  overflow: hidden;
  overflow-y: scroll;
}

.div-wrapper .comment-area , .new-comment-area{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 0px 0px;
/* position: relative; */

  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.div-wrapper .comment-writer {
/* position: relative; */

  align-self: stretch;
  height: 18px;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.div-wrapper .comment-date {
  flex: 1;
  align-self: stretch;
  font-weight: 500;
  color: #727272;
  font-size: 11px;
/* position: relative; */

  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .comment-content-area {
  display: flex;
  align-items: center;
  padding: 8px 0px 8px 40px;
/* position: relative; */

  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.div-wrapper .comment-content {
  flex: 1;
  margin-top: -1px;
  font-weight: 500;
  color: #ffffff;
  font-size: 15px;
/* position: relative; */

  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .speech-bubble-wrapper {
  display: flex;
  height: 21px;
  align-items: flex-start;
  padding: 0px 0px 0px 40px;
/* position: relative; */

  align-self: stretch;
  width: 100%;
}

.div-wrapper .speech-bubble {
/* position: relative; */

  align-self: stretch;
  width: 21px;
}

.div-wrapper .comment-input-area {
  display: flex;
  height: auto;
  align-items: center;
  word-wrap: break-word;
  gap: 10px;
  padding: 15px 18px;
/* position: relative; */

  width: 100%;
}

.div-wrapper .comment-input {
  max-height: 40px;
  width: 220px;
  background-color: #414141;
  border: 0;
  color: #d8d8d8;
  justify-content: center;
  font-size: 15px;
  padding: 10px;
  display: flex;
  border-radius: 25px;
  resize: none;


  overflow: hidden; /* 스크롤바 숨기기 */
  resize: none; /* textarea 크기 조절 비활성화 */
  height: auto; /* 높이 자동 조절 */
  word-wrap: break-word; /* 단어가 textarea의 가로 너비를 초과하면 줄바꿈 */
}

.div-wrapper .comment-input-btn {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 5px;
/* position: relative; */

  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  border-radius: 139px;
  overflow: hidden;
}

.comment-input-btn:hover{
  cursor: pointer;
}

.div-wrapper .up-arrow-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 5px 3px;
/* position: relative; */

  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  background-color: #3e3e3e;
  border-radius: 106px;
  overflow: hidden;
}

.div-wrapper .up-arrow {
/* position: relative; */

  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.speech-bubble {
  cursor: pointer;
}

.hide {
  opacity: 0; /* 투명도를 0으로 설정하여 사라지도록 함 */
  height: 0 !important;
  padding: 0 !important;
  pointer-events: none; /* 사라진 댓글은 클릭 이벤트를 받지 않도록 함 */
  display: none !important;
}

.back-button {
  display: none; /* 처음에는 뒤로가기 버튼을 숨김 */
  cursor: pointer;
  margin-bottom: 10px;
  color: blue;
}

/* 모달 */

#modalOpenButton, #modalCloseButton {
  cursor: pointer;
}

#modalContainer,  #deleteModalContainer{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.modalContent {
  position: absolute;
  background-color: #ffffff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 190px;
    padding: 30px 24px 20px;
    text-align: center;
    border-radius: 15px;
}



#modalContainer.hidden, #deleteModalContainer.hidden, .speech-bubble-wrapper .hidden  {
  display: none;
}

.player{
  width: 100%;
  height: 100%;
}

.player-name {
  margin: 8px 4px;
}


#youtube-url{
  width: 100%;
  height: 100%;
}

.new-comment-list{
  display: flex;
  flex-direction: column;
}

.delete-cross{
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-right: 4px;
}

.modal-sub{
  align-items: center;
  color: #111;
  display: flex;
  flex-grow: 1;
  font-size: 15px;
  justify-content: center;
  line-height: 23px;
  overflow-wrap: break-word;
  white-space: pre-line;
  word-break: break-word;
}

.modal-btn-area{
  display: flex;
  justify-content: center;
  padding-top: 20px;
  gap: 20px;
}


.like-heart{
  width: 21px;
  height: 21px;
  fill: white;
  margin-left: 7px;
  cursor: pointer;
}

.modal-btn{
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  line-height: 19px;
  width: 170px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.modal-btn-close{
  background-color: #ff627d;
}

.modal-btn-confirm{
  background-color: #58a6ff;
}

.update-btn{
  width: 120px;
  display: flex;
  justify-content: center;
  align-content: center;
  color: white;
  font-size: 20px;
  background-color: #555;
  border-radius: 20px;
  padding: 5px 0;
  margin: 5px 10px;
  border: none;
  cursor: pointer;
}

.update-btn-wrapper{
  display: flex;

}


.media-siren{
  width: 36px;
  height: 36px;
  cursor: pointer;
}