

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:500,700");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

@font-face{
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400; 
  font-style: normal;
}

*{
  font-family: 'Pretendard-Regular' !important;
}


.screen {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  min-width: 670px;
  height: 1180px;
  align-items: flex-start;
  gap: 10px;
  padding: 80px 50px 0px;
  position: relative;
  background-color: #ffffff;
}

.screen .frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 80px 0px 0px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  background-color: #000000;
}

.screen .div {
  display: flex;
  height: 58px;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  overflow: hidden;
}

.screen .text-wrapper {
  position: relative;
  width: 419px;
  height: 62px;
  margin-top: -3px;
  margin-bottom: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .media-head {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  padding: 10px 0px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}

.screen .div-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
  background-color: #424242;
  border-radius: 50px;
  overflow: hidden;
}

.screen .text-wrapper-2 {
  width: 88px;
  height: 27px;
  font-size: 16px;
  text-align: center;
  position: relative;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
}

.screen .search-area {
  display: flex;
  width: 259px;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 0px 0px 10px;
  position: relative;
  align-self: stretch;
  background-color: #676767;
  border-radius: 43px;
  overflow: hidden;
}

.screen .search-light {
  cursor: pointer;
  position: relative;
  width: 35px;
  height: 35px;
}

.screen .search-input {
  flex: 1;
  background-color: #00000000;
  height: 100%;
  margin-left: 5px;
  width: 80%;
  border: none;
  font-size: 14px;
  text-align: center;
  position: relative;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 0;
  border-top-right-radius: 20;
  border-bottom-right-radius: 20;
  line-height: normal;
}

.search-input::placeholder{
  color: #fff;
}

.screen .media-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 6px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.screen .component {
  display: inline-flex;
  flex-direction: column;
  height: 281px;
  align-items: flex-start;
  padding: 30px 10px 0px;
  position: relative;
  flex: 0 0 auto;
}

.screen .frame-wrapper {
  position: relative;
  width: 310px;
  height: 180px;
  background-color: #757575;
  border-radius: 20px;
  overflow: hidden;
}

.screen .media-time-div {
  display: flex;
  width: 50px;
  height: 18px;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 88%;
  left: 82%;
  background-color: #515151;
  border-radius: 29px;
}

.screen .media-time {
  position: relative;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 12px;
}

.screen .media-title-div {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: flex-start;
  padding: 15px 0px 0px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.screen .media-title {
  align-self: stretch;
  margin-top: -1px;
  font-size: 15px;
  position: relative;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
}

/* 미디어 프레임 */
.screen .media-frame {
  display: flex;
  width: 300px;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.screen .vector {
  position: relative;
  align-self: stretch;
  width: 15px;
}

/* 조회수 */
.screen .media-hits {
  position: relative;
  align-self: stretch;
  width: 77px;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .media-img-div {
  position: relative;
  width: 310px;
  height: 180px;
  background-color: #757575;
  border-radius: 15px;
  overflow: hidden;
}



/* 셀렉트 박스 */
.selectBox {
  position: relative;
  width: 150px;
  height: 35px;
  border-radius: 20px;
}
.selectBox .select {
  width: inherit;
  height: inherit;
  background: transparent;
  border: 0 none;
  outline: 0 none;
  padding: 0 5px;
  color: #fff;
  position: relative;
  z-index: 3;
}
.selectBox .select option {
  background: #424242;
  color: #fff;
  padding: 3px 0;
  font-size: 16px;
}
.selectBox .icoArrow {
  position: absolute; 
  top: 0; 
  right: 0; 
  z-index: 1; 
  width: 35px; 
  height: inherit;
  border-left: 2px solid rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectBox .icoArrow img {
  width: 50%;
  transition: .3s;
}

.selectBox .select:focus + .icoArrow img {
  transform: rotate(180deg);
}

