@font-face{
   font-family: 'Pretendard-Regular';
   src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
   font-weight: 400; 
   font-style: normal;
}

* {
   box-sizing: border-box;
   font-family: 'Pretendard-Regular';
}


/* .cartNo{
   display: none;
} */

.order-input {
   width: 400px;
   height: 40px;
   font-size: 16px;
    border: 1px solid rgb(173, 177, 184); 
   
   outline-color:rgba(119, 67, 219, 1);
   border-radius: 4px;
   /* width: 320px !important;
   height: 34px !important; */
}

.frame {
   width: 1400px;
   min-height: 600px;
   margin:auto;
   padding: 150px;
   position: relative;
}

h1 {
   display: block;
   font-size: 32px;
   margin-block-start: 0.67em;
   margin-block-end: 0.67em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   font-weight: bold;
   
}



/* .item-list {
   border-bottom: 1px solid #ccc; /* 회색의 1픽셀 두께의 경계선 */
   
   .check-list {
      display: flex; /* Flexbox 레이아웃 사용 */
      justify-content: space-between; /* 요소들을 양 끝에 배치 */
      align-items: center; /* 세로 중앙 정렬 */
      width: 100%; /* 전체 너비 사용 */
  }
  
  .totalItemPrice {
      white-space: nowrap; /* 줄 바꿈 방지 */
      overflow: hidden; /* 내용이 넘칠 경우 숨김 */
      text-overflow: ellipsis; /* 넘칠 경우 말줄임표 표시 */
  }
    
/* .orderedi{
   border: none; 
   border-top: 1px solid rgb(217, 217, 217); 
   margin: 20px 0;
}  */


hr {
   border: none; /* 기본 테두리 제거 */
   border-top: 1px solid rgb(217, 217, 217); /* 상단에만 회색 테두리 적용 */
   margin: 20px 0 20px 0; /* 위아래 여백 추가 */
}

.totalQuantityNprice{
   /* width: auto; */
   margin: 10px 0 0 18px;
   display: flex;
}

.select-all{
   font-weight: bold;
   font-size: 18px;
   margin-top: 180px;
   /* border-bottom: solid rgb(217, 217, 217) 1px;
   padding: 15px 0px; */
   align-items: center;
}

.select-all > span{

   margin-left: 20px;
   margin-bottom: 20px;
   
}

.item-list{
   
   font-weight: 500;
   font-size: 16px;
   /* height: 120px; */
    /* display: flex; */
    -webkit-box-align: center;
    align-items: center;
    position: relative;
   
}

.i-count{
   position: absolute;
   top: 45%;
   right: 22%;
}

.item-count{
   
   position: absolute;
   top: 45%;
   right: 20%;
}

.d-price{
   position: absolute;
   top: 45%;
   right: 1%;
}

.tp{
   margin-left: 20px;
}

.default-price{
   
   position: absolute;
   top: 45%;
   right: 1%;
}



.item-name > a{
   text-decoration: none;
   font-size: 16px;
   color: black;
}
.item-name{
   
   margin-left: 30px;
   position: absolute;
   
   top: 28%;
}

.item-option{
   margin-left: 30px;
   margin-top: 32px;
   top: 30px;
   position: absolute;
   font-size: 14px;
   color:rgb(217, 217, 217);
}

.optionTag{
   position: absolute;
   font-size: 16;
   color: rgb(113, 113, 112);
   top: 52%;
   left: 134px;
}

.option-text{
   top: 52%;
   left: 16%;
   position: absolute;

   font-size: 16;
   color: rgb(113, 113, 112);
}

.check-list-line{

   margin-top: 50px;
   height: 1px;
   border: 0;
   background: rgb(217, 217, 217);
   
   
}

.item-amount{
   top: 44%;
   position: absolute;
   right: 250px;  
}
/* 
.item-price{
   top: 44%;
   position: absolute;
   right: 8px;
} */

.item-list>.item-text {
   display: inline-block;
   align-items: flex-start;
}

.check-list{

   height: 58px;
   position: relative;
   font-size: 16px;
   /* margin: 50px 0 120px 12px; */
   
}

.check-price{
   font-size: 16px;
   /* margin-left: 12px; */
}

.check-total{
   position: absolute;
   right: 8px;
}



.order-list{
   margin: 90px 0 32px 16px;
   /* border-bottom: solid rgb(217, 217, 217) 1px; */
}

.order-list > .order-name{
   font-size: 20px;
   font-weight: 700;
}

.shipping-input{
   font-size: 16px;
}

.shipping-list > .shipping-name{
   font-size: 22px;
   font-weight: 700;

}

.order-input{
   font-size: 16px;
   margin-top: 12px;
}

.name-input > input{
   width: 400px;
   height: 40px;
   /* width: 120px;
   height: 40px; */
   margin-top: 12px;
}

.orderInfo{
   
    font-weight: bold;
    font-size: 16px;
   margin-top: 74px;
}

.name-input{
   margin: 10px 0 0 0;
}


.phonenumber-input > input{
   width: 400px;
   height: 40px;
   /* width: 120px;
   height: 40px; */
   margin-top: 12px;
}

.shipping-list{
   font-weight: bold;
   margin: 4px 0 90px 16px;

   /* border-bottom: solid rgb(217, 217, 217) 1px; */
}

.shipping-input{
   margin-top: 44px;
}

/* .address-input > input{
   /* width: 280px;
   height: 24px;

   margin: 10px 0 0 0; */
   /* width: 320px;
   height: 34px; */
   /* width: 120px;
   height: 40px; */
   /* margin-top: 14px;

} */ 

.phonenumber-input-area{
   margin-top: 38px;
}

/* .address-detail > input{
   width: 320px;
   height: 34px; */
   /* width: 120px;
   height: 40px; */
   /* margin-top: 2px;
} */

/* .input-detail > input {
   width: 320px;
   height: 34px;
   /* width: 120px;
   height: 40px; */
   /* margin-top: 2px;
} */ 

.input-detail{
   margin-top: 6px;
   margin-bottom: 32px;
}

.address-detail{
   font-size: 16px;
   width: 280px;
   margin: 38px 0 0 0; 
}

.detail-price{
   font-size: 20px;
   font-weight: bold;
}

.name-btn{
   margin: 0 0 0 12px;
   border-radius: 4px;
    transition: all 300ms ease 0s;
    appearance: none;
    background: none;
    cursor: pointer;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 32px;
    font-size: 18px;
    border: 1px solid rgb(173, 177, 184);
    color: rgb(135, 142, 150);
    width: 44px;
    display: inline-flex;
}

.shipping-btn{
   margin: 0 0 0 12px;
   border-radius: 4px;
    transition: all 300ms ease 0s;
    appearance: none;
    background: none;
    cursor: pointer;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 32px;
    font-size: 16px;
    border: 1px solid rgb(173, 177, 184);
    color: rgb(135, 142, 150);
    /* width: 42px; */
    display: inline-flex;
}

.address-btn{
   margin: 0 0 14px 6px;
   border-radius: 4px;
    transition: all 300ms ease 0s;
    appearance: none;
    background: none;
    cursor: pointer;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 34px;
    font-size: 14px;
    border: 1px solid rgb(173, 177, 184);
    color: rgb(135, 142, 150);
    width:  60px;
    display: inline-flex;
}

.pm{
   align-items: center;
   display: flex;
}

.ptext{
   margin-left: 8px;
}

.pimage{
   width: 64px;
   margin-left: 10px;
   height: 28px;

}



.price-detail{
   
   position: relative;
   margin: 80px 0 0 16px;
}

.detail{
   width: auto;
   font-size: 16px;
   top: 70px;
   position: absolute;
}

/* .price-detail > span{
   right:0;
   /* margin-left: 1016px; */


.item-list>img{
   border-radius: 2px;
   width: 100px;
   height: 100px;
   object-fit: cover;
}

.total-price1{
   margin-left: 834px;
   width: auto;
}

.total{
   height: 80px;
   width: auto;
   margin-top: 120px;
   background-color: rgb(255, 254, 237);
   padding: 20px;
   display: flex;
   -webkit-box-pack: justify;
   /* justify-content: space-between; */
   align-items: center;
   font-weight: 700;
   font-size: 22px;
   border-bottom: solid rgb(217, 217, 217) 1px;
   letter-spacing: -1.6px;
}

.purchasePrice {

   margin-left: 874px;
}


.total > .total-price{
   background-color: rgb(255, 254, 237);
}




.total > div{
   letter-spacing: -1.2px;
}

.total-price{
   font-size: 22px;
}

.sc-e98633bc-7 {
      background: rgb(255, 254, 237);
      right: 166px;
      position: absolute;
      letter-spacing: -1.2px;
}

.total > div{
   letter-spacing: -1.2px;
}

/* .sc-e98633bc-7 {
   position: absolute;
   right: 128px;
} */

.checkOut-btn {
border-radius: 4px;
    transition: all 300ms ease 0s;
    margin: 0px;
    appearance: none;
    background: none rgba(119, 67, 219, 1);
    border: none;
    cursor: pointer;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 36px;
    font-size: 14px;
    font-weight: 500;
    --horizontal-padding: 1.8rem;
    color: rgb(255, 255, 255);
    width: auto;
    display: inline-flex;
    padding: 0 var(--horizontal-padding);

}

.keyring{
   font-weight: bold;
}

.payMethod{
   margin-left: 34px;
}

.payment-method{
   font-size: 16px;
   margin: 32px 0 0 16px;
   /* height: 80px; */
   -webkit-box-align: center;
   align-items: center;
   position: relative;


}

.method{
   margin-top: 10px;
   height: 50px;
   align-items: center;
   position: relative;
   padding-top: 30px;
}

.method>div{
   margin-top: 0px;
   height: 80px;
   border-bottom: solid rgb(217, 217, 217) 1px;
}

.cash{

   margin-top: 10px;
}

.cash {
   margin-top: 20px;
}

.kakaopay{
   height: 22px;
}

.visa{
   height: 32px;
}

.tou{
   margin: 12px 0 0 16px;
   font-size: 14px;
}
.checkout-area{
   margin-top: 100px;
   display: flex;
   align-items: center;
   justify-content: center;
}

 .checkOut-btn{
   border-radius: 4px;
    transition: all 300ms ease 0s;
    margin: 40px;
    appearance: none;
    /* background: none rgb(227, 69, 224); */
    background: none rgba(119, 67, 219, 1);
    border: none;
    cursor: pointer;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 40px;
    font-size: 20px;
    font-weight: 500;
    --horizontal-padding: 1.8rem;
    color: rgb(255, 255, 255);
    width: auto;
    display: inline-flex;
    padding: 0 var(--horizontal-padding);
} 

.aass {

   font-weight: bold;
   font-size: 20px;

}


.invalid {
   
border: 2px solid rgb(240, 89, 89); /* 빨간 테두리 적용 */

}


/* 
#memberNo {
   display: none;
} */

/* .cartNo{
   display: none;
} */
