<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>noticeDetail</title>

    <link rel="stylesheet" href="/css/common/shopHeader.css" />
    <link rel="stylesheet" href="/css/shop/noticeDetail.css" />
  </head>
  <body>
    <th:block th:replace="~{common/shopHeader}"></th:block>

    <div class="screen">
      <div class="frame">
        <div class="div-wrapper"><div class="text-wrapper">공지사항</div></div>
        <div class="div">
          <div class="notice-head">
            <div class="notice-artist">NewJeans</div>
            <div class="notice-head-wrapper">
              <span class="notice-title">NewJeans collaboration 상품 판매 안내<br /></span>
              <span class="notice-enroll-date">2023. 11. 21</span>
            </div>
          </div>
          <img class="line" src="img/line-347.svg" />
        </div>
        <div class="content-wrapper">
          <p class="notice-content">
            안녕하세요.<br />공식 상품 스토어, 위버스샵입니다.<br /><br />NewJeans collaboration 상품을 12월 1일 (금)
            부터 판매합니다.<br /><br />자세한 내용은 아래에서 확인하실 수 있습니다.<br /><br />&lt; NewJeans
            collaboration 상품 판매 안내 &gt;<br /><br />* 판매일정 (KST 기준)<br />- 판매 일시 : 2023년 12월 1일 (금)
            오전 11시 ~ 재고 소진 시<br />- 출고일 : 2023년 12월 5일 (화) 부터 배송 예정 (글로벌 배송 가능)<br />※ 본
            판매 건은 선 제작된 수량을 기준으로 진행되며, 준비된 수량 소진 시 조기 품절될 수 있습니다.<br /><br />* 판매
            상품<br />- 공식 상품 리스트와 상품 상세 설명은 해당 카테고리에서 확인하실 수 있습니다.<br />- COLLAB &gt;
            TOKKI<br />- COLLAB &gt; Get Up<br />- COLLAB &gt; bunini<br />- COLLAB &gt; illustration<br /><br />*
            주문시 유의사항<br />- 옵션 상품의 경우, 최대 구매 가능 수량은 각 옵션별 3개입니다.<br />- 단일 상품의 경우,
            최대 구매 가능 수량은 3개입니다.<br /><br />* 결제 수단 안내<br />- 신용카드(체크카드 포함)와 PayPal,
            Eximbay, Payco, Toss, 네이버페이, 카카오페이, 위버스카드로 결제하실 수 있습니다.<br />- Toss, 네이버페이,
            카카오페이 결제수단 추가로 카드 없이 결제수단별 충전 금액으로 결제가 가능합니다.<br />- 통화를 미국
            달러(USD) 또는 일본 엔(JPY)으로 설정한 경우 PayPal, Eximbay를 통한 해외 신용카드, 알리페이 결제가
            가능합니다.<br /><br />* 배송 시 유의 사항<br />- 배송지 입력 시, 상세 주소가 필수로 입력되어야 합니다. 해당
            정보가 누락된 경우, 배송이 불가하니 주문에 참고해주세요.<br />- 대한민국 배송의 경우, 서비스 언어를 한국어로
            변경 후 주소를 한국어로 기재하여 주문해주세요.<br />- 배송지가 일본인 경우, 서비스 언어를 일본어로 변경 후
            주소를 일본어로 기재하여 주문해주세요.<br />- 그 외 국가 배송의 경우, 수취인 명과 주소가 영문으로 기재되어야
            정상배송이 가능하니 주문에 참고해주세요. 다른 언어로 기재되어 있는 경우, 배송이 어렵습니다. 예) á, é, í, ó,
            ú, ü, ñ 등의 문자가 포함되어 있는 경우<br /><br />※ 해외에서 주문하시는 경우, 다량의 주문건을 같은 주소로
            배송/통관할 시 국가별 정책에 따라 관세가 부과되거나 통관이 불가할 수 있습니다. 구매 시 유의 바랍니다. 또한,
            대량 주문으로 부과된 관세는 구매자 부담입니다.<br /><br />※ 주소 오기재 시 배송 지연과 배송 중 분실 등의
            문제가 발생할 수 있습니다. 한정 수량 제품의 경우 배송 중 분실에 대해 추가 발송이 어려울 수 있습니다. 주문 후
            작성해주신 주소가 정확한지 꼭 확인해주세요.<br /><br /><br /><br />All things for Fans, 위버스샵
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
