<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="../../static/css/artistprofile/profile.css">
</head>
 <body>
  <div class="all">
    <div class="Img">
      <div class="mainImg">
        <img src="../../static/image/아티스트 메인배경.jpg" width="100%" height="100%">
      </div>
      <div class="artistIntro">
        <div class="artistIntro-name">
          <img src="../../static/image/클라씨아이콘.webp" alt="" width="100%" height="100%">
        </div>
      </div>
      <div class="artistIntro-content">
        <p>음악부터 패션, 트렌드를 선도하는 '멋있고 쿨한 그룹이라는 뜻을 가지고 있다.
            화려한 비주얼, 완벽한 퍼포먼스와 가창력 등 다채로운 매력으로 가요계의 새로운 역사를 쓰고 있다.
        </p>
      </div>
    </div>
    <div class="profiletxt"><h3>프로필</h3></div>

    <div class="profileALl">
      <a href="#">
        <div class="profileImg">
          <div class="profileImage">
            <img src="../../static/image/보은.jpeg" width="100%" height="100%">
          </div>
          <div class="profileName">
            <li>보은</li>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="profileImg">
          <div class="profileImage">
            <img src="../../static/image/선유.jpeg" width="100%" height="100%">
          </div>
          <div class="profileName">
            <li>선유</li>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="profileImg">
          <div class="profileImage">
            <img src="../../static/image/윤경.jpeg" width="100%" height="100%">
          </div>
          <div class="profileName">
            <li>윤경</li>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="profileImg">
          <div class="profileImage">
            <img src="../../static/image/지민.jpeg" width="100%" height="100%">
          </div>
          <div class="profileName">
            <li>지민</li>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="profileImg">
          <div class="profileImage">
            <img src="../../static/image/채원.jpeg" width="100%" height="100%">
          </div>
          <div class="profileName">
            <li>채원</li>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="profileImg">
          <div class="profileImage">
            <img src="../../static/image/형서.jpeg" width="100%" height="100%">
          </div>
          <div class="profileName">
            <li>형서</li>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="profileImg">
          <div class="profileImage">
            <img src="../../static/image/혜주.jpeg" width="100%" height="100%">
          </div>
          <div class="profileName">
            <li>보은</li>
          </div>
        </div>
      </a>
      
    </div>
    <div class="textVideo">
      <div class="profiletxt"><h3>Media</h3></div>
      <div class="artistvideo">
        <ul> 
          <li>
            <a href="#">
              <div class="videoImg">
                <img src="../../static/image/비디오이미지.jpeg" width="100%" height="100%">
              </div>
              <div class="videoDate">11.29.16:10</div>
              <strong class="videoComment">안녀엉</strong>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="videoImg">
                <img src="../../static/image/비디오이미지.jpeg" width="100%" height="100%">
              </div>
              <div class="videoDate">11.29.16:10</div>
              <strong class="videoComment">안녀엉</strong>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="videoImg">
                <img src="../../static/image/비디오이미지.jpeg" width="100%" height="100%">
              </div>
              <div class="videoDate">11.29.16:10</div>
              <strong class="videoComment">안녀엉</strong>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="videoImg">
                <img src="../../static/image/비디오이미지.jpeg" width="100%" height="100%">
              </div>
              <div class="videoDate">11.29.16:10</div>
              <strong class="videoComment">안녀엉</strong>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="videoImg">
                <img src="../../static/image/비디오이미지.jpeg" width="100%" height="100%">
              </div>
              <div class="videoDate">11.29.16:10</div>
              <strong class="videoComment">안녀엉</strong>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="videoImg">
                <img src="../../static/image/비디오이미지.jpeg" width="100%" height="100%">
              </div>
              <div class="videoDate">11.29.16:10</div>
              <strong class="videoComment">안녀엉</strong>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="ArtistShop">
      <div class="profiletxt"><h3>Artist Shop</h3></div>
      <div class="artistShop">
        <ul>
          <li>
            <a href="#">
              <div class="shopImg">
                <img src="../../static/image/상품.png" width="100%" height="100%">
              </div>
              <strong class="shopComment">방탄소년단 앨범</strong>
              <div class="shopPrice">가격 :45,000원</div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="shopImg">
                <img src="../../static/image/상품.png" width="100%" height="100%">
              </div>
              <strong class="shopComment">방탄소년단 앨범</strong>
              <div class="shopPrice">가격 :45,000원</div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="shopImg">
                <img src="../../static/image/상품.png" width="100%" height="100%">
              </div>
              <strong class="shopComment">방탄소년단 앨범</strong>
              <div class="shopPrice">가격 :45,000원</div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="shopImg">
                <img src="../../static/image/상품.png" width="100%" height="100%">
              </div>
              <strong class="shopComment">방탄소년단 앨범</strong>
              <div class="shopPrice">가격 :45,000원</div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="Notice">
      <ul>
        <li>
          <a href="#">
            <span class="NoticeTitle">공지</span>
            <span class="NoticeContent">[이벤트]위버스 커뮤니티 오픈 기념 이벤트!</span>
            <span>></span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="NoticeTitle">공지</span>
            <span class="NoticeContent">[이벤트]위버스 커뮤니티 오픈 기념 이벤트!</span>
            <span>></span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="NoticeTitle">공지</span>
            <span class="NoticeContent">[이벤트]위버스 커뮤니티 오픈 기념 이벤트!</span>
            <span>></span>
          </a>
        </li>
      </ul>
    </div>
  </div>


 </body>
  

</html>