<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/chatting/chatting.css" />
  </head>
  <body>
    <header>헤더+nav</header>
    <main>
      <div class="artist-name">NewJeans</div>
      <div class="chatting-area">
        <ul>
          <li class="chat-list">
            <!-- <div class="chatting-profile"> -->
            <img src="../../static/images/user.png" class="list-profile" />
            <div>
              <b>연예인</b>
              <br />
              <p class="chat">채팅내용입니다 안녕하세요안녕하세요안녕하세요안녕하세요</p>
              <span class="chat-date">2023.11.27 15:29</span>
            </div>
            <!-- </div> -->
          </li>
          <li class="chat-list">
            <img src="../../static/images/user.png" class="list-profile" />
            <div>
              <b>연예인</b>
              <br />
              <p class="chat">안녕하세요안녕하세요안녕하세요안녕하세요</p>
              <span class="chat-date">2023.11.27 15:29</span>
            </div>
          </li>
          <li class="chat-list">
            <!-- <div class="chatting-profile"> -->
            <img src="../../static/images/user.png" class="list-profile" />
            <div>
              <b>연예인</b>
              <br />
              <p class="chat">안녕하세요 뭐하고 지내셨어요 저는 오늘 맛있는 치킨을 먹었어요!</p>
              <span class="chat-date">2023.11.27 15:29</span>
            </div>
            <!-- </div> -->
          </li>
          <li class="mychat-list">
            <!-- <div class="mychat"> -->
            <span class="chat-date">15:29</span>
            <p class="chat">안녕하세요 뭐하고 지내셨어요 저는 오늘 맛있는 치킨을 먹었어요!</p>
            <!-- </div> -->
            <!-- </div> -->
          </li>
          <li class="chat-list">
            <!-- <div class="chatting-profile"> -->
            <img src="../../static/images/user.png" class="list-profile" />
            <div>
              <b>연예인</b>
              <br />
              <p class="chat">채팅내용입니다 안녕하세요안녕하세요안녕하세요안녕하세요</p>
              <span class="chat-date">2023.11.27 15:29</span>
            </div>
            <!-- </div> -->
          </li>
          <li class="chat-list">
            <img src="../../static/images/user.png" class="list-profile" />
            <div>
              <b>연예인</b>
              <br />
              <p class="chat">안녕하세요안녕하세요안녕하세요안녕하세요</p>
              <span class="chat-date">2023.11.27 15:29</span>
            </div>
          </li>
          <li class="chat-list">
            <!-- <div class="chatting-profile"> -->
            <img src="../../static/images/user.png" class="list-profile" />
            <div>
              <b>연예인</b>
              <br />
              <p class="chat">안녕하세요 뭐하고 지내셨어요 저는 오늘 맛있는 치킨을 먹었어요!</p>
              <span class="chat-date">2023.11.27 15:29</span>
            </div>
            <!-- </div> -->
          </li>
          <li class="mychat-list">
            <!-- <div class="mychat"> -->
            <span class="chat-date">15:29</span>
            <p class="chat">안녕하세요 뭐하고 지내셨어요 저는 오늘 맛있는 치킨을 먹었어요!</p>
            <!-- </div> -->
            <!-- </div> -->
          </li>
          <li class="chat-list">
            <!-- <div class="chatting-profile"> -->
            <img src="../../static/images/user.png" class="list-profile" />
            <div>
              <b>연예인</b>
              <br />
              <p class="chat">채팅내용입니다 안녕하세요안녕하세요안녕하세요안녕하세요</p>
              <span class="chat-date">2023.11.27 15:29</span>
            </div>
            <!-- </div> -->
          </li>
          <li class="chat-list">
            <img src="../../static/images/user.png" class="list-profile" />
            <div>
              <b>연예인</b>
              <br />
              <p class="chat">안녕하세요안녕하세요안녕하세요안녕하세요</p>
              <span class="chat-date">2023.11.27 15:29</span>
            </div>
          </li>
          <li class="chat-list">
            <!-- <div class="chatting-profile"> -->
            <img src="../../static/images/user.png" class="list-profile" />
            <div>
              <b>연예인</b>
              <br />
              <p class="chat">안녕하세요 뭐하고 지내셨어요 저는 오늘 맛있는 치킨을 먹었어요!</p>
              <span class="chat-date">2023.11.27 15:29</span>
            </div>
            <!-- </div> -->
          </li>
          <li class="mychat-list">
            <!-- <div class="mychat"> -->
            <span class="chat-date">15:29</span>
            <p class="chat">안녕하세요 뭐하고 지내셨어요 저는 오늘 맛있는 치킨을 먹었어요!</p>
            <!-- </div> -->
            <!-- </div> -->
          </li>
          <li class="chat-list">
            <!-- <div class="chatting-profile"> -->
            <img src="../../static/images/user.png" class="list-profile" />
            <div>
              <b>연예인</b>
              <br />
              <p class="chat">채팅내용입니다 안녕하세요안녕하세요안녕하세요안녕하세요</p>
              <span class="chat-date">2023.11.27 15:29</span>
            </div>
            <!-- </div> -->
          </li>
          <li class="chat-list">
            <img src="../../static/images/user.png" class="list-profile" />
            <div>
              <b>연예인</b>
              <br />
              <p class="chat">안녕하세요안녕하세요안녕하세요안녕하세요</p>
              <span class="chat-date">2023.11.27 15:29</span>
            </div>
          </li>
          <li class="chat-list">
            <!-- <div class="chatting-profile"> -->
            <img src="../../static/images/user.png" class="list-profile" />
            <div>
              <b>연예인</b>
              <br />
              <p class="chat">안녕하세요 뭐하고 지내셨어요 저는 오늘 맛있는 치킨을 먹었어요!</p>
              <span class="chat-date">2023.11.27 15:29</span>
            </div>
            <!-- </div> -->
          </li>
          <li class="mychat-list">
            <!-- <div class="mychat"> -->
            <span class="chat-date">15:29</span>
            <p class="chat">안녕하세요 뭐하고 지내셨어요 저는 오늘 맛있는 치킨을 먹었어요!</p>
            <!-- </div> -->
            <!-- </div> -->
          </li>
        </ul>
        <div class="input-area">
          <textarea id="inputChat" row="4"></textarea>
          <button id="send">전송</button>
        </div>
      </div>
    </main>
  </body>
</html>
