<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/common/artistPageHeader.css" />
    <link rel="stylesheet" href="/css/common/artistPageNavi.css" />
    <link rel="stylesheet" href="/css/chatting/chatting.css" />
    <link rel="stylesheet" href="/css/common/footer.css" />
  </head>
  <body>
    <th:block th:replace="~{common/artistPageHeader}">헤더</th:block>
    <!-- <section id="navSection">
      <nav>
        <ul>
          <li><a href="/artistHomepage/feed">Feed</a></li>
          <li><a href="/artistHomepage/artist">Artist</a></li>
          <li><a href="/media/media">Media</a></li>
          <li><a href="">Live</a></li>
          <li><a href="/chatting/chatting">Chatting</a></li>
          <li><a href="">공지사항</a></li>
        </ul>
      </nav>
    </section> -->
    <th:block th:replace="~{common/artistPageNavi}">nav바</th:block>
    <main>
      <div class="main-div">
        <div class="chatting-area">
          <ul class="chat-ul">
            <!-- <li class="chat-list">
            <img src="/images/user.png" class="list-profile" />
            <div>
              <b>연예인</b>
              <br />
              <p class="chat">
                채팅내용입니다 안녕하세요안녕하세요안녕하세요안녕하세요
              </p>
              <span class="chat-date">2023.11.27 15:29</span>
            </div>
          </li>
          <li class="chat-list">
            <img src="/images/user.png" class="list-profile" />
            <div>
              <b>연예인</b>
              <br />
              <p class="chat">
                채팅내용입니다 안녕하세요안녕하세요안녕하세요안녕하세요
              </p>
              <span class="chat-date">2023.11.27 15:29</span>
            </div>
          </li>
          <li class="mychat-list">
            <span class="chat-date">15:29</span>
            <p class="chat">
              안녕하세요 뭐하고 지내셨어요 저는 오늘 맛있는 치킨을 먹었어요!
            </p>
          </li> -->
          </ul>
          <div class="input-area">
            <textarea id="inputChat" row="4"></textarea>
            <button id="send">전송</button>
          </div>
        </div>
        <div class="chatList">
          <div class="artirstImg">
            <img th:src="|${artistGroupImage}|" id="artistImg" />
          </div>
          <div class="userList">
            <div class="userTitle">유저 닉네임</div>
            <ul class="user-list">
              <!-- <li class="userName" th:text="${loginMember.memberNickname}">유저이름</li> -->
            </ul>
          </div>
        </div>
      </div>
    </main>
    <th:block th:replace="~{common/footer}"></th:block>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>

    <script th:inline="javascript">
      const loginMember = /*[[${session.loginMember}]]*/ "로그인 회원";
      const loginMemberNo = /*[[${session.loginMember?.memberNo}]]*/ "로그인회원번호";
      const memberNickname = /*[[${session.loginMember?.memberNickname}]]*/ "닉네임";
      const authority = /*[[${session.loginMember?.memberAuthority}]]*/ "권한";
      const userDefaultImage = /*[[#{user.default.image}]]*/ "기본 이미지";
      const artistGroupNo = /*[[${artistGroupNo}]]*/ "그룹번호";
      const memberProfile = /*[[${session.loginMember?.memberProfile}]]*/ "로그인 회원 프로필";
    </script>

    <script src="/js/chatting/chatting.js"></script>
  </body>
</html>
