<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="enter">
      <nav>
        <ul>
          <li>
            <a href="/chatting">채팅</a>
          </li>
        </ul>
      </nav>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>

    <script src="../../static/js/chatting/webSocket.js"></script>
  </body>
</html>
